# Limpieza de datos para encuesta ENDITUH 2017, Tabla tr_hogar

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tr_hogar.csv', encoding='latin', low_memory=False)
df.head()

,ï»¿UPM,VIV_SEL,HOGAR,N_INF,P4_1_1,P4_1_2,P4_1_3,P4_1_4,P4_1_5,P4_1_6,...,P5_7_7,P5_8_7,P5_10_1,P5_10_2,P5_10_3,CD_ENDUTIH,ENT,FAC_HOG,UPM_DIS,EST_DIS
0,100008,1,1,2,1,1,1,1,1,2,...,NaN,NaN,1.0,2.0,1.0,14.0,1,144.0,1,3
1,100008,2,1,1,2,1,2,1,1,2,...,200.0,NaN,1.0,1.0,3.0,14.0,1,144.0,1,3
2,100008,3,1,1,1,1,1,1,1,1,...,NaN,NaN,1.0,2.0,1.0,14.0,1,144.0,1,3
3,100008,4,1,1,2,2,2,2,1,2,...,400.0,NaN,1.0,3.0,3.0,14.0,1,144.0,1,3
4,100008,4,2,1,2,2,2,2,1,2,...,0.0,1.0,1.0,3.0,3.0,14.0,1,144.0,1,3

## General stats

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135341 entries, 0 to 135340
Data columns (total 75 columns):
ï»¿UPM        135341 non-null int64
VIV_SEL       135341 non-null int64
HOGAR         135341 non-null int64
N_INF         135341 non-null int64
P4_1_1        135341 non-null int64
P4_1_2        135341 non-null int64
P4_1_3        135341 non-null int64
P4_1_4        135341 non-null int64
P4_1_5        135341 non-null int64
P4_1_6        135341 non-null int64
P4_2_1        135341 non-null int64
P4_2_2        135341 non-null int64
P4_2_3        135341 non-null int64
P4_3          70348 non-null float64
P4_3E         3018 non-null object
P4_4          135341 non-null int64
P4_5          75001 non-null float64
P4_6_1        60671 non-null float64
P4_6_2        60671 non-null float64
P4_6_3        60671 non-null float64
P4_6_4        60671 non-null float64
P4_6_5        60671 non-null float64
P4_6_6        60671 non-null float64
P4_6_6E       248 non-null object
P4_7_1        41071 non-null float64
P4_7_2        41071 non-null float64
P4_7_3        41071 non-null float64
P4_7_4        41071 non-null float64
P4_7_5        41071 non-null float64
P4_7_5E       386 non-null object
P4_8          60340 non-null float64
P4_8E         2235 non-null object
P5_1          135341 non-null int64
P5_2_1        71872 non-null float64
P5_2_2        71872 non-null float64
P5_3          63469 non-null float64
P5_3E         4998 non-null object
P5_4          135341 non-null int64
P5_5_1        135341 non-null int64
P5_5_2        135341 non-null int64
P5_5_3        135341 non-null int64
P5_5_4        135341 non-null int64
P5_6_1        101819 non-null float64
P5_7_1        13943 non-null float64
P5_8_1        153 non-null float64
P5_9_1        144 non-null float64
P5_6_2        101819 non-null float64
P5_7_2        822 non-null float64
P5_8_2        20 non-null float64
P5_9_2        14 non-null float64
P5_6_3        101819 non-null float64
P5_7_3        12218 non-null float64
P5_8_3        219 non-null float64
P5_9_3        32 non-null float64
P5_6_4        101819 non-null float64
P5_7_4        26280 non-null float64
P5_8_4        271 non-null float64
P5_9_4        153 non-null float64
P5_6_5        101819 non-null float64
P5_7_5        45147 non-null float64
P5_8_5        916 non-null float64
P5_6_6        101819 non-null float64
P5_7_6        9792 non-null float64
P5_8_6        313 non-null float64
P5_6_7        101819 non-null float64
P5_7_7        25425 non-null float64
P5_8_7        4646 non-null float64
P5_10_1       101819 non-null float64
P5_10_2       101819 non-null float64
P5_10_3       101819 non-null float64
CD_ENDUTIH    90960 non-null float64
ENT           135341 non-null int64
FAC_HOG       135341 non-null float64
UPM_DIS       135341 non-null int64
EST_DIS       135341 non-null int64
dtypes: float64(47), int64(23), object(5)
memory usage: 77.4+ MB

## Numbers of rows

In [4]:
df.shape[0]

135341

## Numbers of columns

In [5]:
df.shape[1]

75

## Columns names

In [6]:
df.columns.values.tolist()

['ï»¿UPM',
 'VIV_SEL',
 'HOGAR',
 'N_INF',
 'P4_1_1',
 'P4_1_2',
 'P4_1_3',
 'P4_1_4',
 'P4_1_5',
 'P4_1_6',
 'P4_2_1',
 'P4_2_2',
 'P4_2_3',
 'P4_3',
 'P4_3E',
 'P4_4',
 'P4_5',
 'P4_6_1',
 'P4_6_2',
 'P4_6_3',
 'P4_6_4',
 'P4_6_5',
 'P4_6_6',
 'P4_6_6E',
 'P4_7_1',
 'P4_7_2',
 'P4_7_3',
 'P4_7_4',
 'P4_7_5',
 'P4_7_5E',
 'P4_8',
 'P4_8E',
 'P5_1',
 'P5_2_1',
 'P5_2_2',
 'P5_3',
 'P5_3E',
 'P5_4',
 'P5_5_1',
 'P5_5_2',
 'P5_5_3',
 'P5_5_4',
 'P5_6_1',
 'P5_7_1',
 'P5_8_1',
 'P5_9_1',
 'P5_6_2',
 'P5_7_2',
 'P5_8_2',
 'P5_9_2',
 'P5_6_3',
 'P5_7_3',
 'P5_8_3',
 'P5_9_3',
 'P5_6_4',
 'P5_7_4',
 'P5_8_4',
 'P5_9_4',
 'P5_6_5',
 'P5_7_5',
 'P5_8_5',
 'P5_6_6',
 'P5_7_6',
 'P5_8_6',
 'P5_6_7',
 'P5_7_7',
 'P5_8_7',
 'P5_10_1',
 'P5_10_2',
 'P5_10_3',
 'CD_ENDUTIH',
 'ENT',
 'FAC_HOG',
 'UPM_DIS',
 'EST_DIS']

## Column data types

In [7]:
df.dtypes

ï»¿UPM          int64
VIV_SEL         int64
HOGAR           int64
N_INF           int64
P4_1_1          int64
P4_1_2          int64
P4_1_3          int64
P4_1_4          int64
P4_1_5          int64
P4_1_6          int64
P4_2_1          int64
P4_2_2          int64
P4_2_3          int64
P4_3          float64
P4_3E          object
P4_4            int64
P4_5          float64
P4_6_1        float64
P4_6_2        float64
P4_6_3        float64
P4_6_4        float64
P4_6_5        float64
P4_6_6        float64
P4_6_6E        object
P4_7_1        float64
P4_7_2        float64
P4_7_3        float64
P4_7_4        float64
P4_7_5        float64
P4_7_5E        object
               ...
P5_9_1        float64
P5_6_2        float64
P5_7_2        float64
P5_8_2        float64
P5_9_2        float64
P5_6_3        float64
P5_7_3        float64
P5_8_3        float64
P5_9_3        float64
P5_6_4        float64
P5_7_4        float64
P5_8_4        float64
P5_9_4        float64
P5_6_5        float64
P5_7_5        float64
P5_8_5        float64
P5_6_6        float64
P5_7_6        float64
P5_8_6        float64
P5_6_7        float64
P5_7_7        float64
P5_8_7        float64
P5_10_1       float64
P5_10_2       float64
P5_10_3       float64
CD_ENDUTIH    float64
ENT             int64
FAC_HOG       float64
UPM_DIS         int64
EST_DIS         int64
dtype: object

## ¿Hay valores vacíos?

In [8]:
df.isnull().any().any()

True

## Columnas con valores vacíos

In [9]:
list_with_empty_fields = df.columns[df.isnull().any()].tolist()
list_with_empty_fields

['P4_3',
 'P4_3E',
 'P4_5',
 'P4_6_1',
 'P4_6_2',
 'P4_6_3',
 'P4_6_4',
 'P4_6_5',
 'P4_6_6',
 'P4_6_6E',
 'P4_7_1',
 'P4_7_2',
 'P4_7_3',
 'P4_7_4',
 'P4_7_5',
 'P4_7_5E',
 'P4_8',
 'P4_8E',
 'P5_2_1',
 'P5_2_2',
 'P5_3',
 'P5_3E',
 'P5_6_1',
 'P5_7_1',
 'P5_8_1',
 'P5_9_1',
 'P5_6_2',
 'P5_7_2',
 'P5_8_2',
 'P5_9_2',
 'P5_6_3',
 'P5_7_3',
 'P5_8_3',
 'P5_9_3',
 'P5_6_4',
 'P5_7_4',
 'P5_8_4',
 'P5_9_4',
 'P5_6_5',
 'P5_7_5',
 'P5_8_5',
 'P5_6_6',
 'P5_7_6',
 'P5_8_6',
 'P5_6_7',
 'P5_7_7',
 'P5_8_7',
 'P5_10_1',
 'P5_10_2',
 'P5_10_3',
 'CD_ENDUTIH']

# 1er columna UPM (Unidad primaria de muestreo)
## vemos que su nombre esta mal.

In [10]:
df = df.rename(columns={'ï»¿UPM': 'UPM'})

## creamos copia del dataframe

In [11]:
df_copy = df.copy()

df_copy.UPM

In [12]:
df.UPM.value_counts()

102137     40
1106101    40
206948     39
207192     38
207899     37
207917     37
206970     36
1909836    36
360096     36
207914     36
207003     36
207997     34
207880     32
2360200    31
2061378    27
2901097    25
2360055    25
2403483    25
703409     25
1108585    25
3260684    24
2460920    24
1060304    24
1660490    24
2303062    24
1460175    24
1660183    23
3160001    23
2860096    23
160198     23
           ..
1702303     1
1300361     1
203360      1
2301647     1
2401812     1
2105538     1
1300950     1
2700392     1
2302397     1
3004378     1
1700607     1
2400753     1
3003846     1
2700334     1
2400474     1
2700822     1
3101238     1
2102254     1
1600075     1
2901492     1
1201046     1
502955      1
2302168     1
206511      1
300167      1
2400524     1
2806896     1
1702785     1
1600874     1
1514922     1
Name: UPM, dtype: int64

## Vemos que no hay valores vacíos en la primer columna

In [13]:
df.isnull().UPM.any()

False

#  2da columna  VIV_SEL (Vivienda seleccionada)

## No presenta valores vacíos

In [14]:
df.isnull().VIV_SEL.any()

False

## su contenido no esta  fuera de lo común

In [15]:
df.VIV_SEL.value_counts()

2     17763
3     17741
1     17642
4     17631
5     17587
8      5226
9      5215
7      5189
6      5187
10     5177
11     2105
12     2085
16     2075
15     2072
17     2072
13     2054
14     2047
18     2044
19     2036
20     1899
21      224
22       68
23       13
26       13
30       12
38       12
37       12
28       12
31       12
32       11
35       11
34       11
40       11
29       11
27       11
24       11
33       10
36       10
25       10
39        9
Name: VIV_SEL, dtype: int64

# 3er columna HOGAR valores permitidos [1-6]

## No presenta vacíos y sus valores corresponden al rango permitido

In [16]:
df_copy.HOGAR.value_counts()

1    132266
2      2593
3       383
4        81
5        18
Name: HOGAR, dtype: int64

# 4ta Columna  N_INF (Número de renglón del informante)
## valores permitidos [01-30],99

## los valores se encuentran en el rango permitido

In [18]:
df_copy.N_INF.value_counts()

1     64503
2     53517
3      9758
4      4585
5      1862
6       692
7       245
8        96
9        36
10       20
11       14
12        7
13        4
21        1
16        1
Name: N_INF, dtype: int64

## No tiene valores vacíos

In [19]:
df.isnull().N_INF.any()

False

# 5ta columna P4_1_1 (4.1 Por favor, dígame si dispone de Radio: (DEBEN ESTAR EN CONDICIONES DE USO)) 

## No tiene anomalías sus datos

In [21]:
df_copy.P4_1_1.value_counts()

1    77498
2    57843
Name: P4_1_1, dtype: int64

## No tiene valores vacíos

In [22]:
df.isnull().P4_1_1.any()

False

# 6ta columna P4_1_2 (2. Televisor analógico (de cinescopio)) 
## No tiene anomalías sus datos

In [24]:
df_copy.P4_1_2.value_counts()

2    71858
1    63483
Name: P4_1_2, dtype: int64

In [23]:
df.isnull().P4_1_2.any()

False

# 7ma columna P4_1_3 (3. Pantalla plana (televisor digital, LCD o LED)) 
## No tiene anomalías sus datos

In [25]:
df_copy.P4_1_3.value_counts()

1    95652
2    39689
Name: P4_1_3, dtype: int64

In [26]:
df.isnull().P4_1_2.any()

False

# 8va columna P4_1_4 (4. Decodificador de TV digital abierta (diferente a TV de paga)) 
## No tiene anomalías sus datos

In [27]:
df_copy.P4_1_4.value_counts()

2    114864
1     20477
Name: P4_1_4, dtype: int64

In [28]:
df.isnull().P4_1_4.any()

False

# 9na columna P4_1_5 (5. Teléfono celular móvil (por cualquiera de los integrantes)) 
## No tiene anomalías sus datos

In [29]:
df_copy.P4_1_5.value_counts()

1    123412
2     11929
Name: P4_1_5, dtype: int64

In [30]:
df.isnull().P4_1_5.any()

False

# 10Ma columna P4_1_6 (6. Consola de videojuegos) 
## No tiene anomalías sus datos

In [33]:
df_copy.P4_1_6.value_counts()

2    118148
1     17193
Name: P4_1_6, dtype: int64

In [34]:
df.isnull().P4_1_6.any()

False