# Limpieza de datos para encuesta ENDITUH 2017, Tabla tr_hogar

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tr_hogar.csv', encoding='latin', low_memory=False)
df.head()

,UPM,VIV_SEL,HOGAR,N_INF,P4_1_1,P4_1_2,P4_1_3,P4_1_4,P4_1_5,P4_1_6,...,P5_7_7,P5_8_7,P5_10_1,P5_10_2,P5_10_3,CD_ENDUTIH,ENT,FAC_HOG,UPM_DIS,EST_DIS
0,100008,1,1,2,1,1,1,1,1,2,...,NaN,NaN,1.0,2.0,1.0,14.0,1,144.0,1,3
1,100008,2,1,1,2,1,2,1,1,2,...,200.0,NaN,1.0,1.0,3.0,14.0,1,144.0,1,3
2,100008,3,1,1,1,1,1,1,1,1,...,NaN,NaN,1.0,2.0,1.0,14.0,1,144.0,1,3
3,100008,4,1,1,2,2,2,2,1,2,...,400.0,NaN,1.0,3.0,3.0,14.0,1,144.0,1,3
4,100008,4,2,1,2,2,2,2,1,2,...,0.0,1.0,1.0,3.0,3.0,14.0,1,144.0,1,3

## General stats

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135341 entries, 0 to 135340
Data columns (total 75 columns):
UPM           135341 non-null int64
VIV_SEL       135341 non-null int64
HOGAR         135341 non-null int64
N_INF         135341 non-null int64
P4_1_1        135341 non-null int64
P4_1_2        135341 non-null int64
P4_1_3        135341 non-null int64
P4_1_4        135341 non-null int64
P4_1_5        135341 non-null int64
P4_1_6        135341 non-null int64
P4_2_1        135341 non-null int64
P4_2_2        135341 non-null int64
P4_2_3        135341 non-null int64
P4_3          70348 non-null float64
P4_3E         3018 non-null object
P4_4          135341 non-null int64
P4_5          75001 non-null float64
P4_6_1        60671 non-null float64
P4_6_2        60671 non-null float64
P4_6_3        60671 non-null float64
P4_6_4        60671 non-null float64
P4_6_5        60671 non-null float64
P4_6_6        60671 non-null float64
P4_6_6E       248 non-null object
P4_7_1        41071 non-null float64
P4_7_2        41071 non-null float64
P4_7_3        41071 non-null float64
P4_7_4        41071 non-null float64
P4_7_5        41071 non-null float64
P4_7_5E       386 non-null object
P4_8          60340 non-null float64
P4_8E         2235 non-null object
P5_1          135341 non-null int64
P5_2_1        71872 non-null float64
P5_2_2        71872 non-null float64
P5_3          63469 non-null float64
P5_3E         4998 non-null object
P5_4          135341 non-null int64
P5_5_1        135341 non-null int64
P5_5_2        135341 non-null int64
P5_5_3        135341 non-null int64
P5_5_4        135341 non-null int64
P5_6_1        101819 non-null float64
P5_7_1        13943 non-null float64
P5_8_1        153 non-null float64
P5_9_1        144 non-null float64
P5_6_2        101819 non-null float64
P5_7_2        822 non-null float64
P5_8_2        20 non-null float64
P5_9_2        14 non-null float64
P5_6_3        101819 non-null float64
P5_7_3        12218 non-null float64
P5_8_3        219 non-null float64
P5_9_3        32 non-null float64
P5_6_4        101819 non-null float64
P5_7_4        26280 non-null float64
P5_8_4        271 non-null float64
P5_9_4        153 non-null float64
P5_6_5        101819 non-null float64
P5_7_5        45147 non-null float64
P5_8_5        916 non-null float64
P5_6_6        101819 non-null float64
P5_7_6        9792 non-null float64
P5_8_6        313 non-null float64
P5_6_7        101819 non-null float64
P5_7_7        25425 non-null float64
P5_8_7        4646 non-null float64
P5_10_1       101819 non-null float64
P5_10_2       101819 non-null float64
P5_10_3       101819 non-null float64
CD_ENDUTIH    90960 non-null float64
ENT           135341 non-null int64
FAC_HOG       135341 non-null float64
UPM_DIS       135341 non-null int64
EST_DIS       135341 non-null int64
dtypes: float64(47), int64(23), object(5)
memory usage: 77.4+ MB

## Numbers of rows

In [4]:
df.shape[0]

135341

## Numbers of columns

In [5]:
df.shape[1]

75

## Columns names

In [6]:
df.columns.values.tolist()

['UPM',
 'VIV_SEL',
 'HOGAR',
 'N_INF',
 'P4_1_1',
 'P4_1_2',
 'P4_1_3',
 'P4_1_4',
 'P4_1_5',
 'P4_1_6',
 'P4_2_1',
 'P4_2_2',
 'P4_2_3',
 'P4_3',
 'P4_3E',
 'P4_4',
 'P4_5',
 'P4_6_1',
 'P4_6_2',
 'P4_6_3',
 'P4_6_4',
 'P4_6_5',
 'P4_6_6',
 'P4_6_6E',
 'P4_7_1',
 'P4_7_2',
 'P4_7_3',
 'P4_7_4',
 'P4_7_5',
 'P4_7_5E',
 'P4_8',
 'P4_8E',
 'P5_1',
 'P5_2_1',
 'P5_2_2',
 'P5_3',
 'P5_3E',
 'P5_4',
 'P5_5_1',
 'P5_5_2',
 'P5_5_3',
 'P5_5_4',
 'P5_6_1',
 'P5_7_1',
 'P5_8_1',
 'P5_9_1',
 'P5_6_2',
 'P5_7_2',
 'P5_8_2',
 'P5_9_2',
 'P5_6_3',
 'P5_7_3',
 'P5_8_3',
 'P5_9_3',
 'P5_6_4',
 'P5_7_4',
 'P5_8_4',
 'P5_9_4',
 'P5_6_5',
 'P5_7_5',
 'P5_8_5',
 'P5_6_6',
 'P5_7_6',
 'P5_8_6',
 'P5_6_7',
 'P5_7_7',
 'P5_8_7',
 'P5_10_1',
 'P5_10_2',
 'P5_10_3',
 'CD_ENDUTIH',
 'ENT',
 'FAC_HOG',
 'UPM_DIS',
 'EST_DIS']

## Column data types

In [7]:
df.dtypes

UPM             int64
VIV_SEL         int64
HOGAR           int64
N_INF           int64
P4_1_1          int64
P4_1_2          int64
P4_1_3          int64
P4_1_4          int64
P4_1_5          int64
P4_1_6          int64
P4_2_1          int64
P4_2_2          int64
P4_2_3          int64
P4_3          float64
P4_3E          object
P4_4            int64
P4_5          float64
P4_6_1        float64
P4_6_2        float64
P4_6_3        float64
P4_6_4        float64
P4_6_5        float64
P4_6_6        float64
P4_6_6E        object
P4_7_1        float64
P4_7_2        float64
P4_7_3        float64
P4_7_4        float64
P4_7_5        float64
P4_7_5E        object
               ...
P5_9_1        float64
P5_6_2        float64
P5_7_2        float64
P5_8_2        float64
P5_9_2        float64
P5_6_3        float64
P5_7_3        float64
P5_8_3        float64
P5_9_3        float64
P5_6_4        float64
P5_7_4        float64
P5_8_4        float64
P5_9_4        float64
P5_6_5        float64
P5_7_5        float64
P5_8_5        float64
P5_6_6        float64
P5_7_6        float64
P5_8_6        float64
P5_6_7        float64
P5_7_7        float64
P5_8_7        float64
P5_10_1       float64
P5_10_2       float64
P5_10_3       float64
CD_ENDUTIH    float64
ENT             int64
FAC_HOG       float64
UPM_DIS         int64
EST_DIS         int64
Length: 75, dtype: object

## Â¿Hay valores vacÃ­os?

In [8]:
df.isnull().any().any()

True

## Columnas con valores vacÃ­os

In [9]:
list_with_empty_fields = df.columns[df.isnull().any()].tolist()
list_with_empty_fields

['P4_3',
 'P4_3E',
 'P4_5',
 'P4_6_1',
 'P4_6_2',
 'P4_6_3',
 'P4_6_4',
 'P4_6_5',
 'P4_6_6',
 'P4_6_6E',
 'P4_7_1',
 'P4_7_2',
 'P4_7_3',
 'P4_7_4',
 'P4_7_5',
 'P4_7_5E',
 'P4_8',
 'P4_8E',
 'P5_2_1',
 'P5_2_2',
 'P5_3',
 'P5_3E',
 'P5_6_1',
 'P5_7_1',
 'P5_8_1',
 'P5_9_1',
 'P5_6_2',
 'P5_7_2',
 'P5_8_2',
 'P5_9_2',
 'P5_6_3',
 'P5_7_3',
 'P5_8_3',
 'P5_9_3',
 'P5_6_4',
 'P5_7_4',
 'P5_8_4',
 'P5_9_4',
 'P5_6_5',
 'P5_7_5',
 'P5_8_5',
 'P5_6_6',
 'P5_7_6',
 'P5_8_6',
 'P5_6_7',
 'P5_7_7',
 'P5_8_7',
 'P5_10_1',
 'P5_10_2',
 'P5_10_3',
 'CD_ENDUTIH']

# 1er columna UPM (Unidad primaria de muestreo)
## vemos que su nombre esta mal.

In [10]:
df = df.rename(columns={'Ã¯Â»Â¿UPM': 'UPM'})

## creamos copia del dataframe

In [11]:
df_copy = df.copy()

## no hay anomalÃ­as en sus datos

In [12]:
df_copy.UPM.value_counts()

102137     40
1106101    40
206948     39
207192     38
207899     37
207917     37
206970     36
1909836    36
360096     36
207914     36
207003     36
207997     34
207880     32
2360200    31
2061378    27
2901097    25
2360055    25
2403483    25
703409     25
1108585    25
3260684    24
2460920    24
1060304    24
1660490    24
2303062    24
1460175    24
1660183    23
3160001    23
2860096    23
160198     23
           ..
1702303     1
1300361     1
203360      1
2301647     1
2401812     1
2105538     1
1300950     1
2700392     1
2302397     1
3004378     1
1700607     1
2400753     1
3003846     1
2700334     1
2400474     1
2700822     1
3101238     1
2102254     1
1600075     1
2901492     1
1201046     1
502955      1
2302168     1
206511      1
300167      1
2400524     1
2806896     1
1702785     1
1600874     1
1514922     1
Name: UPM, Length: 19903, dtype: int64

## Vemos que no hay valores vacÃ­os en la primer columna

In [13]:
df_copy.isnull().UPM.any()

False

In [14]:
df_copy.UPM.value_counts().sum()

135341

#  2da columna  VIV_SEL (Vivienda seleccionada)

## No presenta valores vacÃ­os

In [15]:
df_copy.isnull().VIV_SEL.any()

False

## su contenido no esta  fuera de lo comÃºn

In [16]:
df_copy.VIV_SEL.value_counts()

2     17763
3     17741
1     17642
4     17631
5     17587
8      5226
9      5215
7      5189
6      5187
10     5177
11     2105
12     2085
16     2075
15     2072
17     2072
13     2054
14     2047
18     2044
19     2036
20     1899
21      224
22       68
23       13
26       13
30       12
38       12
37       12
28       12
31       12
32       11
35       11
34       11
40       11
29       11
27       11
24       11
33       10
36       10
25       10
39        9
Name: VIV_SEL, dtype: int64

In [17]:
df_copy.VIV_SEL.value_counts().sum()

135341

# 3er columna HOGAR valores permitidos [1-6]

## No presenta vacÃ­os y sus valores corresponden al rango permitido

In [18]:
df_copy.HOGAR.value_counts()

1    132266
2      2593
3       383
4        81
5        18
Name: HOGAR, dtype: int64

In [19]:
df_copy.HOGAR.value_counts().sum()

135341

# 4ta Columna  N_INF (NÃºmero de renglÃ³n del informante)
## valores permitidos [01-30],99

## los valores se encuentran en el rango permitido

In [20]:
df_copy.N_INF.value_counts()

1     64503
2     53517
3      9758
4      4585
5      1862
6       692
7       245
8        96
9        36
10       20
11       14
12        7
13        4
21        1
16        1
Name: N_INF, dtype: int64

## No tiene valores vacÃ­os

In [21]:
df_copy.isnull().N_INF.any()

False

In [22]:
df_copy.N_INF.value_counts().sum()

135341

# 5ta columna P4_1_1 (4.1 Por favor, dÃ­game si dispone de Radio: (DEBEN ESTAR EN CONDICIONES DE USO)) 

## No tiene anomalÃ­as sus datos

In [23]:
df_copy.P4_1_1.value_counts()

1    77498
2    57843
Name: P4_1_1, dtype: int64

## No tiene valores vacÃ­os

In [24]:
df_copy.isnull().P4_1_1.any()

False

In [25]:
df_copy.P4_1_1.value_counts().sum()

135341

# 6ta columna P4_1_2 (2. Televisor analÃ³gico (de cinescopio)) 
## No tiene anomalÃ­as sus datos

In [26]:
df_copy.P4_1_2.value_counts()

2    71858
1    63483
Name: P4_1_2, dtype: int64

In [27]:
df_copy.isnull().P4_1_2.any()

False

In [28]:
df_copy.P4_1_2.value_counts().sum()

135341

# 7ma columna P4_1_3 (3. Pantalla plana (televisor digital, LCD o LED)) 
## No tiene anomalÃ­as sus datos

In [29]:
df_copy.P4_1_3.value_counts()

1    95652
2    39689
Name: P4_1_3, dtype: int64

In [30]:
df_copy.isnull().P4_1_3.any()

False

In [31]:
df_copy.P4_1_3.value_counts().sum()

135341

# 8va columna P4_1_4 (4. Decodificador de TV digital abierta (diferente a TV de paga)) 
## No tiene anomalÃ­as sus datos

In [32]:
df_copy.P4_1_4.value_counts()

2    114864
1     20477
Name: P4_1_4, dtype: int64

In [33]:
df_copy.isnull().P4_1_4.any()

False

In [34]:
df_copy.P4_1_4.value_counts().sum()

135341

# 9na columna P4_1_5 (5. TelÃ©fono celular mÃ³vil (por cualquiera de los integrantes)) 
## No tiene anomalÃ­as sus datos

In [35]:
df_copy.P4_1_5.value_counts()

1    123412
2     11929
Name: P4_1_5, dtype: int64

In [36]:
df_copy.isnull().P4_1_5.any()

False

In [37]:
df_copy.P4_1_5.value_counts().sum()

135341

# 10ma columna P4_1_6 (6. Consola de videojuegos) 
## No tiene anomalÃ­as sus datos

In [38]:
df_copy.P4_1_6.value_counts()

2    118148
1     17193
Name: P4_1_6, dtype: int64

In [39]:
df_copy.isnull().P4_1_6.any()

False

In [40]:
df_copy.P4_1_6.value_counts().sum()

135341

# 11.a columna P4_2_1 (4.2 Â¿Dispone de computadora de escritorio (teclado, monitor y CPU se encuentran separados)?) 
## No tiene anomalÃ­as sus datos

In [41]:
df_copy.P4_2_1.value_counts()

2    113113
1     22228
Name: P4_2_1, dtype: int64

In [42]:
df_copy.isnull().P4_2_1.any()

False

In [43]:
df_copy.P4_2_1.value_counts().sum()

135341

# 12.a columna P4_2_2 (Â¿Dispone de computadora portÃ¡til (teclado, monitor y CPU se encuentran integrados fÃ­sicamente)?) 
## No tiene anomalÃ­as sus datos

In [44]:
df_copy.P4_2_2.value_counts()

2    90541
1    44800
Name: P4_2_2, dtype: int64

In [45]:
df_copy.isnull().P4_2_1.any()

False

In [46]:
df_copy.P4_2_2.value_counts().sum()

135341

# 13.a columna P4_2_3 (Â¿Dispone de tablet (teclado y puntero virtuales, en la pantalla tÃ¡ctil)?) 
## No tiene anomalÃ­as sus datos

In [47]:
df_copy.P4_2_3.value_counts()

2    102663
1     32678
Name: P4_2_3, dtype: int64

In [48]:
df_copy.isnull().P4_2_3.any()

False

In [49]:
df_copy.P4_2_3.value_counts().sum()

135341

# 14.a columna P4_3 (4.3 Â¿Por quÃ© no disponen de computadora, laptop o tablet?) 
## [1-5], 99 en blanco

In [50]:
df_copy.P4_3.value_counts()

1.0    39329
2.0    13652
3.0    10003
4.0     4287
5.0     3018
8.0       59
Name: P4_3, dtype: int64

## hay valores vacios

In [51]:
df_copy.isnull().P4_3.any()

True

## convertimos los datos de la columna a string para mayor comodidad

In [52]:
P4_3 = df_copy.P4_3.astype('str')

In [53]:
P4_3.value_counts()

nan    64993
1.0    39329
2.0    13652
3.0    10003
4.0     4287
5.0     3018
8.0       59
Name: P4_3, dtype: int64

## reemplazamos los valores vacios por 99

In [54]:
P4_3 = P4_3.replace({'nan':'99'})
P4_3.value_counts()

99     64993
1.0    39329
2.0    13652
3.0    10003
4.0     4287
5.0     3018
8.0       59
Name: P4_3, dtype: int64

## convertimos todos los datos a enteros

In [55]:
df_copy.P4_3 = P4_3
df_copy.P4_3 = df_copy.P4_3.astype('str').astype('float').astype('int64')

## se comprueba que ya no hay valores vacios y estan en un solo valor que es 99

In [56]:
df_copy.P4_3.value_counts()

99    64993
1     39329
2     13652
3     10003
4      4287
5      3018
8        59
Name: P4_3, dtype: int64

## reemplazamos los valores 8 por 99, ya que no responden

In [57]:
count = 0
for row in  df_copy.P4_3:
    if df_copy.P4_3[count] == 8:
        df_copy.P4_3[count] = 99
    count = count + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [58]:
df_copy.P4_3.value_counts()

99    65052
1     39329
2     13652
3     10003
4      4287
5      3018
Name: P4_3, dtype: int64

## se comprueba el tamaÃ±o de la columna

In [59]:
df_copy.P4_3.value_counts().sum()

135341

# 15.a columna P4_3E (4.3 Â¿Por quÃ© no disponen de computadora, laptop o tablet?) 
## [0-9, A-Z; SÃ­mbolos], b

In [60]:
df_copy.P4_3E.value_counts()

NO LA NECESITAN                                                                           134
NO LA NECESITA                                                                             85
SE DESCOMPUSO                                                                              69
NO LA OCUPAN                                                                               36
NO LO NECESITAN                                                                            34
SE LA ROBARON                                                                              32
NO LO NECESITA                                                                             27
FALTA DE TIEMPO                                                                            20
NO TIENEN INTERNET                                                                         20
NO ES NECESARIO                                                                            20
ESTA DESCOMPUESTA                                                                          18
NO HAY INTERNET                                                                            18
NO LA OCUPA                                                                                16
NO LE GUSTA                                                                                15
NO TIENE TIEMPO                                                                            14
NO HAY INFRAESTRUCTURA                                                                     13
NO HAY SEÃƒÂ‘AL                                                                              12
SE DESCOMPUSIERON                                                                          12
NO ES NECESARIA                                                                            11
POR SEGURIDAD                                                                              10
PORQUE NO TIENEN INTERNET                                                                  10
NO TIENEN TIEMPO                                                                           10
NO LE HACE FALTA                                                                           10
PORQUE NO TIENE INTERNET                                                                    9
NO TIENE LA NECESIDAD                                                                       8
NO LES GUSTA                                                                                8
NO LA NECESITA.                                                                             7
POR ROBO                                                                                    7
POR FALTA DE TIEMPO                                                                         7
NO LES HACE FALTA                                                                           7
                                                                                         ...
SE DESCOMPUSOO                                                                              1
 NO LA NECESITAN                                                                            1
SI CONTABA CON UNA PERO SE LA REGALO A UN HIJO                                              1
APENAS SE CAMBIARON A ESTA CASA VIENEN DE OTRO ESTADO                                       1
NO EUIERE QUE LOS MENORES VEAN COSAS NEGATIVAS                                              1
POR QUE SUS HIJOS ESTAN PEQUEÃƒÂ‘OS Y NO TIENEN CUIDADO                                       1
NO LES GUSTA LA COMPUTADORA NI LA TECNOLOGIA                                                1
PORQUE EN LA CASA HAN ROBADO                                                                1
NO TIENEN EL SERVICIO EN LA ZONA                                                            1
SOLO LO UTILIZA EN SU TRABAJO                                                               1
APENAS LA VAN A COMPRAR LA COMPUTADORA                                                      1
CASI NO ESTAN EN CASA Y NO LAO VEN PRACTICO EL TENER EQUIPOS EN CASA                        1
LAS EN TRABAJO                                                                              1
NO HAY INTERNET CERCA                                                                       1
PORQUE EL SEÃƒÂ‘OR EFRAIN EN SU TRABAJO DISPONE DE COMPUTADORA.                               1
PORQUE NO LA HAN NECESITADO HASTA EL MOMENTO                                                1
POR EL TIEMPO MAS QUE NADA EL CELULAR                                                       1
SE DAÃƒÂ‘O YA QUE LA PRESTO A UN AMIGO                                                        1
SE DESCOMPUSO Y NO SE ARREGLO                                                               1
POR LA INSEGURIDAD QUE HAY EN LA COLONIA                                                    1
PORQUE VAN AL CAFE INTERNET                                                                 1
NO SE ENCUENTRAN TODO EL DIA TRABAJAN.                                                      1
PORQUE TIENEN UN HIJO QUE SIN PERMISO SE LLEVA LOS APARATOS  POR ESO YA NO LOS COMPRAN      1
NO HAY SEÃƒÂ‘AL A INTERNET                                                                    1
NO LO NECESITAN EN SU CASA                                                                  1
NO DISPONEN DE LUZ ELECTRICA                                                                1
LOS DUEÃƒÂ‘OS DE LA VIVIENDA VIVE EN SAN DIEGO                                                1
REQUIERE INTERNET PA USARLA                                                                 1
NPOVO ESTAN EN LA CASA                                                                      1
SU RELIGION NO SE LO PERMITE                                                                1
Name: P4_3E, Length: 2092, dtype: int64

In [61]:
df_copy.isnull().P4_3E.any()

True

## se reemplazan los valores en blanco por b, como dice el diccionario

In [62]:
P4_3E = df_copy.P4_3E.astype('str')
P4_3E = P4_3E.replace({'nan':'b'})

In [63]:
P4_3E.value_counts()

b                                                                                         132323
NO LA NECESITAN                                                                              134
NO LA NECESITA                                                                                85
SE DESCOMPUSO                                                                                 69
NO LA OCUPAN                                                                                  36
NO LO NECESITAN                                                                               34
SE LA ROBARON                                                                                 32
NO LO NECESITA                                                                                27
NO ES NECESARIO                                                                               20
NO TIENEN INTERNET                                                                            20
FALTA DE TIEMPO                                                                               20
NO HAY INTERNET                                                                               18
ESTA DESCOMPUESTA                                                                             18
NO LA OCUPA                                                                                   16
NO LE GUSTA                                                                                   15
NO TIENE TIEMPO                                                                               14
NO HAY INFRAESTRUCTURA                                                                        13
SE DESCOMPUSIERON                                                                             12
NO HAY SEÃƒÂ‘AL                                                                                 12
NO ES NECESARIA                                                                               11
PORQUE NO TIENEN INTERNET                                                                     10
POR SEGURIDAD                                                                                 10
NO LE HACE FALTA                                                                              10
NO TIENEN TIEMPO                                                                              10
PORQUE NO TIENE INTERNET                                                                       9
NO TIENE LA NECESIDAD                                                                          8
NO LES GUSTA                                                                                   8
NO LES HACE FALTA                                                                              7
NO TIENE NECESIDAD                                                                             7
NO LA NECESITA.                                                                                7
                                                                                           ...
SE DESCOMPUSOO                                                                                 1
 NO LA NECESITAN                                                                               1
SI CONTABA CON UNA PERO SE LA REGALO A UN HIJO                                                 1
APENAS SE CAMBIARON A ESTA CASA VIENEN DE OTRO ESTADO                                          1
NO EUIERE QUE LOS MENORES VEAN COSAS NEGATIVAS                                                 1
POR QUE SUS HIJOS ESTAN PEQUEÃƒÂ‘OS Y NO TIENEN CUIDADO                                          1
NO LES GUSTA LA COMPUTADORA NI LA TECNOLOGIA                                                   1
PORQUE EN LA CASA HAN ROBADO                                                                   1
NO TIENEN EL SERVICIO EN LA ZONA                                                               1
SOLO LO UTILIZA EN SU TRABAJO                                                                  1
APENAS LA VAN A COMPRAR LA COMPUTADORA                                                         1
CASI NO ESTAN EN CASA Y NO LAO VEN PRACTICO EL TENER EQUIPOS EN CASA                           1
LAS EN TRABAJO                                                                                 1
NO HAY INTERNET CERCA                                                                          1
PORQUE EL SEÃƒÂ‘OR EFRAIN EN SU TRABAJO DISPONE DE COMPUTADORA.                                  1
PORQUE NO LA HAN NECESITADO HASTA EL MOMENTO                                                   1
POR EL TIEMPO MAS QUE NADA EL CELULAR                                                          1
SE DAÃƒÂ‘O YA QUE LA PRESTO A UN AMIGO                                                           1
SE DESCOMPUSO Y NO SE ARREGLO                                                                  1
POR LA INSEGURIDAD QUE HAY EN LA COLONIA                                                       1
PORQUE VAN AL CAFE INTERNET                                                                    1
NO SE ENCUENTRAN TODO EL DIA TRABAJAN.                                                         1
PORQUE TIENEN UN HIJO QUE SIN PERMISO SE LLEVA LOS APARATOS  POR ESO YA NO LOS COMPRAN         1
NO HAY SEÃƒÂ‘AL A INTERNET                                                                       1
NO LO NECESITAN EN SU CASA                                                                     1
NO DISPONEN DE LUZ ELECTRICA                                                                   1
LOS DUEÃƒÂ‘OS DE LA VIVIENDA VIVE EN SAN DIEGO                                                   1
REQUIERE INTERNET PA USARLA                                                                    1
NPOVO ESTAN EN LA CASA                                                                         1
SU RELIGION NO SE LO PERMITE                                                                   1
Name: P4_3E, Length: 2093, dtype: int64

## vemos que la mayoria de los datos estÃ¡n en blanco asi que procedemos a borrar la columna

In [64]:
df_copy.drop('P4_3E',1, inplace=True)

# 16.a columna P4_4 (4.4 Â¿Disponen de conexiÃ³n a Internet en el hogar?) 
## valores aceptados 1-2

In [65]:
df_copy.P4_4.value_counts()

1    75001
2    60340
Name: P4_4, dtype: int64

In [66]:
df_copy.isnull().P4_4.any()

False

In [67]:
df_copy.P4_4.value_counts().sum()

135341

# 17.a columna P4_5 (4.5 Â¿La conexiÃ³n a Internet es fija, mÃ³vil o de ambas?) 
## valores aceptados [1-3], 99

In [68]:
df_copy.P4_5.value_counts()

1.0    33803
3.0    26868
2.0    14203
9.0      127
Name: P4_5, dtype: int64

## vemos que hay valores nulos

In [69]:
df_copy.isnull().P4_5.any()

True

In [70]:
df_copy.P4_5.value_counts().sum()

75001

## cambiamos a string para reemplazar los valores nulos

In [71]:
df_copy.P4_5 = df_copy.P4_5.astype('str')
df_copy.P4_5.replace({'nan':'99'}, inplace=True)

In [72]:
df_copy.P4_5 = df_copy.P4_5.astype('float').astype('int64')

## ya no hay valores nulos, fueron reemplazados por 99

In [73]:
df_copy.P4_5.value_counts()

99    60340
1     33803
3     26868
2     14203
9       127
Name: P4_5, dtype: int64

In [74]:
df_copy.isnull().P4_5.any()

False

In [75]:
df_copy.P4_5.value_counts().sum()

135341

## reemplazamos los valores 9, por 99, ya que significa que no responden

In [76]:
count = 0
for row in  df_copy.P4_5:
    if df_copy.P4_5[count] == 9:
        df_copy.P4_5[count] = 99
    count = count + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [81]:
df_copy.P4_5.value_counts()

99    60467
1     33803
3     26868
2     14203
Name: P4_5, dtype: int64

In [78]:
df_copy.P4_5.value_counts().sum()

135341

# 18.a columna P4_6_1 (4.6 Â¿El medio de conexiÃ³n fija es por: lÃ­nea telefÃ³nica dedicada (con la que puede hablar por telÃ©fono cuando estÃ¡ conectado a Internet)?) 
## valores aceptados [1-2], 99

In [79]:
df_copy.P4_6_1.value_counts()

1.0    32788
2.0    27883
Name: P4_6_1, dtype: int64

## hay valores vacios

In [82]:
df_copy.isnull().P4_6_1.any()

True

## reemplazamos valores vacios por 99

In [83]:
df_copy.P4_6_1 = df_copy.P4_6_1.astype('str')
df_copy.P4_6_1.replace({'nan':'99'}, inplace=True)

In [84]:
df_copy.P4_6_1 = df_copy.P4_6_1.astype('float').astype('int64')

In [85]:
df_copy.P4_6_1.value_counts()

99    74670
1     32788
2     27883
Name: P4_6_1, dtype: int64

In [86]:
df_copy.isnull().P4_6_1.any()

False

In [87]:
df_copy.P4_6_1.value_counts().sum()

135341

# 19.a columna P4_6_2 (4Internet por cable (comÃºnmente asociada a TV de paga)?) 
## valores aceptados [1-2], 99

In [88]:
df_copy.P4_6_2.value_counts()

2.0    35157
1.0    25514
Name: P4_6_2, dtype: int64

## hay valores vacÃ­os

In [89]:
df_copy.isnull().P4_6_2.any()

True

## reemplazamos valores vacios por 99

In [90]:
df_copy.P4_6_2 = df_copy.P4_6_2.astype('str')
df_copy.P4_6_2.replace({'nan':'99'}, inplace=True)

In [91]:
df_copy.P4_6_2 = df_copy.P4_6_2.astype('float').astype('int64')

In [92]:
df_copy.P4_6_2.value_counts()

99    74670
2     35157
1     25514
Name: P4_6_2, dtype: int64

In [93]:
df_copy.isnull().P4_6_2.any()

False

In [94]:
df_copy.P4_6_2.value_counts().sum()

135341

# 20.a columna P4_6_3 (conexiÃ³n satelital (por una antena parabÃ³lica, no confundir con las antenas de plato que otorgan servicio como Sky o Dish)?) 
## valores aceptados [1-2], 99

In [95]:
df_copy.P4_6_3.value_counts()

2.0    59203
1.0     1468
Name: P4_6_3, dtype: int64

## hay valores vacios

In [96]:
df_copy.isnull().P4_6_3.any()

True

## reemplazamos los valores

In [97]:
df_copy.P4_6_3 = df_copy.P4_6_3.astype('str')
df_copy.P4_6_3.replace({'nan':'99'}, inplace=True)

In [98]:
df_copy.P4_6_3 = df_copy.P4_6_3.astype('float').astype('int64')

In [99]:
df_copy.P4_6_3.value_counts()

99    74670
2     59203
1      1468
Name: P4_6_3, dtype: int64

In [100]:
df_copy.isnull().P4_6_3.any()

False

In [101]:
df_copy.P4_6_3.value_counts().sum()

135341

# 21.a columna P4_6_4 (seÃ±al abierta de WiFi (externa a su hogar)?) 
## valores aceptados [1-2], 99

In [102]:
df_copy.P4_6_4.value_counts()

2.0    58011
1.0     2660
Name: P4_6_4, dtype: int64

In [103]:
df_copy.isnull().P4_6_4.any()

True

In [104]:
df_copy.P4_6_4 = df_copy.P4_6_4.astype('str')
df_copy.P4_6_4.replace({'nan':'99'}, inplace=True)

In [105]:
df_copy.P4_6_4 = df_copy.P4_6_4.astype('float').astype('int64')

In [106]:
df_copy.P4_6_4.value_counts()

99    74670
2     58011
1      2660
Name: P4_6_4, dtype: int64

In [107]:
df_copy.isnull().P4_6_4.any()

False

In [108]:
df_copy.P4_6_4.value_counts().sum()

135341

# 22.a columna P4_6_5 (lÃ­nea telefÃ³nica por marcaciÃ³n (DIAL UP, mientras estÃ¡ conectado a Internet no puede hablar por telÃ©fono)?) 
## valores aceptados [1-2], 99

In [109]:
df_copy.P4_6_5.value_counts()

2.0    60557
1.0      114
Name: P4_6_5, dtype: int64

In [110]:
df_copy.isnull().P4_6_5.any()

True

In [111]:
df_copy.P4_6_5 = df_copy.P4_6_5.astype('str')
df_copy.P4_6_5.replace({'nan':'99'}, inplace=True)

In [112]:
df_copy.P4_6_5 = df_copy.P4_6_5.astype('float').astype('int64')

In [113]:
df_copy.P4_6_5.value_counts()

99    74670
2     60557
1       114
Name: P4_6_5, dtype: int64

In [114]:
df_copy.isnull().P4_6_5.any()

False

In [115]:
df_copy.P4_6_5.value_counts().sum()

135341

# 23.a columna P4_6_6 (Otro medio) 
## valores aceptados [1-2], 99

In [116]:
df_copy.P4_6_6.value_counts()

2.0    60423
1.0      248
Name: P4_6_6, dtype: int64

In [117]:
df_copy.isnull().P4_6_6.any()

True

In [118]:
df_copy.P4_6_6 = df_copy.P4_6_6.astype('str')
df_copy.P4_6_6.replace({'nan':'99'}, inplace=True)

In [119]:
df_copy.P4_6_6 = df_copy.P4_6_6.astype('float').astype('int64')

In [120]:
df_copy.P4_6_6.value_counts()

99    74670
2     60423
1       248
Name: P4_6_6, dtype: int64

In [121]:
df_copy.isnull().P4_6_6.any()

False

In [122]:
df_copy.P4_6_6.value_counts().sum()

135341

# 24.a columna P4_6_6E (Especifique) 
## valores aceptados [0-9, A-Z; SÃ­mbolos], b

In [123]:
df_copy.P4_6_6E.value_counts()

ANTENA                                                                                                      11
SOLO INTERNET                                                                                               10
FIBRA OPTICA                                                                                                 6
CELULAR                                                                                                      5
MODEM                                                                                                        5
ANTENA REPETIDORA                                                                                            4
BANDA ANCHA                                                                                                  4
RED DE DATOS                                                                                                 3
NO SABE                                                                                                      3
CELULARES                                                                                                    3
TOTAL PLAY                                                                                                   3
DATOS DEL CELULAR                                                                                            2
REPETIDORA                                                                                                   2
AXTEL                                                                                                        2
DATOS                                                                                                        2
POR MEDIO DE ANTENA                                                                                          2
TELMEX                                                                                                       2
ES POR MEDIO DE ANTENA                                                                                       2
MEDIANTE ANTENA DE ESPEJO                                                                                    1
UNA PERSONA LES CONECTA EL SERVICIO A TRAVES DEUNA CAJA EN LA AZOTEA.PROVEEDOR INDEPENDIENTE                 1
INTERNET FIJA POR MEDIO DE UN A REPITODORA SE LLAMA GOWIRELESS                                               1
JALAN INTERNET DE OTRA VIVIENDA                                                                              1
EL INTERNET ES POR  ANTENA REPETIDORA Y A PARTE TIENEN DE DATOS MOVILES                                      1
ENTENA REPETIDORA DIRIGIDA                                                                                   1
CABLE MAX                                                                                                    1
INTERNET CON ANTENA DE PAGO A TERCEROS                                                                       1
LE PASAN EL INTERNET DE OTRO HOGAR                                                                           1
UNA ANTENA                                                                                                   1
ANTENA CON REPETIDOR DE SEÃƒÂ‘AL                                                                               1
DE ANTENA                                                                                                    1
                                                                                                            ..
SE LO PASA SU HERMANO                                                                                        1
INMFINITUM                                                                                                   1
COMPRAN UNA CLAVE AL CYBER DE AL LADO                                                                        1
MEGAS DE SU TELEFONO CELULAR                                                                                 1
INTERNET SOLO                                                                                                1
ME PASA LA CLAVE UN VECINO                                                                                   1
LE PAGAN A SU VECINA POR EL USO DE LA INTERNET                                                               1
POR EL CELULAR                                                                                               1
SOLO UTILIZAN PARA ENVIAR Y RECIBIR MEN SAJES DE WHATSSAP                                                    1
ES SEÃƒÂ‘AL DE INTERNET SOLA                                                                                   1
SOLO PAGAN EL INTERNET                                                                                       1
INFINITUM NEWORK DE LOS MOCHI                                                                                1
SOLO EL INTERNET                                                                                             1
REPETIDOR DE INTERNET                                                                                        1
POR DATOS                                                                                                    1
SOLO SE CONECTA A INTERNET POR MEDIO DE SU CELULAR                                                           1
ESTA CONTRATADO SOLO EL INTERNET MEDIANTE UNA COMPAÃƒÂ‘IA TELEFONICA PERO SIN EL SERVICIO DE TELEFONO FIJO     1
ES POR MEDIO DE MODEM                                                                                        1
COOPERAN CON LA VECINA Y SE LOS COMPARTE                                                                     1
SOLO CONTRATO POR MEGACABLE EL INTERNET                                                                      1
SE LO COMPARTE UN FAMILIAR                                                                                   1
ES UN DECODIFICADOR PARA ATRAER LA SEÃƒÂ‘AL DEL SERVICIO                                                       1
SOLO TIENE APARATO PARA INTERNET.                                                                            1
POR FIBRA OPTICA                                                                                             1
SOLO CUENTAN CON EL MODEM                                                                                    1
POR COPAÃƒÂ‘IA DE TELEVISION DE PAGA                                                                           1
POR MEDIO DE TELMEX Y CELULAR                                                                                1
CELULAR MOVIL                                                                                                1
WIFI DE LA VECINA                                                                                            1
POR MEDIO DE INTERNET EN EL TRABAJO Y SUS DATOS MOVILES DE SU CELULAR                                        1
Name: P4_6_6E, Length: 195, dtype: int64

In [124]:
df_copy.isnull().P4_6_6E.any()

True

In [125]:
df_copy.P4_6_6E = df_copy.P4_6_6E.astype('str')
df_copy.P4_6_6E.replace({'nan':'b'}, inplace=True)

# mÃ¡s del 95% son valores vacÃ­os, procedemos a borrar la columna

In [126]:
df_copy.P4_6_6E.value_counts()

b                                                                                                           135093
ANTENA                                                                                                          11
SOLO INTERNET                                                                                                   10
FIBRA OPTICA                                                                                                     6
CELULAR                                                                                                          5
MODEM                                                                                                            5
ANTENA REPETIDORA                                                                                                4
BANDA ANCHA                                                                                                      4
NO SABE                                                                                                          3
RED DE DATOS                                                                                                     3
CELULARES                                                                                                        3
TOTAL PLAY                                                                                                       3
AXTEL                                                                                                            2
TELMEX                                                                                                           2
POR MEDIO DE ANTENA                                                                                              2
DATOS                                                                                                            2
REPETIDORA                                                                                                       2
DATOS DEL CELULAR                                                                                                2
ES POR MEDIO DE ANTENA                                                                                           2
JALAN INTERNET DE OTRA VIVIENDA                                                                                  1
DE ANTENA                                                                                                        1
ENTENA REPETIDORA DIRIGIDA                                                                                       1
WIMEX                                                                                                            1
INTERNET CON ANTENA DE PAGO A TERCEROS                                                                           1
UNA ANTENA                                                                                                       1
POR UNA ANTENA                                                                                                   1
ANTENA CON REPETIDOR DE SEÃƒÂ‘AL                                                                                   1
TIENE SOLO INTERNET POR MEDIO IZZI                                                                               1
EL INTERNET ES POR  ANTENA REPETIDORA Y A PARTE TIENEN DE DATOS MOVILES                                          1
VIVONET                                                                                                          1
                                                                                                             ...
SE LO PASA SU HERMANO                                                                                            1
INMFINITUM                                                                                                       1
COMPRAN UNA CLAVE AL CYBER DE AL LADO                                                                            1
MEGAS DE SU TELEFONO CELULAR                                                                                     1
INTERNET SOLO                                                                                                    1
ME PASA LA CLAVE UN VECINO                                                                                       1
LE PAGAN A SU VECINA POR EL USO DE LA INTERNET                                                                   1
POR EL CELULAR                                                                                                   1
SOLO UTILIZAN PARA ENVIAR Y RECIBIR MEN SAJES DE WHATSSAP                                                        1
ES SEÃƒÂ‘AL DE INTERNET SOLA                                                                                       1
SOLO PAGAN EL INTERNET                                                                                           1
INFINITUM NEWORK DE LOS MOCHI                                                                                    1
SOLO EL INTERNET                                                                                                 1
REPETIDOR DE INTERNET                                                                                            1
POR DATOS                                                                                                        1
SOLO SE CONECTA A INTERNET POR MEDIO DE SU CELULAR                                                               1
ESTA CONTRATADO SOLO EL INTERNET MEDIANTE UNA COMPAÃƒÂ‘IA TELEFONICA PERO SIN EL SERVICIO DE TELEFONO FIJO         1
ES POR MEDIO DE MODEM                                                                                            1
COOPERAN CON LA VECINA Y SE LOS COMPARTE                                                                         1
SOLO CONTRATO POR MEGACABLE EL INTERNET                                                                          1
SE LO COMPARTE UN FAMILIAR                                                                                       1
ES UN DECODIFICADOR PARA ATRAER LA SEÃƒÂ‘AL DEL SERVICIO                                                           1
SOLO TIENE APARATO PARA INTERNET.                                                                                1
POR FIBRA OPTICA                                                                                                 1
SOLO CUENTAN CON EL MODEM                                                                                        1
POR COPAÃƒÂ‘IA DE TELEVISION DE PAGA                                                                               1
POR MEDIO DE TELMEX Y CELULAR                                                                                    1
CELULAR MOVIL                                                                                                    1
WIFI DE LA VECINA                                                                                                1
POR MEDIO DE INTERNET EN EL TRABAJO Y SUS DATOS MOVILES DE SU CELULAR                                            1
Name: P4_6_6E, Length: 196, dtype: int64

In [127]:
df_copy.drop('P4_6_6E',1, inplace=True)

# 25.a columna P4_7_1 (4.7 Â¿Con quÃ© equipo(s) hacen la conexiÃ³n mÃ³vil: Con un celular inteligente (Smartphone)?) 
## valores aceptados [1 Si-2 No], 99

In [128]:
df_copy.P4_7_1.value_counts()

1.0    40987
2.0       84
Name: P4_7_1, dtype: int64

In [129]:
df_copy.isnull().P4_7_1.any()

True

In [130]:
df_copy.P4_7_1 = df_copy.P4_7_1.astype('str')
df_copy.P4_7_1.replace({'nan':'99'}, inplace=True)

In [131]:
df_copy.P4_7_1 = df_copy.P4_7_1.astype('float').astype('int64')

In [132]:
df_copy.P4_7_1.value_counts()

99    94270
1     40987
2        84
Name: P4_7_1, dtype: int64

In [133]:
df_copy.isnull().P4_7_1.any()

False

In [134]:
df_copy.P4_7_1.value_counts().sum()

135341

# 26.a columna P4_7_2 (Con una computadora de escritorio y una tarjeta Banda Ancha MÃ³vil, tipo USB) 
## valores aceptados [1 Si-2 No], 99

In [135]:
df_copy.P4_7_2.value_counts()

2.0    39138
1.0     1933
Name: P4_7_2, dtype: int64

In [136]:
df_copy.isnull().P4_7_2.any()

True

In [137]:
df_copy.P4_7_2 = df_copy.P4_7_2.astype('str')
df_copy.P4_7_2.replace({'nan':'99'}, inplace=True)

In [138]:
df_copy.P4_7_2 = df_copy.P4_7_2.astype('float').astype('int64')

In [139]:
df_copy.P4_7_2.value_counts()

99    94270
2     39138
1      1933
Name: P4_7_2, dtype: int64

In [140]:
df_copy.isnull().P4_7_2.any()

False

In [141]:
df_copy.P4_7_2.value_counts().sum()

135341

# 27.a columna P4_7_3 (Con una computadora portÃ¡til y una tarjeta Banda Ancha MÃ³vil, tipo USB) 
## valores aceptados [1 Si-2 No], 99

In [142]:
df_copy.P4_7_3.value_counts()

2.0    36305
1.0     4766
Name: P4_7_3, dtype: int64

In [143]:
df_copy.isnull().P4_7_3.any()

True

In [144]:
df_copy.P4_7_3 = df_copy.P4_7_3.astype('str')
df_copy.P4_7_3.replace({'nan':'99'}, inplace=True)

In [145]:
df_copy.P4_7_3 = df_copy.P4_7_3.astype('float').astype('int64')

In [146]:
df_copy.P4_7_3.value_counts()

99    94270
2     36305
1      4766
Name: P4_7_3, dtype: int64

In [147]:
df_copy.isnull().P4_7_3.any()

False

In [148]:
df_copy.P4_7_3.value_counts().sum()

135341

# 28.a columna P4_7_4 (Con una tablet con acceso a red mÃ³vil) 
## valores aceptados [1 Si-2 No], 99

In [149]:
df_copy.P4_7_4.value_counts()

2.0    36885
1.0     4186
Name: P4_7_4, dtype: int64

In [150]:
df_copy.isnull().P4_7_4.any()

True

In [151]:
df_copy.P4_7_4 = df_copy.P4_7_4.astype('str')
df_copy.P4_7_4.replace({'nan':'99'}, inplace=True)

In [152]:
df_copy.P4_7_4 = df_copy.P4_7_4.astype('float').astype('int64')

In [153]:
df_copy.P4_7_4.value_counts()

99    94270
2     36885
1      4186
Name: P4_7_4, dtype: int64

In [154]:
df_copy.isnull().P4_7_4.any()

False

In [155]:
df_copy.P4_7_4.value_counts().sum()

135341

# 29.a columna P4_7_5 (Otro equipo) 
## valores aceptados [1 Si-2 No], 99

In [156]:
df_copy.P4_7_5.value_counts()

2.0    40685
1.0      386
Name: P4_7_5, dtype: int64

In [157]:
df_copy.isnull().P4_7_5.any()

True

In [158]:
df_copy.P4_7_5 = df_copy.P4_7_5.astype('str')
df_copy.P4_7_5.replace({'nan':'99'}, inplace=True)

In [159]:
df_copy.P4_7_5 = df_copy.P4_7_5.astype('float').astype('int64')

In [160]:
df_copy.P4_7_5.value_counts()

99    94270
2     40685
1       386
Name: P4_7_5, dtype: int64

In [161]:
df_copy.isnull().P4_7_5.any()

False

In [162]:
df_copy.P4_7_5.value_counts().sum()

135341

# 30.a columna P4_7_5E (Especifique)

In [163]:
df_copy.P4_7_5E.value_counts()

LAPTOP                                                                                      57
TELEVISION                                                                                  50
CONSOLA DE VIDEO JUEGOS                                                                     12
SMART TV                                                                                    11
LAPTOP TABLET                                                                               11
CONSOLA DE VIDEOJUEGOS                                                                      11
TABLET                                                                                      10
LAP TOP                                                                                      9
XBOX                                                                                         7
CONSOLA                                                                                      7
CON LA TELEVISION                                                                            6
PANTALLA PLANA                                                                               5
COMPUTADORA                                                                                  4
TV CON ACCESO A INTERNET                                                                     4
TABLET LAPTOP                                                                                4
TELEVISOR                                                                                    4
TELEVICION                                                                                   3
MODEM                                                                                        3
IPOD                                                                                         3
VIDEO JUEGO                                                                                  3
IPAD                                                                                         3
PANTALLA                                                                                     3
LAPTOP Y CONSOLA DE VIDEO JUEGOS                                                             2
TV SMART                                                                                     2
CON LA TV                                                                                    2
CONSOLA DE VIDEO JUEGO                                                                       2
LAP                                                                                          2
COMPUTADORA DE ESCRITORIO                                                                    2
NINGUNO                                                                                      2
CON SMARTTV                                                                                  2
                                                                                            ..
RELOJ SMART WASH                                                                             1
XBOX APPLETV ROKU                                                                            1
TV Y CONSOLA DE VIDEOJUEGO                                                                   1
CON LA LAPTOP MEDIANTE. LOS DATOS DEL CELULAR                                                1
TELEVISION SMART TV                                                                          1
EXXV0S                                                                                       1
CON LA DE ESCRITORIO Y LA LAP TOP                                                            1
LA COMPUTADORA CUANDO VIENEN DE VISITA LOS HIJOS EN VACACIONES                               1
EQUIPO DE JUEGOS                                                                             1
LA CONEXION ES PRESTA POR SU HERMANO                                                         1
XBOOX                                                                                        1
COMPUTADORA PORTATIL                                                                         1
PANTALLA SMART TV Y LAPTOP                                                                   1
UN DISPOSITIVO MOVIL DE WIFI DE PREPAGO DESCONOCE LA COMPAÃƒÂ‘IA QUE LE OFRESE EL SERVICIO     1
EN TELEVISION                                                                                1
CON UNA LAPTOP COMPUTADORA DE ESCRITORIO                                                     1
LAPTOP XBOX                                                                                  1
TE3EV5S56N                                                                                   1
CUN UNA USB BANDA ANCHA                                                                      1
CONSOLA  DE VIDEOJUEGOS                                                                      1
LAPTOP ANCLADA A SU CELULAR                                                                  1
CONSOLA DE VIDZEO JUEGOS                                                                     1
CONSOLA DE VIDEJUEGOS                                                                        1
TELDEVISION                                                                                  1
COMPUTADORA DE ESCRITORIO LAPTOP Y TELEVISION                                                1
CON UAN COMPUTADORA PORTATIL                                                                 1
TELEVISION CON ACCESO A INTERNET                                                             1
PANTALLA TV SMART TV                                                                         1
SMAR TV                                                                                      1
ATRAVEZ DE SU LAPTOP CON UNA CLAVE DE INTERNET QUE LE VENDEN EN LA TIENDA                    1
Name: P4_7_5E, Length: 164, dtype: int64

In [164]:
df_copy.P4_7_5E = df_copy.P4_7_5E.astype('str')
df_copy.P4_7_5E.replace({'nan':'b'}, inplace=True)

In [165]:
df_copy.P4_7_5E.value_counts()

b                                                                            134955
LAPTOP                                                                           57
TELEVISION                                                                       50
CONSOLA DE VIDEO JUEGOS                                                          12
CONSOLA DE VIDEOJUEGOS                                                           11
SMART TV                                                                         11
LAPTOP TABLET                                                                    11
TABLET                                                                           10
LAP TOP                                                                           9
XBOX                                                                              7
CONSOLA                                                                           7
CON LA TELEVISION                                                                 6
PANTALLA PLANA                                                                    5
TABLET LAPTOP                                                                     4
TV CON ACCESO A INTERNET                                                          4
TELEVISOR                                                                         4
COMPUTADORA                                                                       4
VIDEO JUEGO                                                                       3
TELEVICION                                                                        3
PANTALLA                                                                          3
IPOD                                                                              3
MODEM                                                                             3
IPAD                                                                              3
NINGUNO                                                                           2
COMPUTADORA DE ESCRITORIO                                                         2
TV SMART                                                                          2
LAPTOP Y CONSOLA DE VIDEO JUEGOS                                                  2
CONSOLA DE VIDEO JUEGO                                                            2
CON SMARTTV                                                                       2
CON LA TV                                                                         2
                                                                              ...
CON UNALAP TOP ANCLADA A LA RED DEL TELEFONO CELULAR                              1
LAPTOP POR MEDIO DE FICHAS WIFI                                                   1
BOCINA                                                                            1
POR LA TELEVISION DE PLASMA                                                       1
CON LA SMARTV                                                                     1
XBOOX                                                                             1
VIDEOJUEGOS                                                                       1
LA CONEXION ES PRESTA POR SU HERMANO                                              1
EQUIPO DE JUEGOS                                                                  1
ROKU                                                                              1
LA COMPUTADORA CUANDO VIENEN DE VISITA LOS HIJOS EN VACACIONES                    1
CON LA DE ESCRITORIO Y LA LAP TOP                                                 1
EXXV0S                                                                            1
CON LA LAPTOP MEDIANTE. LOS DATOS DEL CELULAR                                     1
CONSOLO DE VIDEOJUEGOS                                                            1
SMART TV Y CONSOLA DE VIDEOJUEGOS                                                 1
JUEGOS DE EXBOX                                                                   1
TV Y CONSOLA DE VIDEOJUEGO                                                        1
BLURAI                                                                            1
XBOX APPLETV ROKU                                                                 1
RELOJ SMART WASH                                                                  1
CON LA TELREVISION Y CONSOLA DE VIDEO JUEGOS                                      1
LAP TOP NY TABLET                                                                 1
CON TELEVISION CONECTADA A WIFI                                                   1
COMPUTADORA PORTATIL                                                              1
TELEVISION SMART TV                                                               1
PANTALLA SMART TV Y LAPTOP                                                        1
CONSOLA DE VIDEJUEGOS                                                             1
SMAR TV                                                                           1
ATRAVEZ DE SU LAPTOP CON UNA CLAVE DE INTERNET QUE LE VENDEN EN LA TIENDA         1
Name: P4_7_5E, Length: 165, dtype: int64

In [166]:
df_copy.drop('P4_7_5E',1, inplace=True)

# 31.a columna P4_8 (4.8 Â¿Por quÃ© no dispone de Internet en el hogar?) 
## 1 Falta de recursos econÃ³micos (servicio incosteable),2 No les interesa o no lo necesitan,3 No sabe usarlo,4 Desconoce su utilidad,5 Equipo insuficiente o sin capacidad,6 No hay proveedor o infraestructura en su localidad,7 Otra razÃ³n,99 No responde

In [167]:
df_copy.P4_8.value_counts()

1.0    32391
2.0    13788
3.0     6106
6.0     4644
7.0     2235
4.0      631
5.0      513
8.0       32
Name: P4_8, dtype: int64

In [168]:
df_copy.isnull().P4_8.any()

True

In [169]:
df_copy.P4_8 = df_copy.P4_8.astype('str')
df_copy.P4_8.replace({'nan':'99'}, inplace=True)

In [170]:
df_copy.P4_8 = df_copy.P4_8.astype('float').astype('int64')

In [171]:
df_copy.P4_8.value_counts()

99    75001
1     32391
2     13788
3      6106
6      4644
7      2235
4       631
5       513
8        32
Name: P4_8, dtype: int64

## juntamos el 8 con el 99

In [172]:
count = 0
for row in df_copy.P4_8:
    if df_copy.P4_8[count] == 8:
        df_copy.P4_8[count] = 99
    count = count + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [173]:
df_copy.P4_8.value_counts()

99    75033
1     32391
2     13788
3      6106
6      4644
7      2235
4       631
5       513
Name: P4_8, dtype: int64

In [177]:
df_copy.isnull().P4_8.any()

False

In [178]:
df_copy.P4_8.value_counts().sum()

135341

# 32.a columna P4_8E (Especifique)

In [179]:
df_copy.P4_8E.value_counts()

POR SEGURIDAD                                                                                                     17
NO HAY SEÃƒÂ‘AL                                                                                                     15
FALTA DE TIEMPO                                                                                                   11
NO TIENE COMPUTADORA                                                                                              11
NO LO NECESITA                                                                                                    10
NO HAY SERVICIO EN LA LOCALIDAD                                                                                   10
NO TIENEN COMPUTADORA                                                                                              8
SE ACABAN DE MUDAR                                                                                                 8
CASI NO ESTAN EN CASA                                                                                              8
NO LO OCUPAN                                                                                                       7
POR FALTA DE TIEMPO                                                                                                7
NO LO NECESITAN                                                                                                    7
CADA QUIEN TIENE SU CELULAR                                                                                        7
NO LLEGA LA SEÃƒÂ‘AL                                                                                                 6
NO TIENE TIEMPO                                                                                                    6
NO LO HAN CONTRATADO                                                                                               6
NO LO HA CONTRATADO                                                                                                6
CASI NO ESTA EN SU CASA                                                                                            6
PORQUE NO TIENEN COMPUTADORA                                                                                       6
NO LE GUSTA                                                                                                        5
APENAS LO VAN A CONTRATAR                                                                                          5
SE ACABAN DE CAMBIAR                                                                                               5
CASI NO ESTAN EN SU CASA                                                                                           5
NO TIENEN TIEMPO                                                                                                   5
NO HA CONTRATADO                                                                                                   5
NO LES GUSTA                                                                                                       4
UTILIZA EL CELULAR                                                                                                 4
NO LO OCUPA                                                                                                        4
USAN EL CELULAR                                                                                                    4
SE ACABA DE CAMBIAR                                                                                                4
                                                                                                                  ..
LA VIVIENDA DE AL LADO SE LO PRESTA                                                                                1
POR FALTA DE TIEMPO NO HAN SOLITADO SERVICIO PERO LO HARAN                                                         1
POR QUE APENAS VAN A CONTRATAR                                                                                     1
FALTA DE SEÃƒÂ‘AL                                                                                                    1
LO TIENEN SUSPENDIDO Y NO PIENSAN REACTIVARLO                                                                      1
UTILIZAN LOS DATOS DEL CELULAR PARA CONECTARSE                                                                     1
APENAS LLEGARON A VIVIR HACE 3 DIAS                                                                                1
SE LO ACABAN DE CORTAR                                                                                             1
FAMILIAR VECINO LES PASA LA SEÃƒÂ‘AL DE WI FI                                                                        1
SE ENTRETIENEN LOS NIÃƒÂ‘OS Y NO QUIEREN HACER LA TAREA                                                              1
CASI NUNCA SE ENCUENTRA EN SU VIVIENDA Y COMENTA QUE LO PAGARIA EN VANO                                            1
SOLO HABITAN EL HOGAR  POR CUESTIONES DE TRABAJO                                                                   1
CASI NO ASISTEN EN CASA                                                                                            1
POR QUE NO LE AUTORIZAN LOS SERVICIOS                                                                              1
FALLAS EN EL SERVICIO HICERON QUE CANCELARAN CONTRATO                                                              1
POR NO PAGARLO SE LES HACE UN GASTO INNECESARIO.                                                                   1
LE RENTAN LA CASA Y TIENE PLAN EN TELEFONO CELULAR                                                                 1
CON SU CELULAR INGRESA A INTERNET                                                                                  1
EN LA LOCALIDAD HAY TRES CIBER DONDE SE PUEDEN CONECTAR PAGANDO EN LA VIVIENDA SELECCIONADA NO LLEGA LA SEÃƒÂ‘AL     1
CASI NO SE ENCUENTRAN EN CASA                                                                                      1
POR QUE ME ACABO DE CAMBIAR                                                                                        1
PORQUE TIENE TELEFONO CELULAR                                                                                      1
USA EN CASA DE SU ABUELO EL INTERNET EN OTRO HOGAR                                                                 1
LO ACABA DE CANCELAR                                                                                               1
SOLO TIENE DATOS MOVILES Y NO LOS COMPARTE                                                                         1
FALTA DE TIEMPO PARA CONTRATAR                                                                                     1
LE HAN OFRECIDO Y DICE QUE NO POR SEGURIDAD DE LA FAMILIA                                                          1
TIENEN POCO DE VIVIR EN ESTA ZONA                                                                                  1
APENAS SE CAMBIO DE DOMICILIO Y VA A SER EL CAMBIO                                                                 1
PO SU RELIGION                                                                                                     1
Name: P4_8E, Length: 1949, dtype: int64

In [181]:
df_copy.isnull().P4_8E.any()

True

In [182]:
df_copy.P4_8E = df_copy.P4_8E.astype('str')
df_copy.P4_8E.replace({'nan':'b'}, inplace=True)

In [183]:
df_copy.P4_8E.value_counts()

b                                                                                                                 133106
POR SEGURIDAD                                                                                                         17
NO HAY SEÃƒÂ‘AL                                                                                                         15
FALTA DE TIEMPO                                                                                                       11
NO TIENE COMPUTADORA                                                                                                  11
NO LO NECESITA                                                                                                        10
NO HAY SERVICIO EN LA LOCALIDAD                                                                                       10
NO TIENEN COMPUTADORA                                                                                                  8
SE ACABAN DE MUDAR                                                                                                     8
CASI NO ESTAN EN CASA                                                                                                  8
NO LO OCUPAN                                                                                                           7
NO LO NECESITAN                                                                                                        7
POR FALTA DE TIEMPO                                                                                                    7
CADA QUIEN TIENE SU CELULAR                                                                                            7
NO LO HA CONTRATADO                                                                                                    6
NO TIENE TIEMPO                                                                                                        6
CASI NO ESTA EN SU CASA                                                                                                6
NO LO HAN CONTRATADO                                                                                                   6
NO LLEGA LA SEÃƒÂ‘AL                                                                                                     6
PORQUE NO TIENEN COMPUTADORA                                                                                           6
APENAS LO VAN A CONTRATAR                                                                                              5
NO LE GUSTA                                                                                                            5
NO TIENEN TIEMPO                                                                                                       5
SE ACABAN DE CAMBIAR                                                                                                   5
CASI NO ESTAN EN SU CASA                                                                                               5
NO HA CONTRATADO                                                                                                       5
NO LES GUSTA                                                                                                           4
SE CONECTAN MEDIANTE DATOS MOVILES Y NO LOS COMPARTEN                                                                  4
UTILIZA EL CELULAR                                                                                                     4
NO LO OCUPA                                                                                                            4
                                                                                                                   ...
LA VIVIENDA DE AL LADO SE LO PRESTA                                                                                    1
POR FALTA DE TIEMPO NO HAN SOLITADO SERVICIO PERO LO HARAN                                                             1
POR QUE APENAS VAN A CONTRATAR                                                                                         1
FALTA DE SEÃƒÂ‘AL                                                                                                        1
LO TIENEN SUSPENDIDO Y NO PIENSAN REACTIVARLO                                                                          1
UTILIZAN LOS DATOS DEL CELULAR PARA CONECTARSE                                                                         1
APENAS LLEGARON A VIVIR HACE 3 DIAS                                                                                    1
SE LO ACABAN DE CORTAR                                                                                                 1
FAMILIAR VECINO LES PASA LA SEÃƒÂ‘AL DE WI FI                                                                            1
SE ENTRETIENEN LOS NIÃƒÂ‘OS Y NO QUIEREN HACER LA TAREA                                                                  1
CASI NUNCA SE ENCUENTRA EN SU VIVIENDA Y COMENTA QUE LO PAGARIA EN VANO                                                1
SOLO HABITAN EL HOGAR  POR CUESTIONES DE TRABAJO                                                                       1
CASI NO ASISTEN EN CASA                                                                                                1
POR QUE NO LE AUTORIZAN LOS SERVICIOS                                                                                  1
FALLAS EN EL SERVICIO HICERON QUE CANCELARAN CONTRATO                                                                  1
POR NO PAGARLO SE LES HACE UN GASTO INNECESARIO.                                                                       1
LE RENTAN LA CASA Y TIENE PLAN EN TELEFONO CELULAR                                                                     1
CON SU CELULAR INGRESA A INTERNET                                                                                      1
EN LA LOCALIDAD HAY TRES CIBER DONDE SE PUEDEN CONECTAR PAGANDO EN LA VIVIENDA SELECCIONADA NO LLEGA LA SEÃƒÂ‘AL         1
CASI NO SE ENCUENTRAN EN CASA                                                                                          1
POR QUE ME ACABO DE CAMBIAR                                                                                            1
PORQUE TIENE TELEFONO CELULAR                                                                                          1
USA EN CASA DE SU ABUELO EL INTERNET EN OTRO HOGAR                                                                     1
LO ACABA DE CANCELAR                                                                                                   1
SOLO TIENE DATOS MOVILES Y NO LOS COMPARTE                                                                             1
FALTA DE TIEMPO PARA CONTRATAR                                                                                         1
LE HAN OFRECIDO Y DICE QUE NO POR SEGURIDAD DE LA FAMILIA                                                              1
TIENEN POCO DE VIVIR EN ESTA ZONA                                                                                      1
APENAS SE CAMBIO DE DOMICILIO Y VA A SER EL CAMBIO                                                                     1
PO SU RELIGION                                                                                                         1
Name: P4_8E, Length: 1950, dtype: int64

In [184]:
df_copy.drop('P4_8E',1, inplace=True)

# 33.a columna P5_1 (5.1 Â¿Disponen de servicio de televisiÃ³n de paga?)
## 1 SÃ­, 2 No

In [185]:
df_copy.P5_1.value_counts()

1    71872
2    63469
Name: P5_1, dtype: int64

In [186]:
df_copy.isnull().P5_1.any()

False

In [187]:
df_copy.P5_1.value_counts().sum()

135341

# 34.a columna P5_2_1 (5.2 Â¿Lo reciben por cable?)
## 1 SÃ­, 2 No, 99

In [188]:
df_copy.P5_2_1.value_counts()

1.0    44437
2.0    27435
Name: P5_2_1, dtype: int64

In [189]:
df_copy.isnull().P5_2_1.any()

True

In [190]:
df_copy.P5_2_1 = df_copy.P5_2_1.astype('str')
df_copy.P5_2_1.replace({'nan':'99'}, inplace=True)

In [191]:
df_copy.P5_2_1 = df_copy.P5_2_1.astype('float').astype('int64')

In [192]:
df_copy.P5_2_1.value_counts()

99    63469
1     44437
2     27435
Name: P5_2_1, dtype: int64

In [193]:
df_copy.isnull().P5_2_1.any()

False

In [194]:
df_copy.P5_2_1.value_counts().sum()

135341

# 35.a columna P5_2_2 (vÃ­a satÃ©lite (Sky, Dish, etcÃ©tera)?)
## 1 SÃ­, 2 No, 99

In [195]:
df_copy.P5_2_2.value_counts()

2.0    44139
1.0    27733
Name: P5_2_2, dtype: int64

In [203]:
df_copy.isnull().P5_2_2.any()

False

In [197]:
df_copy.P5_2_2 = df_copy.P5_2_2.astype('str')
df_copy.P5_2_2.replace({'nan':'99'}, inplace=True)

In [198]:
df_copy.P5_2_2 = df_copy.P5_2_2.astype('float').astype('int64')

In [199]:
df_copy.P5_2_2.value_counts()

99    63469
2     44139
1     27733
Name: P5_2_2, dtype: int64

In [200]:
df_copy.isnull().P5_2_1.any()

False

In [201]:
df_copy.P5_2_2.value_counts().sum()

135341

# 36.a columna P5_3 (5.3 Â¿Por quÃ© no cuentan con servicios de televisiÃ³n de paga?)
## 1 Falta de recursos econÃ³micos,2 No les interesa,3 Otra razÃ³n,99 blanco

In [202]:
df_copy.P5_3.value_counts()

1.0    37670
2.0    20801
3.0     4998
Name: P5_3, dtype: int64

In [204]:
df_copy.P5_3 = df_copy.P5_3.astype('str')
df_copy.P5_3.replace({'nan':'99'}, inplace=True)
df_copy.P5_3 = df_copy.P5_3.astype('float').astype('int64')

In [205]:
df_copy.P5_3.value_counts()

99    71872
1     37670
2     20801
3      4998
Name: P5_3, dtype: int64

In [206]:
df_copy.P5_3.value_counts().sum()

135341

# 37.a columna P5_3E (Especifique)

In [207]:
df_copy.P5_3E.value_counts()

NO TIENE TELEVISION                                                     232
NO TIENEN TELEVISION                                                     94
NO TIENE TV                                                              68
NO LO NECESITA                                                           45
FALTA DE TIEMPO                                                          35
NO TIENEN TV                                                             34
NO CUENTA CON TELEVISION                                                 32
NO LO NECESITAN                                                          31
NO TIENE TELEVISOR                                                       25
NO HAY INFRAESTRUCTURA                                                   25
NO LE GUSTA                                                              24
NO CUENTAN CON TELEVISION                                                23
NO TIENE TIEMPO                                                          23
CASI NO ESTAN EN CASA                                                    22
NO ES NECESARIO                                                          22
NO TIENEN TIEMPO                                                         19
MAL SERVICIO                                                             18
PORQUE NO TIENE TELEVISION                                               18
NO LO OCUPAN                                                             18
POR FALTA DE TIEMPO                                                      16
NO TIENEN TELEVISOR                                                      15
NO CUENTAN CON TV                                                        15
NO VEN TELEVISION                                                        15
FALTA DE INFRAESTRUCTURA                                                 14
NO CUENTAN CON TELEVISOR                                                 14
PORQUE NO TIENEN TELEVISION                                              14
NO CUENTA CON TV                                                         14
NO LES GUSTA                                                             12
NO TIENE LUZ                                                             12
NO LA NECESITAN                                                          12
                                                                       ...
LES COMPARTEN EL SERVICIO EL OTRO HOGAR                                   1
NO TIENE TELEVISION SE LA ROBARON                                         1
VAN A CONTRATAR OTRO SERVICIO                                             1
TIENE ANTENA DE CONEJO                                                    1
SOLO UTILIZAN EL DECODIFICADOR5                                           1
NO LE COMBIENE                                                            1
POR LA REPETICION DE LA PROGRAMACION                                      1
TIENEN POCO VIVIENDO AQUI                                                 1
PORQUE CUENTA CON INTERNET                                                1
NADIE SE LA PASA EN SU CASA LO VEN INNECESARIO                            1
NO TIENE APARATO DE TV                                                    1
FALTA DE TIEMPO PARA IR HACER EL CONTRATO                                 1
UTILIZAN SEÃƒÂ‘AL ABIERTA                                                   1
POR QUE USA EL INTERNET                                                   1
NO LO USABAN VEN TODO EN INTERNET                                         1
APENAS SE PASARON ALA VIVIENDA APENAS LO VAN A SOLICITAR                  1
NO LO GUSTA                                                               1
TIENE UNA ANTENA YA QUE NO ESTABA CONFORME CON EL TELECABLE               1
PORQUE NO LE GUSTO EL PAQUETE CON TV                                      1
NO TIENE TELEVISION POR ESO NO TIENE SERVICIO DE TV DE PAGA               1
AQUI NO HAY ESO ESTAMOS INCOMUNICADOS                                     1
ME ESTOY INSTALANDO EN LA CASA                                            1
PORQUE CASI N ESTAN WN LA VIIEND                                          1
NO ESTAN EN CASA DURANTE EL DIA                                           1
POR QUE SUS HIJOS NO SE LO CONTRATARON                                    1
NO ES NECESARIO YA QUE COMENTA QUE NO SE ENCUENTRAN CASI EN EL HOGAR      1
NO LES SATISFACE LA CALIDAD DE PROGRAMACION                               1
POR QUE APENAS LO VA A CONTRATAR APENAS                                   1
TIENEN ANTENA AEREA TELEVISION ABIERTA                                    1
POR QUE CONECTAN LA PANTALLA A INTERNET                                   1
Name: P5_3E, Length: 3354, dtype: int64

In [208]:
df_copy.P5_3E = df_copy.P5_3E.astype('str')
df_copy.P5_3E.replace({'nan':'b'}, inplace=True)

In [209]:
df_copy.P5_3E.value_counts()

b                                                                       130343
NO TIENE TELEVISION                                                        232
NO TIENEN TELEVISION                                                        94
NO TIENE TV                                                                 68
NO LO NECESITA                                                              45
FALTA DE TIEMPO                                                             35
NO TIENEN TV                                                                34
NO CUENTA CON TELEVISION                                                    32
NO LO NECESITAN                                                             31
NO TIENE TELEVISOR                                                          25
NO HAY INFRAESTRUCTURA                                                      25
NO LE GUSTA                                                                 24
NO CUENTAN CON TELEVISION                                                   23
NO TIENE TIEMPO                                                             23
NO ES NECESARIO                                                             22
CASI NO ESTAN EN CASA                                                       22
NO TIENEN TIEMPO                                                            19
PORQUE NO TIENE TELEVISION                                                  18
MAL SERVICIO                                                                18
NO LO OCUPAN                                                                18
POR FALTA DE TIEMPO                                                         16
NO VEN TELEVISION                                                           15
NO TIENEN TELEVISOR                                                         15
NO CUENTAN CON TV                                                           15
PORQUE NO TIENEN TELEVISION                                                 14
NO CUENTA CON TV                                                            14
NO CUENTAN CON TELEVISOR                                                    14
FALTA DE INFRAESTRUCTURA                                                    14
NO TIENE LUZ                                                                12
NO LO UTILIZAN                                                              12
                                                                         ...
LES COMPARTEN EL SERVICIO EL OTRO HOGAR                                      1
NO TIENE TELEVISION SE LA ROBARON                                            1
VAN A CONTRATAR OTRO SERVICIO                                                1
TIENE ANTENA DE CONEJO                                                       1
SOLO UTILIZAN EL DECODIFICADOR5                                              1
NO LE COMBIENE                                                               1
POR LA REPETICION DE LA PROGRAMACION                                         1
TIENEN POCO VIVIENDO AQUI                                                    1
PORQUE CUENTA CON INTERNET                                                   1
NADIE SE LA PASA EN SU CASA LO VEN INNECESARIO                               1
NO TIENE APARATO DE TV                                                       1
FALTA DE TIEMPO PARA IR HACER EL CONTRATO                                    1
UTILIZAN SEÃƒÂ‘AL ABIERTA                                                      1
POR QUE USA EL INTERNET                                                      1
NO LO USABAN VEN TODO EN INTERNET                                            1
APENAS SE PASARON ALA VIVIENDA APENAS LO VAN A SOLICITAR                     1
NO LO GUSTA                                                                  1
TIENE UNA ANTENA YA QUE NO ESTABA CONFORME CON EL TELECABLE                  1
PORQUE NO LE GUSTO EL PAQUETE CON TV                                         1
NO TIENE TELEVISION POR ESO NO TIENE SERVICIO DE TV DE PAGA                  1
AQUI NO HAY ESO ESTAMOS INCOMUNICADOS                                        1
ME ESTOY INSTALANDO EN LA CASA                                               1
PORQUE CASI N ESTAN WN LA VIIEND                                             1
NO ESTAN EN CASA DURANTE EL DIA                                              1
POR QUE SUS HIJOS NO SE LO CONTRATARON                                       1
NO ES NECESARIO YA QUE COMENTA QUE NO SE ENCUENTRAN CASI EN EL HOGAR         1
NO LES SATISFACE LA CALIDAD DE PROGRAMACION                                  1
POR QUE APENAS LO VA A CONTRATAR APENAS                                      1
TIENEN ANTENA AEREA TELEVISION ABIERTA                                       1
ES FOMENTAR EL OCIO                                                          1
Name: P5_3E, Length: 3355, dtype: int64

In [210]:
df_copy.drop('P5_3E',1, inplace=True)

# 38.a columna P5_4 (5.4 Â¿Disponen de lÃ­nea telefÃ³nica fija (puede ser telefonÃ­a celular fija)?)
## 1 SÃ­, 2 No

In [211]:
df_copy.P5_4.value_counts()

2    84932
1    50409
Name: P5_4, dtype: int64

In [212]:
df_copy.P5_4.value_counts().sum()

135341

# 39.a columna P5_5_1 (5.5 VERIFIQUE Y CIRCULE LOS SERVICIOS QUE TIENE EN EL HOGAR (VEA: 4.4, 5.1 Y 5.4): Internet)
## 1 SÃ­, 2 No

In [213]:
df_copy.P5_5_1.value_counts()

1    75001
2    60340
Name: P5_5_1, dtype: int64

In [215]:
df_copy.P5_5_1.value_counts().sum()

135341

# 40.a columna P5_5_2 (TV de paga)
## 1 SÃ­, 2 No

In [216]:
df_copy.P5_5_2.value_counts()

1    71872
2    63469
Name: P5_5_2, dtype: int64

In [217]:
df_copy.P5_5_2.value_counts().sum()

135341