# Limpieza de datos para encuesta ENDITUH 2017, Tabla tr_hogar

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tr_hogar.csv', encoding='latin', low_memory=False)
df.head()

,UPM,VIV_SEL,HOGAR,N_INF,P4_1_1,P4_1_2,P4_1_3,P4_1_4,P4_1_5,P4_1_6,...,P5_7_7,P5_8_7,P5_10_1,P5_10_2,P5_10_3,CD_ENDUTIH,ENT,FAC_HOG,UPM_DIS,EST_DIS
0,100008,1,1,2,1,1,1,1,1,2,...,NaN,NaN,1.0,2.0,1.0,14.0,1,144.0,1,3
1,100008,2,1,1,2,1,2,1,1,2,...,200.0,NaN,1.0,1.0,3.0,14.0,1,144.0,1,3
2,100008,3,1,1,1,1,1,1,1,1,...,NaN,NaN,1.0,2.0,1.0,14.0,1,144.0,1,3
3,100008,4,1,1,2,2,2,2,1,2,...,400.0,NaN,1.0,3.0,3.0,14.0,1,144.0,1,3
4,100008,4,2,1,2,2,2,2,1,2,...,0.0,1.0,1.0,3.0,3.0,14.0,1,144.0,1,3

## General stats

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135341 entries, 0 to 135340
Data columns (total 75 columns):
UPM           135341 non-null int64
VIV_SEL       135341 non-null int64
HOGAR         135341 non-null int64
N_INF         135341 non-null int64
P4_1_1        135341 non-null int64
P4_1_2        135341 non-null int64
P4_1_3        135341 non-null int64
P4_1_4        135341 non-null int64
P4_1_5        135341 non-null int64
P4_1_6        135341 non-null int64
P4_2_1        135341 non-null int64
P4_2_2        135341 non-null int64
P4_2_3        135341 non-null int64
P4_3          70348 non-null float64
P4_3E         3018 non-null object
P4_4          135341 non-null int64
P4_5          75001 non-null float64
P4_6_1        60671 non-null float64
P4_6_2        60671 non-null float64
P4_6_3        60671 non-null float64
P4_6_4        60671 non-null float64
P4_6_5        60671 non-null float64
P4_6_6        60671 non-null float64
P4_6_6E       248 non-null object
P4_7_1        41071 non-null float64
P4_7_2        41071 non-null float64
P4_7_3        41071 non-null float64
P4_7_4        41071 non-null float64
P4_7_5        41071 non-null float64
P4_7_5E       386 non-null object
P4_8          60340 non-null float64
P4_8E         2235 non-null object
P5_1          135341 non-null int64
P5_2_1        71872 non-null float64
P5_2_2        71872 non-null float64
P5_3          63469 non-null float64
P5_3E         4998 non-null object
P5_4          135341 non-null int64
P5_5_1        135341 non-null int64
P5_5_2        135341 non-null int64
P5_5_3        135341 non-null int64
P5_5_4        135341 non-null int64
P5_6_1        101819 non-null float64
P5_7_1        13943 non-null float64
P5_8_1        153 non-null float64
P5_9_1        144 non-null float64
P5_6_2        101819 non-null float64
P5_7_2        822 non-null float64
P5_8_2        20 non-null float64
P5_9_2        14 non-null float64
P5_6_3        101819 non-null float64
P5_7_3        12218 non-null float64
P5_8_3        219 non-null float64
P5_9_3        32 non-null float64
P5_6_4        101819 non-null float64
P5_7_4        26280 non-null float64
P5_8_4        271 non-null float64
P5_9_4        153 non-null float64
P5_6_5        101819 non-null float64
P5_7_5        45147 non-null float64
P5_8_5        916 non-null float64
P5_6_6        101819 non-null float64
P5_7_6        9792 non-null float64
P5_8_6        313 non-null float64
P5_6_7        101819 non-null float64
P5_7_7        25425 non-null float64
P5_8_7        4646 non-null float64
P5_10_1       101819 non-null float64
P5_10_2       101819 non-null float64
P5_10_3       101819 non-null float64
CD_ENDUTIH    90960 non-null float64
ENT           135341 non-null int64
FAC_HOG       135341 non-null float64
UPM_DIS       135341 non-null int64
EST_DIS       135341 non-null int64
dtypes: float64(47), int64(23), object(5)
memory usage: 77.4+ MB

## Numbers of rows

In [4]:
df.shape[0]

135341

## Numbers of columns

In [5]:
df.shape[1]

75

## Columns names

In [6]:
df.columns.values.tolist()

['UPM',
 'VIV_SEL',
 'HOGAR',
 'N_INF',
 'P4_1_1',
 'P4_1_2',
 'P4_1_3',
 'P4_1_4',
 'P4_1_5',
 'P4_1_6',
 'P4_2_1',
 'P4_2_2',
 'P4_2_3',
 'P4_3',
 'P4_3E',
 'P4_4',
 'P4_5',
 'P4_6_1',
 'P4_6_2',
 'P4_6_3',
 'P4_6_4',
 'P4_6_5',
 'P4_6_6',
 'P4_6_6E',
 'P4_7_1',
 'P4_7_2',
 'P4_7_3',
 'P4_7_4',
 'P4_7_5',
 'P4_7_5E',
 'P4_8',
 'P4_8E',
 'P5_1',
 'P5_2_1',
 'P5_2_2',
 'P5_3',
 'P5_3E',
 'P5_4',
 'P5_5_1',
 'P5_5_2',
 'P5_5_3',
 'P5_5_4',
 'P5_6_1',
 'P5_7_1',
 'P5_8_1',
 'P5_9_1',
 'P5_6_2',
 'P5_7_2',
 'P5_8_2',
 'P5_9_2',
 'P5_6_3',
 'P5_7_3',
 'P5_8_3',
 'P5_9_3',
 'P5_6_4',
 'P5_7_4',
 'P5_8_4',
 'P5_9_4',
 'P5_6_5',
 'P5_7_5',
 'P5_8_5',
 'P5_6_6',
 'P5_7_6',
 'P5_8_6',
 'P5_6_7',
 'P5_7_7',
 'P5_8_7',
 'P5_10_1',
 'P5_10_2',
 'P5_10_3',
 'CD_ENDUTIH',
 'ENT',
 'FAC_HOG',
 'UPM_DIS',
 'EST_DIS']

## Column data types

In [7]:
df.dtypes

UPM             int64
VIV_SEL         int64
HOGAR           int64
N_INF           int64
P4_1_1          int64
P4_1_2          int64
P4_1_3          int64
P4_1_4          int64
P4_1_5          int64
P4_1_6          int64
P4_2_1          int64
P4_2_2          int64
P4_2_3          int64
P4_3          float64
P4_3E          object
P4_4            int64
P4_5          float64
P4_6_1        float64
P4_6_2        float64
P4_6_3        float64
P4_6_4        float64
P4_6_5        float64
P4_6_6        float64
P4_6_6E        object
P4_7_1        float64
P4_7_2        float64
P4_7_3        float64
P4_7_4        float64
P4_7_5        float64
P4_7_5E        object
               ...
P5_9_1        float64
P5_6_2        float64
P5_7_2        float64
P5_8_2        float64
P5_9_2        float64
P5_6_3        float64
P5_7_3        float64
P5_8_3        float64
P5_9_3        float64
P5_6_4        float64
P5_7_4        float64
P5_8_4        float64
P5_9_4        float64
P5_6_5        float64
P5_7_5        float64
P5_8_5        float64
P5_6_6        float64
P5_7_6        float64
P5_8_6        float64
P5_6_7        float64
P5_7_7        float64
P5_8_7        float64
P5_10_1       float64
P5_10_2       float64
P5_10_3       float64
CD_ENDUTIH    float64
ENT             int64
FAC_HOG       float64
UPM_DIS         int64
EST_DIS         int64
Length: 75, dtype: object

## Â¿Hay valores vacÃ­os?

In [8]:
df.isnull().any().any()

True

## Columnas con valores vacÃ­os

In [9]:
list_with_empty_fields = df.columns[df.isnull().any()].tolist()
list_with_empty_fields

['P4_3',
 'P4_3E',
 'P4_5',
 'P4_6_1',
 'P4_6_2',
 'P4_6_3',
 'P4_6_4',
 'P4_6_5',
 'P4_6_6',
 'P4_6_6E',
 'P4_7_1',
 'P4_7_2',
 'P4_7_3',
 'P4_7_4',
 'P4_7_5',
 'P4_7_5E',
 'P4_8',
 'P4_8E',
 'P5_2_1',
 'P5_2_2',
 'P5_3',
 'P5_3E',
 'P5_6_1',
 'P5_7_1',
 'P5_8_1',
 'P5_9_1',
 'P5_6_2',
 'P5_7_2',
 'P5_8_2',
 'P5_9_2',
 'P5_6_3',
 'P5_7_3',
 'P5_8_3',
 'P5_9_3',
 'P5_6_4',
 'P5_7_4',
 'P5_8_4',
 'P5_9_4',
 'P5_6_5',
 'P5_7_5',
 'P5_8_5',
 'P5_6_6',
 'P5_7_6',
 'P5_8_6',
 'P5_6_7',
 'P5_7_7',
 'P5_8_7',
 'P5_10_1',
 'P5_10_2',
 'P5_10_3',
 'CD_ENDUTIH']

# 1er columna UPM (Unidad primaria de muestreo)
## vemos que su nombre esta mal.

In [10]:
df = df.rename(columns={'Ã¯Â»Â¿UPM': 'UPM'})

## creamos copia del dataframe

In [11]:
df_copy = df.copy()

## no hay anomalÃ­as en sus datos

In [12]:
df_copy.UPM.value_counts()

102137     40
1106101    40
206948     39
207192     38
207899     37
207917     37
206970     36
1909836    36
360096     36
207914     36
207003     36
207997     34
207880     32
2360200    31
2061378    27
2901097    25
2360055    25
2403483    25
703409     25
1108585    25
3260684    24
2460920    24
1060304    24
1660490    24
2303062    24
1460175    24
1660183    23
3160001    23
2860096    23
160198     23
           ..
1702303     1
1300361     1
203360      1
2301647     1
2401812     1
2105538     1
1300950     1
2700392     1
2302397     1
3004378     1
1700607     1
2400753     1
3003846     1
2700334     1
2400474     1
2700822     1
3101238     1
2102254     1
1600075     1
2901492     1
1201046     1
502955      1
2302168     1
206511      1
300167      1
2400524     1
2806896     1
1702785     1
1600874     1
1514922     1
Name: UPM, Length: 19903, dtype: int64

## Vemos que no hay valores vacÃ­os en la primer columna

In [13]:
df_copy.isnull().UPM.any()

False

In [14]:
df_copy.UPM.value_counts().sum()

135341

#  2da columna  VIV_SEL (Vivienda seleccionada)

## No presenta valores vacÃ­os

In [15]:
df_copy.isnull().VIV_SEL.any()

False

## su contenido no esta  fuera de lo comÃºn

In [16]:
df_copy.VIV_SEL.value_counts()

2     17763
3     17741
1     17642
4     17631
5     17587
8      5226
9      5215
7      5189
6      5187
10     5177
11     2105
12     2085
16     2075
15     2072
17     2072
13     2054
14     2047
18     2044
19     2036
20     1899
21      224
22       68
23       13
26       13
30       12
38       12
37       12
28       12
31       12
32       11
35       11
34       11
40       11
29       11
27       11
24       11
33       10
36       10
25       10
39        9
Name: VIV_SEL, dtype: int64

In [17]:
df_copy.VIV_SEL.value_counts().sum()

135341

# 3er columna HOGAR valores permitidos [1-6]

## No presenta vacÃ­os y sus valores corresponden al rango permitido

In [18]:
df_copy.HOGAR.value_counts()

1    132266
2      2593
3       383
4        81
5        18
Name: HOGAR, dtype: int64

In [19]:
df_copy.HOGAR.value_counts().sum()

135341

# 4ta Columna  N_INF (NÃºmero de renglÃ³n del informante)
## valores permitidos [01-30],99

## los valores se encuentran en el rango permitido

In [20]:
df_copy.N_INF.value_counts()

1     64503
2     53517
3      9758
4      4585
5      1862
6       692
7       245
8        96
9        36
10       20
11       14
12        7
13        4
21        1
16        1
Name: N_INF, dtype: int64

## No tiene valores vacÃ­os

In [21]:
df_copy.isnull().N_INF.any()

False

In [22]:
df_copy.N_INF.value_counts().sum()

135341

# 5ta columna P4_1_1 (4.1 Por favor, dÃ­game si dispone de Radio: (DEBEN ESTAR EN CONDICIONES DE USO)) 

## No tiene anomalÃ­as sus datos

In [23]:
df_copy.P4_1_1.value_counts()

1    77498
2    57843
Name: P4_1_1, dtype: int64

## No tiene valores vacÃ­os

In [24]:
df_copy.isnull().P4_1_1.any()

False

In [25]:
df_copy.P4_1_1.value_counts().sum()

135341

# 6ta columna P4_1_2 (2. Televisor analÃ³gico (de cinescopio)) 
## No tiene anomalÃ­as sus datos

In [26]:
df_copy.P4_1_2.value_counts()

2    71858
1    63483
Name: P4_1_2, dtype: int64

In [27]:
df_copy.isnull().P4_1_2.any()

False

In [28]:
df_copy.P4_1_2.value_counts().sum()

135341

# 7ma columna P4_1_3 (3. Pantalla plana (televisor digital, LCD o LED)) 
## No tiene anomalÃ­as sus datos

In [29]:
df_copy.P4_1_3.value_counts()

1    95652
2    39689
Name: P4_1_3, dtype: int64

In [30]:
df_copy.isnull().P4_1_3.any()

False

In [31]:
df_copy.P4_1_3.value_counts().sum()

135341

# 8va columna P4_1_4 (4. Decodificador de TV digital abierta (diferente a TV de paga)) 
## No tiene anomalÃ­as sus datos

In [32]:
df_copy.P4_1_4.value_counts()

2    114864
1     20477
Name: P4_1_4, dtype: int64

In [33]:
df_copy.isnull().P4_1_4.any()

False

In [34]:
df_copy.P4_1_4.value_counts().sum()

135341

# 9na columna P4_1_5 (5. TelÃ©fono celular mÃ³vil (por cualquiera de los integrantes)) 
## No tiene anomalÃ­as sus datos

In [35]:
df_copy.P4_1_5.value_counts()

1    123412
2     11929
Name: P4_1_5, dtype: int64

In [36]:
df_copy.isnull().P4_1_5.any()

False

In [37]:
df_copy.P4_1_5.value_counts().sum()

135341

# 10ma columna P4_1_6 (6. Consola de videojuegos) 
## No tiene anomalÃ­as sus datos

In [38]:
df_copy.P4_1_6.value_counts()

2    118148
1     17193
Name: P4_1_6, dtype: int64

In [39]:
df_copy.isnull().P4_1_6.any()

False

In [40]:
df_copy.P4_1_6.value_counts().sum()

135341

# 11.a columna P4_2_1 (4.2 Â¿Dispone de computadora de escritorio (teclado, monitor y CPU se encuentran separados)?) 
## No tiene anomalÃ­as sus datos

In [41]:
df_copy.P4_2_1.value_counts()

2    113113
1     22228
Name: P4_2_1, dtype: int64

In [42]:
df_copy.isnull().P4_2_1.any()

False

In [43]:
df_copy.P4_2_1.value_counts().sum()

135341

# 12.a columna P4_2_2 (Â¿Dispone de computadora portÃ¡til (teclado, monitor y CPU se encuentran integrados fÃ­sicamente)?) 
## No tiene anomalÃ­as sus datos

In [44]:
df_copy.P4_2_2.value_counts()

2    90541
1    44800
Name: P4_2_2, dtype: int64

In [45]:
df_copy.isnull().P4_2_1.any()

False

In [46]:
df_copy.P4_2_2.value_counts().sum()

135341

# 13.a columna P4_2_3 (Â¿Dispone de tablet (teclado y puntero virtuales, en la pantalla tÃ¡ctil)?) 
## No tiene anomalÃ­as sus datos

In [47]:
df_copy.P4_2_3.value_counts()

2    102663
1     32678
Name: P4_2_3, dtype: int64

In [48]:
df_copy.isnull().P4_2_3.any()

False

In [49]:
df_copy.P4_2_3.value_counts().sum()

135341

# 14.a columna P4_3 (4.3 Â¿Por quÃ© no disponen de computadora, laptop o tablet?) 
## [1-5], 99 en blanco

In [50]:
df_copy.P4_3.value_counts()

1.0    39329
2.0    13652
3.0    10003
4.0     4287
5.0     3018
8.0       59
Name: P4_3, dtype: int64

## hay valores vacios

In [51]:
df_copy.isnull().P4_3.any()

True

## convertimos los datos de la columna a string para mayor comodidad

In [52]:
P4_3 = df_copy.P4_3.astype('str')

In [53]:
P4_3.value_counts()

nan    64993
1.0    39329
2.0    13652
3.0    10003
4.0     4287
5.0     3018
8.0       59
Name: P4_3, dtype: int64

## reemplazamos los valores vacios por 99

In [54]:
P4_3 = P4_3.replace({'nan':'99'})
P4_3.value_counts()

99     64993
1.0    39329
2.0    13652
3.0    10003
4.0     4287
5.0     3018
8.0       59
Name: P4_3, dtype: int64

## convertimos todos los datos a enteros

In [55]:
df_copy.P4_3 = P4_3
df_copy.P4_3 = df_copy.P4_3.astype('str').astype('float').astype('int64')

## se comprueba que ya no hay valores vacios y estan en un solo valor que es 99

In [56]:
df_copy.P4_3.value_counts()

99    64993
1     39329
2     13652
3     10003
4      4287
5      3018
8        59
Name: P4_3, dtype: int64

## reemplazamos los valores 8 por 99, ya que no responden

In [57]:
count = 0
for row in  df_copy.P4_3:
    if df_copy.P4_3[count] == 8:
        df_copy.P4_3[count] = 99
    count = count + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [58]:
df_copy.P4_3.value_counts()

99    65052
1     39329
2     13652
3     10003
4      4287
5      3018
Name: P4_3, dtype: int64

## se comprueba el tamaÃ±o de la columna

In [59]:
df_copy.P4_3.value_counts().sum()

135341

# 15.a columna P4_3E (4.3 Â¿Por quÃ© no disponen de computadora, laptop o tablet?) 
## [0-9, A-Z; SÃ­mbolos], b

In [60]:
df_copy.P4_3E.value_counts()

NO LA NECESITAN                                                           134
NO LA NECESITA                                                             85
SE DESCOMPUSO                                                              69
NO LA OCUPAN                                                               36
NO LO NECESITAN                                                            34
SE LA ROBARON                                                              32
NO LO NECESITA                                                             27
NO TIENEN INTERNET                                                         20
FALTA DE TIEMPO                                                            20
NO ES NECESARIO                                                            20
NO HAY INTERNET                                                            18
ESTA DESCOMPUESTA                                                          18
NO LA OCUPA                                                                16
NO LE GUSTA                                                                15
NO TIENE TIEMPO                                                            14
NO HAY INFRAESTRUCTURA                                                     13
NO HAY SEÃƒÂ‘AL                                                              12
SE DESCOMPUSIERON                                                          12
NO ES NECESARIA                                                            11
PORQUE NO TIENEN INTERNET                                                  10
POR SEGURIDAD                                                              10
NO TIENEN TIEMPO                                                           10
NO LE HACE FALTA                                                           10
PORQUE NO TIENE INTERNET                                                    9
NO TIENE LA NECESIDAD                                                       8
NO LES GUSTA                                                                8
NO LES HACE FALTA                                                           7
NO TIENE NECESIDAD                                                          7
SE LAS ROBARON                                                              7
NO LA NECESITA.                                                             7
                                                                         ...
NO HAY SERVICIO DE INTERNET AQUI POR ESO NO HA COMPRADO                     1
NO LO NECEITA                                                               1
NO TIENEN MUCHO PASO Y SU TABLET SE LAS ROBARON A LOS NIÃƒÂ‘OS                1
NO TIENEN NECESIDAD                                                         1
TENIAN UNA PERO SE DESCOMPUSO                                               1
LA UTILIZAN EN EL NEGOCIO                                                   1
POR QUE NO TIENEN LA NECESIDAD DE USARLA                                    1
NO LA NECESITAN POR QUE NO HAY INFRACCESTRUTURA                             1
NO TIENEN SERVICIO PARA USARLO                                              1
NO CREE CONVENIENTE TENER COMPUTADORA YA QUE SUS HIJOS ESTAN PEQUEÃƒÂ‘OS      1
POR EL MOMENTO NO LO NECESITA                                               1
PORQUE SUS HIJAS ESTAN PEQUEÃƒÂ‘AS Y NO LA CUIDARIAN                          1
LAS VENDIO HACE CUATRO MESES                                                1
LA UTILIZA EN SU TRABAJO                                                    1
NO HAY SEÃƒÂ‘AL EN EL PUEBLO                                                  1
NO LA CRE NECESARIA                                                         1
POR QUE LOS HIJOS DESCOMPONEN LOS APARATOS                                  1
FALTA DE INTERNET EN LA ZONA                                                1
ESTAN DESCOMPUESTAS Y NO LAS VA A ARREGLAR                                  1
ESTA DESCOMPUESTO Y NO LA VAN A REPARAR                                     1
SE ABURRE DE TANTA TECNOLOGIA                                               1
TENIAN PERO SE DESCOMPUSO Y NO PLANEAN REPARARLA                            1
ESTA EN PROCESO DE ADQUIRIR UNA                                             1
PORQUE LO CONSIDERAN UNA DISTRACCION PARA EL ESTUDIO                        1
PORQUE NO LES SERIA DE UTILIDAD                                             1
PORQUE LOS NIÃƒÂ‘OS SE DISTRAEN Y PREFIEREN NO COMPRARLOS                     1
APENAS  VAN  A  INSTALAR                                                    1
POR QUE SE LAS PUEDEN ROBAR ES MUY INSEGURO                                 1
NO HAY SEAL EN SU LOCALIDAD                                                 1
TIENEN CELULAR                                                              1
Name: P4_3E, Length: 2092, dtype: int64

In [61]:
df_copy.isnull().P4_3E.any()

True

## se reemplazan los valores en blanco por b, como dice el diccionario

In [62]:
P4_3E = df_copy.P4_3E.astype('str')
P4_3E = P4_3E.replace({'nan':'b'})

In [63]:
P4_3E.value_counts()

b                                                                         132323
NO LA NECESITAN                                                              134
NO LA NECESITA                                                                85
SE DESCOMPUSO                                                                 69
NO LA OCUPAN                                                                  36
NO LO NECESITAN                                                               34
SE LA ROBARON                                                                 32
NO LO NECESITA                                                                27
NO TIENEN INTERNET                                                            20
FALTA DE TIEMPO                                                               20
NO ES NECESARIO                                                               20
NO HAY INTERNET                                                               18
ESTA DESCOMPUESTA                                                             18
NO LA OCUPA                                                                   16
NO LE GUSTA                                                                   15
NO TIENE TIEMPO                                                               14
NO HAY INFRAESTRUCTURA                                                        13
NO HAY SEÃƒÂ‘AL                                                                 12
SE DESCOMPUSIERON                                                             12
NO ES NECESARIA                                                               11
NO LE HACE FALTA                                                              10
PORQUE NO TIENEN INTERNET                                                     10
NO TIENEN TIEMPO                                                              10
POR SEGURIDAD                                                                 10
PORQUE NO TIENE INTERNET                                                       9
NO LES GUSTA                                                                   8
NO TIENE LA NECESIDAD                                                          8
POR ROBO                                                                       7
NO LA NECESITA.                                                                7
SE LAS ROBARON                                                                 7
                                                                           ...
NO HAY SERVICIO DE INTERNET AQUI POR ESO NO HA COMPRADO                        1
NO LO NECEITA                                                                  1
NO TIENEN MUCHO PASO Y SU TABLET SE LAS ROBARON A LOS NIÃƒÂ‘OS                   1
NO TIENEN NECESIDAD                                                            1
TENIAN UNA PERO SE DESCOMPUSO                                                  1
LA UTILIZAN EN EL NEGOCIO                                                      1
POR QUE NO TIENEN LA NECESIDAD DE USARLA                                       1
NO LA NECESITAN POR QUE NO HAY INFRACCESTRUTURA                                1
NO TIENEN SERVICIO PARA USARLO                                                 1
NO CREE CONVENIENTE TENER COMPUTADORA YA QUE SUS HIJOS ESTAN PEQUEÃƒÂ‘OS         1
POR EL MOMENTO NO LO NECESITA                                                  1
PORQUE SUS HIJAS ESTAN PEQUEÃƒÂ‘AS Y NO LA CUIDARIAN                             1
LAS VENDIO HACE CUATRO MESES                                                   1
LA UTILIZA EN SU TRABAJO                                                       1
NO HAY SEÃƒÂ‘AL EN EL PUEBLO                                                     1
NO LA CRE NECESARIA                                                            1
POR QUE LOS HIJOS DESCOMPONEN LOS APARATOS                                     1
FALTA DE INTERNET EN LA ZONA                                                   1
ESTAN DESCOMPUESTAS Y NO LAS VA A ARREGLAR                                     1
ESTA DESCOMPUESTO Y NO LA VAN A REPARAR                                        1
SE ABURRE DE TANTA TECNOLOGIA                                                  1
TENIAN PERO SE DESCOMPUSO Y NO PLANEAN REPARARLA                               1
ESTA EN PROCESO DE ADQUIRIR UNA                                                1
PORQUE LO CONSIDERAN UNA DISTRACCION PARA EL ESTUDIO                           1
PORQUE NO LES SERIA DE UTILIDAD                                                1
PORQUE LOS NIÃƒÂ‘OS SE DISTRAEN Y PREFIEREN NO COMPRARLOS                        1
APENAS  VAN  A  INSTALAR                                                       1
POR QUE SE LAS PUEDEN ROBAR ES MUY INSEGURO                                    1
NO HAY SEAL EN SU LOCALIDAD                                                    1
TIENEN CELULAR                                                                 1
Name: P4_3E, Length: 2093, dtype: int64

## vemos que la mayoria de los datos estÃ¡n en blanco asi que procedemos a borrar la columna

In [64]:
df_copy.drop('P4_3E',1, inplace=True)

# 16.a columna P4_4 (4.4 Â¿Disponen de conexiÃ³n a Internet en el hogar?) 
## valores aceptados 1-2

In [65]:
df_copy.P4_4.value_counts()

1    75001
2    60340
Name: P4_4, dtype: int64

In [66]:
df_copy.isnull().P4_4.any()

False

In [67]:
df_copy.P4_4.value_counts().sum()

135341

# 17.a columna P4_5 (4.5 Â¿La conexiÃ³n a Internet es fija, mÃ³vil o de ambas?) 
## valores aceptados [1-3], 99

In [68]:
df_copy.P4_5.value_counts()

1.0    33803
3.0    26868
2.0    14203
9.0      127
Name: P4_5, dtype: int64

## vemos que hay valores nulos

In [69]:
df_copy.isnull().P4_5.any()

True

In [70]:
df_copy.P4_5.value_counts().sum()

75001

## cambiamos a string para reemplazar los valores nulos

In [71]:
df_copy.P4_5 = df_copy.P4_5.astype('str')
df_copy.P4_5.replace({'nan':'99'}, inplace=True)

In [72]:
df_copy.P4_5 = df_copy.P4_5.astype('float').astype('int64')

## ya no hay valores nulos, fueron reemplazados por 99

In [73]:
df_copy.P4_5.value_counts()

99    60340
1     33803
3     26868
2     14203
9       127
Name: P4_5, dtype: int64

In [74]:
df_copy.isnull().P4_5.any()

False

In [75]:
df_copy.P4_5.value_counts().sum()

135341

## reemplazamos los valores 9, por 99, ya que significa que no responden

In [76]:
count = 0
for row in  df_copy.P4_5:
    if df_copy.P4_5[count] == 9:
        df_copy.P4_5[count] = 99
    count = count + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [77]:
df_copy.P4_5.value_counts()

99    60467
1     33803
3     26868
2     14203
Name: P4_5, dtype: int64

In [78]:
df_copy.P4_5.value_counts().sum()

135341

# 18.a columna P4_6_1 (4.6 Â¿El medio de conexiÃ³n fija es por: lÃ­nea telefÃ³nica dedicada (con la que puede hablar por telÃ©fono cuando estÃ¡ conectado a Internet)?) 
## valores aceptados [1-2], 99

In [79]:
df_copy.P4_6_1.value_counts()

1.0    32788
2.0    27883
Name: P4_6_1, dtype: int64

## hay valores vacios

In [80]:
df_copy.isnull().P4_6_1.any()

True

## reemplazamos valores vacios por 99

In [81]:
df_copy.P4_6_1 = df_copy.P4_6_1.astype('str')
df_copy.P4_6_1.replace({'nan':'99'}, inplace=True)

In [82]:
df_copy.P4_6_1 = df_copy.P4_6_1.astype('float').astype('int64')

In [83]:
df_copy.P4_6_1.value_counts()

99    74670
1     32788
2     27883
Name: P4_6_1, dtype: int64

In [84]:
df_copy.isnull().P4_6_1.any()

False

In [85]:
df_copy.P4_6_1.value_counts().sum()

135341

# 19.a columna P4_6_2 (4Internet por cable (comÃºnmente asociada a TV de paga)?) 
## valores aceptados [1-2], 99

In [86]:
df_copy.P4_6_2.value_counts()

2.0    35157
1.0    25514
Name: P4_6_2, dtype: int64

## hay valores vacÃ­os

In [87]:
df_copy.isnull().P4_6_2.any()

True

## reemplazamos valores vacios por 99

In [88]:
df_copy.P4_6_2 = df_copy.P4_6_2.astype('str')
df_copy.P4_6_2.replace({'nan':'99'}, inplace=True)

In [89]:
df_copy.P4_6_2 = df_copy.P4_6_2.astype('float').astype('int64')

In [90]:
df_copy.P4_6_2.value_counts()

99    74670
2     35157
1     25514
Name: P4_6_2, dtype: int64

In [91]:
df_copy.isnull().P4_6_2.any()

False

In [92]:
df_copy.P4_6_2.value_counts().sum()

135341

# 20.a columna P4_6_3 (conexiÃ³n satelital (por una antena parabÃ³lica, no confundir con las antenas de plato que otorgan servicio como Sky o Dish)?) 
## valores aceptados [1-2], 99

In [93]:
df_copy.P4_6_3.value_counts()

2.0    59203
1.0     1468
Name: P4_6_3, dtype: int64

## hay valores vacios

In [94]:
df_copy.isnull().P4_6_3.any()

True

## reemplazamos los valores

In [95]:
df_copy.P4_6_3 = df_copy.P4_6_3.astype('str')
df_copy.P4_6_3.replace({'nan':'99'}, inplace=True)

In [96]:
df_copy.P4_6_3 = df_copy.P4_6_3.astype('float').astype('int64')

In [97]:
df_copy.P4_6_3.value_counts()

99    74670
2     59203
1      1468
Name: P4_6_3, dtype: int64

In [98]:
df_copy.isnull().P4_6_3.any()

False

In [99]:
df_copy.P4_6_3.value_counts().sum()

135341

# 21.a columna P4_6_4 (seÃ±al abierta de WiFi (externa a su hogar)?) 
## valores aceptados [1-2], 99

In [100]:
df_copy.P4_6_4.value_counts()

2.0    58011
1.0     2660
Name: P4_6_4, dtype: int64

In [101]:
df_copy.isnull().P4_6_4.any()

True

In [102]:
df_copy.P4_6_4 = df_copy.P4_6_4.astype('str')
df_copy.P4_6_4.replace({'nan':'99'}, inplace=True)

In [103]:
df_copy.P4_6_4 = df_copy.P4_6_4.astype('float').astype('int64')

In [104]:
df_copy.P4_6_4.value_counts()

99    74670
2     58011
1      2660
Name: P4_6_4, dtype: int64

In [105]:
df_copy.isnull().P4_6_4.any()

False

In [106]:
df_copy.P4_6_4.value_counts().sum()

135341

# 22.a columna P4_6_5 (lÃ­nea telefÃ³nica por marcaciÃ³n (DIAL UP, mientras estÃ¡ conectado a Internet no puede hablar por telÃ©fono)?) 
## valores aceptados [1-2], 99

In [107]:
df_copy.P4_6_5.value_counts()

2.0    60557
1.0      114
Name: P4_6_5, dtype: int64

In [108]:
df_copy.isnull().P4_6_5.any()

True

In [109]:
df_copy.P4_6_5 = df_copy.P4_6_5.astype('str')
df_copy.P4_6_5.replace({'nan':'99'}, inplace=True)

In [110]:
df_copy.P4_6_5 = df_copy.P4_6_5.astype('float').astype('int64')

In [111]:
df_copy.P4_6_5.value_counts()

99    74670
2     60557
1       114
Name: P4_6_5, dtype: int64

In [112]:
df_copy.isnull().P4_6_5.any()

False

In [113]:
df_copy.P4_6_5.value_counts().sum()

135341

# 23.a columna P4_6_6 (Otro medio) 
## valores aceptados [1-2], 99

In [114]:
df_copy.P4_6_6.value_counts()

2.0    60423
1.0      248
Name: P4_6_6, dtype: int64

In [115]:
df_copy.isnull().P4_6_6.any()

True

In [116]:
df_copy.P4_6_6 = df_copy.P4_6_6.astype('str')
df_copy.P4_6_6.replace({'nan':'99'}, inplace=True)

In [117]:
df_copy.P4_6_6 = df_copy.P4_6_6.astype('float').astype('int64')

In [118]:
df_copy.P4_6_6.value_counts()

99    74670
2     60423
1       248
Name: P4_6_6, dtype: int64

In [119]:
df_copy.isnull().P4_6_6.any()

False

In [120]:
df_copy.P4_6_6.value_counts().sum()

135341

# 24.a columna P4_6_6E (Especifique) 
## valores aceptados [0-9, A-Z; SÃ­mbolos], b

In [121]:
df_copy.P4_6_6E.value_counts()

ANTENA                                                                                     11
SOLO INTERNET                                                                              10
FIBRA OPTICA                                                                                6
MODEM                                                                                       5
CELULAR                                                                                     5
ANTENA REPETIDORA                                                                           4
BANDA ANCHA                                                                                 4
TOTAL PLAY                                                                                  3
CELULARES                                                                                   3
RED DE DATOS                                                                                3
NO SABE                                                                                     3
REPETIDORA                                                                                  2
ES POR MEDIO DE ANTENA                                                                      2
TELMEX                                                                                      2
POR MEDIO DE ANTENA                                                                         2
AXTEL                                                                                       2
DATOS DEL CELULAR                                                                           2
DATOS                                                                                       2
SOLO DATOS                                                                                  1
PURO INETRNET SOLO                                                                          1
MOVIL GASTO DE 1200                                                                         1
BANDA ANCAHA                                                                                1
ES POR MEDIO DE MODEM                                                                       1
SE LA PASAV EL VECINIO                                                                      1
INALAMBRICA                                                                                 1
TENIAN EL SERVICIO DE TELEFONO FIJO LO SUSPENDIERON Y AHORA SOLO PAGAN EL INTERNET SOLO     1
PEQUEÃƒÂ‘O DISPOSITIVO RECEPTOR CONECTADO DIRECTAMENTE A LA PCCOMPAÃƒÂ‘IA AIR                   1
EL INTERNET ES POR  ANTENA REPETIDORA Y A PARTE TIENEN DE DATOS MOVILES                     1
REPETIDORA DE INTERNET                                                                      1
ENTENA REPETIDORA DIRIGIDA                                                                  1
                                                                                           ..
SOLO TIENE APARATO PARA INTERNET.                                                           1
ANTENAS REPETIDORAS                                                                         1
SEÃƒÂ‘AL DE RED CELULAR                                                                       1
BANDA ANCHA MOVIL                                                                           1
USB MODEM                                                                                   1
SOLO PAGAN EL INTERNET                                                                      1
CELULAR MOVIL                                                                               1
REPETIDOR DE INTERNET                                                                       1
SOLO POR TELEFONO CELULAR                                                                   1
SOLO A TRABES DEL MODEM                                                                     1
DE LOS VECINOS                                                                              1
SOLO SE CONECTA A INTERNET POR MEDIO DE SU CELULAR                                          1
A TRAVEZ DE UNA QUE EXISTE EN UN CIBER Y MANDA LA SEÃƒÂ‘AL A LOS HOGARES DE PUNTO A PUNTO     1
SOLO INTERNET SOLO POR CABLE  PREPAHGO                                                      1
SE LA PASA UN CONOCIDO                                                                      1
SOLO PAGA INTERNET POR LA CAJITA                                                            1
A TRAVES DE DATOS EN CELULAR                                                                1
CONEXIO ANTENA                                                                              1
DEL VECINO                                                                                  1
POR MEDIO DE UNA ANTENA PARA SINTONIZAR SEÃƒÂ‘AL                                              1
LE PAGAN A SU VECINA POR EL USO DE LA INTERNET                                              1
JALAN INTERNET DE OTRA VIVIENDA                                                             1
DATOS MOVILES EN EL CELULAR                                                                 1
SE LO PASA SU HERMANO                                                                       1
INTERPHONET                                                                                 1
LE PASAN EL INTERNET DE OTRO HOGAR                                                          1
SOLO TIENE CONEXION CON SU CELULAR                                                          1
UN VECINO LES PASA EL INTERNET                                                              1
TIENE SOLO INTERNET POR MEDIO IZZI                                                          1
CELULAR INTELIGENTE RED DE DATOS                                                            1
Name: P4_6_6E, Length: 195, dtype: int64

In [122]:
df_copy.isnull().P4_6_6E.any()

True

In [123]:
df_copy.P4_6_6E = df_copy.P4_6_6E.astype('str')
df_copy.P4_6_6E.replace({'nan':'b'}, inplace=True)

# mÃ¡s del 95% son valores vacÃ­os, procedemos a borrar la columna

In [124]:
df_copy.P4_6_6E.value_counts()

b                                                                                          135093
ANTENA                                                                                         11
SOLO INTERNET                                                                                  10
FIBRA OPTICA                                                                                    6
MODEM                                                                                           5
CELULAR                                                                                         5
ANTENA REPETIDORA                                                                               4
BANDA ANCHA                                                                                     4
CELULARES                                                                                       3
NO SABE                                                                                         3
RED DE DATOS                                                                                    3
TOTAL PLAY                                                                                      3
POR MEDIO DE ANTENA                                                                             2
REPETIDORA                                                                                      2
AXTEL                                                                                           2
DATOS DEL CELULAR                                                                               2
TELMEX                                                                                          2
ES POR MEDIO DE ANTENA                                                                          2
DATOS                                                                                           2
POR FIBRA OPTICA USACEL MENSUAL                                                                 1
ENTENA REPETIDORA DIRIGIDA                                                                      1
EL INTERNET ES POR  ANTENA REPETIDORA Y A PARTE TIENEN DE DATOS MOVILES                         1
MODEM DE TELMEX                                                                                 1
COMPARTEN PAGO DE SERVICIO HOGAR UNO                                                            1
SE ROBA LA SEÃƒÂ‘AL DE SU MAMA                                                                    1
DISPONE DE UN MODEM SIN LINEA TELEFONICA                                                        1
DATOS MOVILES                                                                                   1
SOLO DATOS                                                                                      1
TENIAN EL SERVICIO DE TELEFONO FIJO LO SUSPENDIERON Y AHORA SOLO PAGAN EL INTERNET SOLO         1
SE LA PASAV EL VECINIO                                                                          1
                                                                                            ...
SOLO TIENE APARATO PARA INTERNET.                                                               1
ANTENAS REPETIDORAS                                                                             1
SEÃƒÂ‘AL DE RED CELULAR                                                                           1
BANDA ANCHA MOVIL                                                                               1
USB MODEM                                                                                       1
SOLO PAGAN EL INTERNET                                                                          1
CELULAR MOVIL                                                                                   1
REPETIDOR DE INTERNET                                                                           1
SOLO POR TELEFONO CELULAR                                                                       1
SOLO A TRABES DEL MODEM                                                                         1
DE LOS VECINOS                                                                                  1
SOLO SE CONECTA A INTERNET POR MEDIO DE SU CELULAR                                              1
A TRAVEZ DE UNA QUE EXISTE EN UN CIBER Y MANDA LA SEÃƒÂ‘AL A LOS HOGARES DE PUNTO A PUNTO         1
SOLO INTERNET SOLO POR CABLE  PREPAHGO                                                          1
SE LA PASA UN CONOCIDO                                                                          1
SOLO PAGA INTERNET POR LA CAJITA                                                                1
A TRAVES DE DATOS EN CELULAR                                                                    1
CONEXIO ANTENA                                                                                  1
DEL VECINO                                                                                      1
POR MEDIO DE UNA ANTENA PARA SINTONIZAR SEÃƒÂ‘AL                                                  1
LE PAGAN A SU VECINA POR EL USO DE LA INTERNET                                                  1
JALAN INTERNET DE OTRA VIVIENDA                                                                 1
DATOS MOVILES EN EL CELULAR                                                                     1
SE LO PASA SU HERMANO                                                                           1
INTERPHONET                                                                                     1
LE PASAN EL INTERNET DE OTRO HOGAR                                                              1
SOLO TIENE CONEXION CON SU CELULAR                                                              1
UN VECINO LES PASA EL INTERNET                                                                  1
TIENE SOLO INTERNET POR MEDIO IZZI                                                              1
CELULAR INTELIGENTE RED DE DATOS                                                                1
Name: P4_6_6E, Length: 196, dtype: int64

In [125]:
df_copy.drop('P4_6_6E',1, inplace=True)

# 25.a columna P4_7_1 (4.7 Â¿Con quÃ© equipo(s) hacen la conexiÃ³n mÃ³vil: Con un celular inteligente (Smartphone)?) 
## valores aceptados [1 Si-2 No], 99

In [126]:
df_copy.P4_7_1.value_counts()

1.0    40987
2.0       84
Name: P4_7_1, dtype: int64

In [127]:
df_copy.isnull().P4_7_1.any()

True

In [128]:
df_copy.P4_7_1 = df_copy.P4_7_1.astype('str')
df_copy.P4_7_1.replace({'nan':'99'}, inplace=True)

In [129]:
df_copy.P4_7_1 = df_copy.P4_7_1.astype('float').astype('int64')

In [130]:
df_copy.P4_7_1.value_counts()

99    94270
1     40987
2        84
Name: P4_7_1, dtype: int64

In [131]:
df_copy.isnull().P4_7_1.any()

False

In [132]:
df_copy.P4_7_1.value_counts().sum()

135341

# 26.a columna P4_7_2 (Con una computadora de escritorio y una tarjeta Banda Ancha MÃ³vil, tipo USB) 
## valores aceptados [1 Si-2 No], 99

In [133]:
df_copy.P4_7_2.value_counts()

2.0    39138
1.0     1933
Name: P4_7_2, dtype: int64

In [134]:
df_copy.isnull().P4_7_2.any()

True

In [135]:
df_copy.P4_7_2 = df_copy.P4_7_2.astype('str')
df_copy.P4_7_2.replace({'nan':'99'}, inplace=True)

In [136]:
df_copy.P4_7_2 = df_copy.P4_7_2.astype('float').astype('int64')

In [137]:
df_copy.P4_7_2.value_counts()

99    94270
2     39138
1      1933
Name: P4_7_2, dtype: int64

In [138]:
df_copy.isnull().P4_7_2.any()

False

In [139]:
df_copy.P4_7_2.value_counts().sum()

135341

# 27.a columna P4_7_3 (Con una computadora portÃ¡til y una tarjeta Banda Ancha MÃ³vil, tipo USB) 
## valores aceptados [1 Si-2 No], 99

In [140]:
df_copy.P4_7_3.value_counts()

2.0    36305
1.0     4766
Name: P4_7_3, dtype: int64

In [141]:
df_copy.isnull().P4_7_3.any()

True

In [142]:
df_copy.P4_7_3 = df_copy.P4_7_3.astype('str')
df_copy.P4_7_3.replace({'nan':'99'}, inplace=True)

In [143]:
df_copy.P4_7_3 = df_copy.P4_7_3.astype('float').astype('int64')

In [144]:
df_copy.P4_7_3.value_counts()

99    94270
2     36305
1      4766
Name: P4_7_3, dtype: int64

In [145]:
df_copy.isnull().P4_7_3.any()

False

In [146]:
df_copy.P4_7_3.value_counts().sum()

135341

# 28.a columna P4_7_4 (Con una tablet con acceso a red mÃ³vil) 
## valores aceptados [1 Si-2 No], 99

In [147]:
df_copy.P4_7_4.value_counts()

2.0    36885
1.0     4186
Name: P4_7_4, dtype: int64

In [148]:
df_copy.isnull().P4_7_4.any()

True

In [149]:
df_copy.P4_7_4 = df_copy.P4_7_4.astype('str')
df_copy.P4_7_4.replace({'nan':'99'}, inplace=True)

In [150]:
df_copy.P4_7_4 = df_copy.P4_7_4.astype('float').astype('int64')

In [151]:
df_copy.P4_7_4.value_counts()

99    94270
2     36885
1      4186
Name: P4_7_4, dtype: int64

In [152]:
df_copy.isnull().P4_7_4.any()

False

In [153]:
df_copy.P4_7_4.value_counts().sum()

135341

# 29.a columna P4_7_5 (Otro equipo) 
## valores aceptados [1 Si-2 No], 99

In [154]:
df_copy.P4_7_5.value_counts()

2.0    40685
1.0      386
Name: P4_7_5, dtype: int64

In [155]:
df_copy.isnull().P4_7_5.any()

True

In [156]:
df_copy.P4_7_5 = df_copy.P4_7_5.astype('str')
df_copy.P4_7_5.replace({'nan':'99'}, inplace=True)

In [157]:
df_copy.P4_7_5 = df_copy.P4_7_5.astype('float').astype('int64')

In [158]:
df_copy.P4_7_5.value_counts()

99    94270
2     40685
1       386
Name: P4_7_5, dtype: int64

In [159]:
df_copy.isnull().P4_7_5.any()

False

In [160]:
df_copy.P4_7_5.value_counts().sum()

135341

# 30.a columna P4_7_5E (Especifique)

In [161]:
df_copy.P4_7_5E.value_counts()

LAPTOP                                                                                      57
TELEVISION                                                                                  50
CONSOLA DE VIDEO JUEGOS                                                                     12
LAPTOP TABLET                                                                               11
CONSOLA DE VIDEOJUEGOS                                                                      11
SMART TV                                                                                    11
TABLET                                                                                      10
LAP TOP                                                                                      9
XBOX                                                                                         7
CONSOLA                                                                                      7
CON LA TELEVISION                                                                            6
PANTALLA PLANA                                                                               5
TELEVISOR                                                                                    4
COMPUTADORA                                                                                  4
TABLET LAPTOP                                                                                4
TV CON ACCESO A INTERNET                                                                     4
IPAD                                                                                         3
TELEVICION                                                                                   3
MODEM                                                                                        3
VIDEO JUEGO                                                                                  3
IPOD                                                                                         3
PANTALLA                                                                                     3
LAPTOP SMART TV                                                                              2
X BOX                                                                                        2
TV SMART                                                                                     2
CON SMARTTV                                                                                  2
LAPTOP Y CONSOLA DE VIDEO JUEGOS                                                             2
COMPUTADORA DE ESCRITORIO                                                                    2
ANTENA                                                                                       2
LAP                                                                                          2
                                                                                            ..
CONSOLA DE VIDEJUEGOS                                                                        1
TELEVISION Y CONSOLA DE VIDEO JUEGOS                                                         1
JUEGOS DE EXBOX                                                                              1
TELEVISION SMART TV                                                                          1
CON LA LAPTOP MEDIANTE. LOS DATOS DEL CELULAR                                                1
RED DE DATOS                                                                                 1
TELEVISION CON ACCESO A INTERNET                                                             1
LAP TOP MEDIANTE WIFI                                                                        1
POR MEDIO DEL CABLE                                                                          1
CON PANTALLA                                                                                 1
PANTALLA SMART TV Y LAPTOP                                                                   1
SMART TV Y CONSOLA DE VIDEO JUEGOS                                                           1
VIDEO JUEGOS                                                                                 1
TEKEVISION                                                                                   1
PANTALLA PLANA SMART TV                                                                      1
EXXV0S                                                                                       1
PLAY STATION                                                                                 1
PORTATIL TRANSFIERE DATOS MOVILES A SU LAPTOP.                                               1
UN DISPOSITIVO MOVIL DE WIFI DE PREPAGO DESCONOCE LA COMPAÃƒÂ‘IA QUE LE OFRESE EL SERVICIO     1
SMAR TV                                                                                      1
EXBOX                                                                                        1
TV CON ACCESO A INTENET                                                                      1
ROUTER                                                                                       1
SE CONECTAN CON LA COMPUTADORA DE ESCRITORIO                                                 1
TELEVISION SMARTTV                                                                           1
COMPUTADORA PORTATIL                                                                         1
BLUERAY                                                                                      1
COMPUTADORA DE ESCRITORIO Y LAPTOP                                                           1
CONSOLA  DE VIDEOJUEGOS                                                                      1
TE3EV5S56N                                                                                   1
Name: P4_7_5E, Length: 164, dtype: int64

In [162]:
df_copy.P4_7_5E = df_copy.P4_7_5E.astype('str')
df_copy.P4_7_5E.replace({'nan':'b'}, inplace=True)

In [163]:
df_copy.P4_7_5E.value_counts()

b                                                                                           134955
LAPTOP                                                                                          57
TELEVISION                                                                                      50
CONSOLA DE VIDEO JUEGOS                                                                         12
SMART TV                                                                                        11
CONSOLA DE VIDEOJUEGOS                                                                          11
LAPTOP TABLET                                                                                   11
TABLET                                                                                          10
LAP TOP                                                                                          9
CONSOLA                                                                                          7
XBOX                                                                                             7
CON LA TELEVISION                                                                                6
PANTALLA PLANA                                                                                   5
TABLET LAPTOP                                                                                    4
COMPUTADORA                                                                                      4
TV CON ACCESO A INTERNET                                                                         4
TELEVISOR                                                                                        4
PANTALLA                                                                                         3
MODEM                                                                                            3
IPOD                                                                                             3
TELEVICION                                                                                       3
IPAD                                                                                             3
VIDEO JUEGO                                                                                      3
X BOX                                                                                            2
CON SMARTTV                                                                                      2
LAPTOP Y CONSOLA DE VIDEO JUEGOS                                                                 2
LA TELEVISION                                                                                    2
LAP                                                                                              2
CONSOLA DE VIDEO JUEGO                                                                           2
LAPTOP SMART TV                                                                                  2
                                                                                             ...
BLURAI                                                                                           1
CONSOLA DE VIDEJUEGOS                                                                            1
TELEVISION Y CONSOLA DE VIDEO JUEGOS                                                             1
JUEGOS DE EXBOX                                                                                  1
CON LA LAPTOP MEDIANTE. LOS DATOS DEL CELULAR                                                    1
CON TELEVISION CONECTADA A WIFI                                                                  1
TELEVISION CON ACCESO A INTERNET                                                                 1
LAP TOP MEDIANTE WIFI                                                                            1
POR MEDIO DEL CABLE                                                                              1
CON PANTALLA                                                                                     1
PANTALLA SMART TV Y LAPTOP                                                                       1
SMART TV Y CONSOLA DE VIDEO JUEGOS                                                               1
TEKEVISION                                                                                       1
PANTALLA PLANA SMART TV                                                                          1
EXXV0S                                                                                           1
PLAY STATION                                                                                     1
PORTATIL TRANSFIERE DATOS MOVILES A SU LAPTOP.                                                   1
UN DISPOSITIVO MOVIL DE WIFI DE PREPAGO DESCONOCE LA COMPAÃƒÂ‘IA QUE LE OFRESE EL SERVICIO         1
SMAR TV                                                                                          1
EXBOX                                                                                            1
TV CON ACCESO A INTENET                                                                          1
ROUTER                                                                                           1
SE CONECTAN CON LA COMPUTADORA DE ESCRITORIO                                                     1
TELEVISION SMARTTV                                                                               1
COMPUTADORA PORTATIL                                                                             1
BLUERAY                                                                                          1
COMPUTADORA DE ESCRITORIO Y LAPTOP                                                               1
CONSOLA  DE VIDEOJUEGOS                                                                          1
RED DE DATOS                                                                                     1
TE3EV5S56N                                                                                       1
Name: P4_7_5E, Length: 165, dtype: int64

In [164]:
df_copy.drop('P4_7_5E',1, inplace=True)

# 31.a columna P4_8 (4.8 Â¿Por quÃ© no dispone de Internet en el hogar?) 
## 1 Falta de recursos econÃ³micos (servicio incosteable),2 No les interesa o no lo necesitan,3 No sabe usarlo,4 Desconoce su utilidad,5 Equipo insuficiente o sin capacidad,6 No hay proveedor o infraestructura en su localidad,7 Otra razÃ³n,99 No responde

In [165]:
df_copy.P4_8.value_counts()

1.0    32391
2.0    13788
3.0     6106
6.0     4644
7.0     2235
4.0      631
5.0      513
8.0       32
Name: P4_8, dtype: int64

In [166]:
df_copy.isnull().P4_8.any()

True

In [167]:
df_copy.P4_8 = df_copy.P4_8.astype('str')
df_copy.P4_8.replace({'nan':'99'}, inplace=True)

In [168]:
df_copy.P4_8 = df_copy.P4_8.astype('float').astype('int64')

In [169]:
df_copy.P4_8.value_counts()

99    75001
1     32391
2     13788
3      6106
6      4644
7      2235
4       631
5       513
8        32
Name: P4_8, dtype: int64

## juntamos el 8 con el 99

In [170]:
count = 0
for row in df_copy.P4_8:
    if df_copy.P4_8[count] == 8:
        df_copy.P4_8[count] = 99
    count = count + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [171]:
df_copy.P4_8.value_counts()

99    75033
1     32391
2     13788
3      6106
6      4644
7      2235
4       631
5       513
Name: P4_8, dtype: int64

In [172]:
df_copy.isnull().P4_8.any()

False

In [173]:
df_copy.P4_8.value_counts().sum()

135341

# 32.a columna P4_8E (Especifique)

In [174]:
df_copy.P4_8E.value_counts()

POR SEGURIDAD                                                                   17
NO HAY SEÃƒÂ‘AL                                                                   15
FALTA DE TIEMPO                                                                 11
NO TIENE COMPUTADORA                                                            11
NO LO NECESITA                                                                  10
NO HAY SERVICIO EN LA LOCALIDAD                                                 10
SE ACABAN DE MUDAR                                                               8
NO TIENEN COMPUTADORA                                                            8
CASI NO ESTAN EN CASA                                                            8
NO LO NECESITAN                                                                  7
POR FALTA DE TIEMPO                                                              7
CADA QUIEN TIENE SU CELULAR                                                      7
NO LO OCUPAN                                                                     7
NO TIENE TIEMPO                                                                  6
CASI NO ESTA EN SU CASA                                                          6
PORQUE NO TIENEN COMPUTADORA                                                     6
NO LLEGA LA SEÃƒÂ‘AL                                                               6
NO LO HA CONTRATADO                                                              6
NO LO HAN CONTRATADO                                                             6
SE ACABAN DE CAMBIAR                                                             5
NO TIENEN TIEMPO                                                                 5
NO LE GUSTA                                                                      5
APENAS LO VAN A CONTRATAR                                                        5
CASI NO ESTAN EN SU CASA                                                         5
NO HA CONTRATADO                                                                 5
NO LO OCUPA                                                                      4
UTILIZA EL CELULAR                                                               4
SE ACABA DE CAMBIAR                                                              4
USAN EL CELULAR                                                                  4
NO LES GUSTA                                                                     4
                                                                                ..
MUCGAS FALLAS EN EL SERVICIO                                                     1
CASI NO ESTAN EN SU DOMICILIO                                                    1
NO HAY COBERTURA DE LA EMPRESA QUE DESEA                                         1
YA HICIERON CONTRATO PERO NO TIENEN LINEA                                        1
NO AGARRA LAS SEÃƒÂ‘ALES                                                           1
UTILZAN SERVICIO DE DATOS                                                        1
AL JEFE DE FAMILIA NO LE GUSTA                                                   1
CASI NO SE ENCUENTRA EN DOMICILIP                                                1
POR FALTA DE LUZ Y RECURSOS ECONOMICOS                                           1
ES NUEVA NUESTRA COMPUTADORA                                                     1
LO UTILIZA CON SU SUEGRA Q VIVE CERCA                                            1
CUENT CON LA MOVIL                                                               1
FALTA DE LINEA TELEFONICA                                                        1
UTILIZA EL SOLO EL TELEFONO                                                      1
NO HAN CHECADO COSTOS                                                            1
MALA SEÃƒÂ‘AL Y SERVICIO                                                           1
NO LLEGA LA SEÃƒÂ‘AL HASTA SU HOGAR                                                1
LO TIENEN EN SU NEGOCIO NADA MAS ESTA A MEDIA CUADRA DE LA VIVIENDA              1
SU PADRE VIVE ENFRENTE LES PASA LA CLAVE                                         1
SE CONECTA A RED PUBLICA                                                         1
PORQUE EL USO DEL INTERNET LOS HIJOS SE ALEJAN MAS DE LOS PADRES                 1
INDICA QUE NO CUENTAN CON TELEFONO FIJO Y POR ESO NO TIENEN TAMPOCO INTERNET     1
TENIA ANTES PERO YA NO TIENEN                                                    1
SE CORTO POR MAL SERVICIO                                                        1
SE QUEDARON SIN CELULAR PORQUE SE HECHO A PERDER                                 1
POR FALTA DE COMPUTADORA                                                         1
DESCONOCE SI YA ESTA LA INSFRAESTRYCTURA                                         1
VAN A CONTRATAR EL SERVICIO                                                      1
LA VIVIENDA TIENE DEUDA DE LOS INQUILINOS ANTERIORES                             1
PORQUE CONSIDERA QUE NO ES NECESARIO                                             1
Name: P4_8E, Length: 1949, dtype: int64

In [175]:
df_copy.isnull().P4_8E.any()

True

In [176]:
df_copy.P4_8E = df_copy.P4_8E.astype('str')
df_copy.P4_8E.replace({'nan':'b'}, inplace=True)

In [177]:
df_copy.P4_8E.value_counts()

b                                                                               133106
POR SEGURIDAD                                                                       17
NO HAY SEÃƒÂ‘AL                                                                       15
NO TIENE COMPUTADORA                                                                11
FALTA DE TIEMPO                                                                     11
NO LO NECESITA                                                                      10
NO HAY SERVICIO EN LA LOCALIDAD                                                     10
CASI NO ESTAN EN CASA                                                                8
SE ACABAN DE MUDAR                                                                   8
NO TIENEN COMPUTADORA                                                                8
POR FALTA DE TIEMPO                                                                  7
CADA QUIEN TIENE SU CELULAR                                                          7
NO LO NECESITAN                                                                      7
NO LO OCUPAN                                                                         7
PORQUE NO TIENEN COMPUTADORA                                                         6
CASI NO ESTA EN SU CASA                                                              6
NO LLEGA LA SEÃƒÂ‘AL                                                                   6
NO TIENE TIEMPO                                                                      6
NO LO HAN CONTRATADO                                                                 6
NO LO HA CONTRATADO                                                                  6
NO TIENEN TIEMPO                                                                     5
NO LE GUSTA                                                                          5
NO HA CONTRATADO                                                                     5
CASI NO ESTAN EN SU CASA                                                             5
APENAS LO VAN A CONTRATAR                                                            5
SE ACABAN DE CAMBIAR                                                                 5
SE ACABA DE CAMBIAR                                                                  4
SE CONECTAN MEDIANTE DATOS MOVILES Y NO LOS COMPARTEN                                4
UTILIZA EL CELULAR                                                                   4
NO LES GUSTA                                                                         4
                                                                                 ...
MUCGAS FALLAS EN EL SERVICIO                                                         1
CASI NO ESTAN EN SU DOMICILIO                                                        1
NO HAY COBERTURA DE LA EMPRESA QUE DESEA                                             1
YA HICIERON CONTRATO PERO NO TIENEN LINEA                                            1
NO AGARRA LAS SEÃƒÂ‘ALES                                                               1
UTILZAN SERVICIO DE DATOS                                                            1
AL JEFE DE FAMILIA NO LE GUSTA                                                       1
CASI NO SE ENCUENTRA EN DOMICILIP                                                    1
POR FALTA DE LUZ Y RECURSOS ECONOMICOS                                               1
ES NUEVA NUESTRA COMPUTADORA                                                         1
LO UTILIZA CON SU SUEGRA Q VIVE CERCA                                                1
CUENT CON LA MOVIL                                                                   1
FALTA DE LINEA TELEFONICA                                                            1
UTILIZA EL SOLO EL TELEFONO                                                          1
NO HAN CHECADO COSTOS                                                                1
MALA SEÃƒÂ‘AL Y SERVICIO                                                               1
NO LLEGA LA SEÃƒÂ‘AL HASTA SU HOGAR                                                    1
LO TIENEN EN SU NEGOCIO NADA MAS ESTA A MEDIA CUADRA DE LA VIVIENDA                  1
SU PADRE VIVE ENFRENTE LES PASA LA CLAVE                                             1
SE CONECTA A RED PUBLICA                                                             1
PORQUE EL USO DEL INTERNET LOS HIJOS SE ALEJAN MAS DE LOS PADRES                     1
INDICA QUE NO CUENTAN CON TELEFONO FIJO Y POR ESO NO TIENEN TAMPOCO INTERNET         1
TENIA ANTES PERO YA NO TIENEN                                                        1
SE CORTO POR MAL SERVICIO                                                            1
SE QUEDARON SIN CELULAR PORQUE SE HECHO A PERDER                                     1
POR FALTA DE COMPUTADORA                                                             1
DESCONOCE SI YA ESTA LA INSFRAESTRYCTURA                                             1
VAN A CONTRATAR EL SERVICIO                                                          1
LA VIVIENDA TIENE DEUDA DE LOS INQUILINOS ANTERIORES                                 1
PORQUE CONSIDERA QUE NO ES NECESARIO                                                 1
Name: P4_8E, Length: 1950, dtype: int64

In [178]:
df_copy.drop('P4_8E',1, inplace=True)

# 33.a columna P5_1 (5.1 Â¿Disponen de servicio de televisiÃ³n de paga?)
## 1 SÃ­, 2 No

In [179]:
df_copy.P5_1.value_counts()

1    71872
2    63469
Name: P5_1, dtype: int64

In [180]:
df_copy.isnull().P5_1.any()

False

In [181]:
df_copy.P5_1.value_counts().sum()

135341

# 34.a columna P5_2_1 (5.2 Â¿Lo reciben por cable?)
## 1 SÃ­, 2 No, 99

In [182]:
df_copy.P5_2_1.value_counts()

1.0    44437
2.0    27435
Name: P5_2_1, dtype: int64

In [183]:
df_copy.isnull().P5_2_1.any()

True

In [184]:
df_copy.P5_2_1 = df_copy.P5_2_1.astype('str')
df_copy.P5_2_1.replace({'nan':'99'}, inplace=True)

In [185]:
df_copy.P5_2_1 = df_copy.P5_2_1.astype('float').astype('int64')

In [186]:
df_copy.P5_2_1.value_counts()

99    63469
1     44437
2     27435
Name: P5_2_1, dtype: int64

In [187]:
df_copy.isnull().P5_2_1.any()

False

In [188]:
df_copy.P5_2_1.value_counts().sum()

135341

# 35.a columna P5_2_2 (vÃ­a satÃ©lite (Sky, Dish, etcÃ©tera)?)
## 1 SÃ­, 2 No, 99

In [189]:
df_copy.P5_2_2.value_counts()

2.0    44139
1.0    27733
Name: P5_2_2, dtype: int64

In [190]:
df_copy.isnull().P5_2_2.any()

True

In [191]:
df_copy.P5_2_2 = df_copy.P5_2_2.astype('str')
df_copy.P5_2_2.replace({'nan':'99'}, inplace=True)

In [192]:
df_copy.P5_2_2 = df_copy.P5_2_2.astype('float').astype('int64')

In [193]:
df_copy.P5_2_2.value_counts()

99    63469
2     44139
1     27733
Name: P5_2_2, dtype: int64

In [194]:
df_copy.isnull().P5_2_1.any()

False

In [195]:
df_copy.P5_2_2.value_counts().sum()

135341

# 36.a columna P5_3 (5.3 Â¿Por quÃ© no cuentan con servicios de televisiÃ³n de paga?)
## 1 Falta de recursos econÃ³micos,2 No les interesa,3 Otra razÃ³n,99 blanco

In [196]:
df_copy.P5_3.value_counts()

1.0    37670
2.0    20801
3.0     4998
Name: P5_3, dtype: int64

In [197]:
df_copy.P5_3 = df_copy.P5_3.astype('str')
df_copy.P5_3.replace({'nan':'99'}, inplace=True)
df_copy.P5_3 = df_copy.P5_3.astype('float').astype('int64')

In [198]:
df_copy.P5_3.value_counts()

99    71872
1     37670
2     20801
3      4998
Name: P5_3, dtype: int64

In [199]:
df_copy.P5_3.value_counts().sum()

135341

# 37.a columna P5_3E (Especifique)

In [200]:
df_copy.P5_3E.value_counts()

NO TIENE TELEVISION                                                                                      232
NO TIENEN TELEVISION                                                                                      94
NO TIENE TV                                                                                               68
NO LO NECESITA                                                                                            45
FALTA DE TIEMPO                                                                                           35
NO TIENEN TV                                                                                              34
NO CUENTA CON TELEVISION                                                                                  32
NO LO NECESITAN                                                                                           31
NO TIENE TELEVISOR                                                                                        25
NO HAY INFRAESTRUCTURA                                                                                    25
NO LE GUSTA                                                                                               24
NO CUENTAN CON TELEVISION                                                                                 23
NO TIENE TIEMPO                                                                                           23
CASI NO ESTAN EN CASA                                                                                     22
NO ES NECESARIO                                                                                           22
NO TIENEN TIEMPO                                                                                          19
MAL SERVICIO                                                                                              18
PORQUE NO TIENE TELEVISION                                                                                18
NO LO OCUPAN                                                                                              18
POR FALTA DE TIEMPO                                                                                       16
NO TIENEN TELEVISOR                                                                                       15
NO CUENTAN CON TV                                                                                         15
NO VEN TELEVISION                                                                                         15
PORQUE NO TIENEN TELEVISION                                                                               14
NO CUENTA CON TV                                                                                          14
FALTA DE INFRAESTRUCTURA                                                                                  14
NO CUENTAN CON TELEVISOR                                                                                  14
NO CUENTA CON TELEVISOR                                                                                   12
NO TIENE LUZ                                                                                              12
NO LES GUSTA                                                                                              12
                                                                                                        ...
NO LO NECESITAN LO QUE QUIERE ENCONTRAR LO ENCUENTRA EN INTERNET                                           1
ESTA EN TRAMITE                                                                                            1
PORQUE RENTAN SON ESTUDIANTES                                                                              1
POR QUE CASI NO ESTA EN LA VIVIENDA                                                                        1
CASI NO SE ENCUENTRA EN SU VIVIENDA                                                                        1
NO HAY IFRAESRUCTURA EN ESTA COLONIA                                                                       1
TIENEN POCO DE HABERSE CAMBIADO                                                                            1
APENAS LO CONTRATARON AUN NO CUENTAN CON EL SERVICIO                                                       1
POR QUE COMPRARON EL DECODIFICADOR.                                                                        1
POR QUE SE LES QUEMO LA TELE Y LO DEJARON DE UTILIZAR                                                      1
CASI NO ASISTE EN SU CASA                                                                                  1
NO CUENTAN CON ENERGIA ELECTRICA NI TV                                                                     1
PORQUE NO SERVIA CUANDO LO TUVIERON                                                                        1
NO TIENE EN QUE VER ESTE SERVICIO                                                                          1
PORQUE NO VE TELEVISION HASTA L FIN DE SEMANA. NO LO NECESITA                                              1
PORQUE SON MUY TRANZAS                                                                                     1
POR QUE NO HAY TELEVISION                                                                                  1
NO MIRA LA TV  YA QUE NO LE GUSTA ES POR ESO QUE NO CUENTA CON TV DE PAGA PERO SI CUENTA CON TV.           1
NO CUENTA CON ENERGIA ELECTRICA PARA SOLICITAR EL SERVICIO DE TELEVISION DE PAGA.                          1
UTILIZAN SART TV CON NETFLIX                                                                               1
TIENENNETFLIX                                                                                              1
TIENEN POCO VIVIENDO AQUI                                                                                  1
NO TIENE  LUZ                                                                                              1
TIENE ANTENA                                                                                               1
NO HAY INFRESTRUCTURA                                                                                      1
TIENE NETLIX                                                                                               1
TIENESU ATENA Y VEN SOLO POCOS CANALES                                                                     1
SE CAMBIAN CONSTANTEMENTE DE DOMICILIO                                                                     1
POR QUE SALDRA  DEL PAIS                                                                                   1
CAMBIO DE RESIDENCIA Y POR TAL MOTIVO LO DIO DE BAJA Y HASTA ESTE MOMENTO NO CUE3NTA CON ESE SERVICIO      1
Name: P5_3E, Length: 3354, dtype: int64

In [201]:
df_copy.P5_3E = df_copy.P5_3E.astype('str')
df_copy.P5_3E.replace({'nan':'b'}, inplace=True)

In [202]:
df_copy.P5_3E.value_counts()

b                                                                                                        130343
NO TIENE TELEVISION                                                                                         232
NO TIENEN TELEVISION                                                                                         94
NO TIENE TV                                                                                                  68
NO LO NECESITA                                                                                               45
FALTA DE TIEMPO                                                                                              35
NO TIENEN TV                                                                                                 34
NO CUENTA CON TELEVISION                                                                                     32
NO LO NECESITAN                                                                                              31
NO HAY INFRAESTRUCTURA                                                                                       25
NO TIENE TELEVISOR                                                                                           25
NO LE GUSTA                                                                                                  24
NO CUENTAN CON TELEVISION                                                                                    23
NO TIENE TIEMPO                                                                                              23
NO ES NECESARIO                                                                                              22
CASI NO ESTAN EN CASA                                                                                        22
NO TIENEN TIEMPO                                                                                             19
NO LO OCUPAN                                                                                                 18
PORQUE NO TIENE TELEVISION                                                                                   18
MAL SERVICIO                                                                                                 18
POR FALTA DE TIEMPO                                                                                          16
NO TIENEN TELEVISOR                                                                                          15
NO VEN TELEVISION                                                                                            15
NO CUENTAN CON TV                                                                                            15
NO CUENTAN CON TELEVISOR                                                                                     14
PORQUE NO TIENEN TELEVISION                                                                                  14
FALTA DE INFRAESTRUCTURA                                                                                     14
NO CUENTA CON TV                                                                                             14
NO CUENTA CON TELEVISOR                                                                                      12
NO LA NECESITAN                                                                                              12
                                                                                                          ...
NO LO NECESITAN LO QUE QUIERE ENCONTRAR LO ENCUENTRA EN INTERNET                                              1
ESTA EN TRAMITE                                                                                               1
PORQUE RENTAN SON ESTUDIANTES                                                                                 1
POR QUE CASI NO ESTA EN LA VIVIENDA                                                                           1
CASI NO SE ENCUENTRA EN SU VIVIENDA                                                                           1
NO HAY IFRAESRUCTURA EN ESTA COLONIA                                                                          1
TIENEN POCO DE HABERSE CAMBIADO                                                                               1
APENAS LO CONTRATARON AUN NO CUENTAN CON EL SERVICIO                                                          1
POR QUE COMPRARON EL DECODIFICADOR.                                                                           1
POR QUE SE LES QUEMO LA TELE Y LO DEJARON DE UTILIZAR                                                         1
CASI NO ASISTE EN SU CASA                                                                                     1
NO CUENTAN CON ENERGIA ELECTRICA NI TV                                                                        1
PORQUE NO SERVIA CUANDO LO TUVIERON                                                                           1
NO TIENE EN QUE VER ESTE SERVICIO                                                                             1
PORQUE NO VE TELEVISION HASTA L FIN DE SEMANA. NO LO NECESITA                                                 1
PORQUE SON MUY TRANZAS                                                                                        1
POR QUE NO HAY TELEVISION                                                                                     1
NO MIRA LA TV  YA QUE NO LE GUSTA ES POR ESO QUE NO CUENTA CON TV DE PAGA PERO SI CUENTA CON TV.              1
NO CUENTA CON ENERGIA ELECTRICA PARA SOLICITAR EL SERVICIO DE TELEVISION DE PAGA.                             1
UTILIZAN SART TV CON NETFLIX                                                                                  1
TIENENNETFLIX                                                                                                 1
TIENEN POCO VIVIENDO AQUI                                                                                     1
NO TIENE  LUZ                                                                                                 1
TIENE ANTENA                                                                                                  1
NO HAY INFRESTRUCTURA                                                                                         1
TIENE NETLIX                                                                                                  1
TIENESU ATENA Y VEN SOLO POCOS CANALES                                                                        1
SE CAMBIAN CONSTANTEMENTE DE DOMICILIO                                                                        1
POR QUE SALDRA  DEL PAIS                                                                                      1
CAMBIO DE RESIDENCIA Y POR TAL MOTIVO LO DIO DE BAJA Y HASTA ESTE MOMENTO NO CUE3NTA CON ESE SERVICIO         1
Name: P5_3E, Length: 3355, dtype: int64

In [203]:
df_copy.drop('P5_3E',1, inplace=True)

# 38.a columna P5_4 (5.4 Â¿Disponen de lÃ­nea telefÃ³nica fija (puede ser telefonÃ­a celular fija)?)
## 1 SÃ­, 2 No

In [204]:
df_copy.P5_4.value_counts()

2    84932
1    50409
Name: P5_4, dtype: int64

In [205]:
df_copy.P5_4.value_counts().sum()

135341

# 39.a columna P5_5_1 (5.5 VERIFIQUE Y CIRCULE LOS SERVICIOS QUE TIENE EN EL HOGAR (VEA: 4.4, 5.1 Y 5.4): Internet)
## 1 SÃ­, 2 No

In [206]:
df_copy.P5_5_1.value_counts()

1    75001
2    60340
Name: P5_5_1, dtype: int64

In [207]:
df_copy.P5_5_1.value_counts().sum()

135341

# 40.a columna P5_5_2 (TV de paga)
## 1 SÃ­, 2 No

In [208]:
df_copy.P5_5_2.value_counts()

1    71872
2    63469
Name: P5_5_2, dtype: int64

In [209]:
df_copy.P5_5_2.value_counts().sum()

135341

# 41.a columna P5_5_3 (TelefonÃ­a fija)
## 1 SÃ­, 2 No

In [210]:
df_copy.P5_5_3.value_counts()

2    84932
1    50409
Name: P5_5_3, dtype: int64

In [211]:
df_copy.P5_5_3.value_counts().sum()

135341

# 42.a columna P5_5_4 (Ninguno)
## 1 SÃ­, 2 No

In [212]:
df_copy.P5_5_4.value_counts()

2    101819
1     33522
Name: P5_5_4, dtype: int64

In [213]:
df_copy.P5_5_4.value_counts().sum()

135341

# 43.a columna P5_6_1 (5.6 De los servicios de (OPCIÃ“N DE 5.5), Â¿DÃ­game si los disponen en paquete o los reciben de manera separada?: 1. TV de paga, telefonÃ­a fija e Internet?)
## 1 SÃ­,2 No,99 blanco

In [214]:
df_copy.P5_6_1.value_counts()

2.0    87586
1.0    13943
9.0      290
Name: P5_6_1, dtype: int64

In [215]:
df_copy.P5_6_1 = df_copy.P5_6_1.astype('str')
df_copy.P5_6_1.replace({'nan':'99'}, inplace=True)
df_copy.P5_6_1 = df_copy.P5_6_1.astype('float').astype('int64')

In [216]:
df_copy.P5_6_1.value_counts()

2     87586
99    33522
1     13943
9       290
Name: P5_6_1, dtype: int64

In [217]:
cont = 0
for row in df_copy.P5_6_1:
    if df_copy.P5_6_1[cont] == 9:
        df_copy.P5_6_1[cont] = 99
    cont = cont + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [218]:
df_copy.P5_6_1.value_counts()

2     87586
99    33812
1     13943
Name: P5_6_1, dtype: int64

In [219]:
df_copy.P5_6_1.value_counts().sum()

135341

# 44.a columna P5_7_1 (5.7 En el Ãºltimo mes, Â¿cuÃ¡l es el monto del pago realizado por el servicio de: 1. TV de paga, telefonÃ­a fija e Internet?)
## 0000 No paga,0001-9998 Monto del recibo mÃ¡s reciente,9999 vacio

In [240]:
df_copy.P5_7_1.value_counts()

9999.0    122231
600.0       1538
700.0       1068
500.0       1017
800.0        753
400.0        685
650.0        386
580.0        358
900.0        349
550.0        336
1000.0       321
450.0        278
750.0        243
300.0        198
350.0        174
480.0        161
0.0          153
1200.0       143
680.0        142
250.0        142
380.0        132
389.0        121
850.0        118
560.0        108
420.0         93
1100.0        89
630.0         83
530.0         80
780.0         75
620.0         73
           ...
893.0          1
170.0          1
894.0          1
1277.0         1
149.0          1
641.0          1
682.0          1
738.0          1
372.0          1
266.0          1
553.0          1
287.0          1
75.0           1
364.0          1
612.0          1
1236.0         1
467.0          1
1241.0         1
1118.0         1
552.0          1
110.0          1
1260.0         1
413.0          1
626.0          1
392.0          1
883.0          1
835.0          1
854.0          1
322.0          1
1066.0         1
Name: P5_7_1, Length: 622, dtype: int64

In [221]:
df_copy.isnull().P5_7_1.any()

True

In [222]:
df_copy.P5_7_1 = df_copy.P5_7_1.astype('str')
df_copy.P5_7_1.replace({'nan':'9999'}, inplace=True)
df_copy.P5_7_1 = df_copy.P5_7_1.astype('float') #.astype('int64')

In [223]:
df_copy.isnull().P5_7_1.any()

False

In [241]:
df_copy.P5_7_1.value_counts().sum()

135341

# 45.a columna P5_8_1 (5.8 Â¿Reciben sin pago el servicio: 1. TV de paga, telefonÃ­a fija e Internet?)
## 1 SÃ­,2 No,99 blanco

In [225]:
df_copy.P5_8_1.value_counts()

1.0    146
9.0      7
Name: P5_8_1, dtype: int64

In [226]:
df_copy.P5_8_1 = df_copy.P5_8_1.astype('str')
df_copy.P5_8_1.replace({'nan':'99'}, inplace=True)
df_copy.P5_8_1 = df_copy.P5_8_1.astype('float').astype('int64')

In [227]:
df_copy.P5_8_1.value_counts()

99    135188
1        146
9          7
Name: P5_8_1, dtype: int64

In [228]:
df_copy.drop('P5_8_1', 1, inplace=True)

# 46.a columna P5_9_1 (5.9 Entonces, Â¿su paquete incluye un servicio que no utiliza?: 1. TV de paga, telefonÃ­a fija e Internet?)
## 1 SÃ­,2 No,99 blanco

In [229]:
df_copy.P5_9_1.value_counts()

1.0    139
8.0      5
Name: P5_9_1, dtype: int64

In [230]:
df_copy.drop('P5_9_1', 1, inplace=True)

# 47.a columna P5_6_2 (5.6 De los servicios de (OPCIÃ“N DE 5.5), Â¿DÃ­game si los disponen en paquete o los reciben de manera separada?: 2. TV de paga y telefonÃ­a fija?)
## 1 SÃ­,2 No,99 blanco

In [231]:
df_copy.P5_6_2.value_counts()

2.0    100692
1.0       822
9.0       305
Name: P5_6_2, dtype: int64

In [232]:
df_copy.P5_6_2 = df_copy.P5_6_2.astype('str')
df_copy.P5_6_2.replace({'nan':'99'}, inplace=True)
df_copy.P5_6_2 = df_copy.P5_6_2.astype('float').astype('int64')

In [233]:
df_copy.P5_6_2.value_counts()

2     100692
99     33522
1        822
9        305
Name: P5_6_2, dtype: int64

In [234]:
cont = 0
for row in df_copy.P5_6_2:
    if df_copy.P5_6_2[cont] == 9:
        df_copy.P5_6_2[cont] = 99
    cont = cont + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [235]:
df_copy.P5_6_2.value_counts()

2     100692
99     33827
1        822
Name: P5_6_2, dtype: int64

In [236]:
df_copy.P5_6_2.value_counts().sum()

135341

# 48.a columna P5_7_2 (5.7 En el Ãºltimo mes, Â¿cuÃ¡l es el monto del pago realizado por el servicio de: 2. TV de paga y telefonÃ­a fija?)
## 0000 No paga,0001-9998 Monto del recibo mÃ¡s reciente,9999 blanco

In [237]:
df_copy.P5_7_2.value_counts()

400.0     88
9999.0    69
500.0     63
300.0     56
600.0     41
450.0     31
350.0     29
200.0     24
700.0     24
0.0       20
380.0     17
480.0     15
360.0     15
800.0     13
250.0     12
389.0      9
430.0      8
420.0      7
280.0      7
180.0      7
750.0      7
390.0      7
330.0      6
385.0      6
520.0      6
530.0      6
1000.0     6
490.0      5
460.0      5
650.0      5
          ..
1468.0     1
454.0      1
329.0      1
659.0      1
900.0      1
308.0      1
1400.0     1
479.0      1
590.0      1
144.0      1
289.0      1
1350.0     1
195.0      1
425.0      1
485.0      1
586.0      1
422.0      1
780.0      1
296.0      1
442.0      1
850.0      1
426.0      1
599.0      1
190.0      1
214.0      1
302.0      1
468.0      1
432.0      1
610.0      1
617.0      1
Name: P5_7_2, Length: 157, dtype: int64

In [242]:
df_copy.P5_7_2 = df_copy.P5_7_2.astype('str')
df_copy.P5_7_2.replace({'nan':'9999'}, inplace=True)
df_copy.P5_7_2 = df_copy.P5_7_2.astype('float') #.astype('int64')

In [243]:
df_copy.P5_7_2.value_counts()

9999.0    134588
400.0         88
500.0         63
300.0         56
600.0         41
450.0         31
350.0         29
200.0         24
700.0         24
0.0           20
380.0         17
480.0         15
360.0         15
800.0         13
250.0         12
389.0          9
430.0          8
420.0          7
280.0          7
180.0          7
750.0          7
390.0          7
330.0          6
385.0          6
520.0          6
530.0          6
1000.0         6
490.0          5
460.0          5
650.0          5
           ...
1468.0         1
454.0          1
329.0          1
659.0          1
900.0          1
308.0          1
1400.0         1
479.0          1
590.0          1
144.0          1
289.0          1
1350.0         1
195.0          1
425.0          1
485.0          1
586.0          1
422.0          1
780.0          1
296.0          1
442.0          1
850.0          1
426.0          1
599.0          1
190.0          1
214.0          1
302.0          1
468.0          1
432.0          1
610.0          1
617.0          1
Name: P5_7_2, Length: 157, dtype: int64

In [244]:
df_copy.drop('P5_7_2',1, inplace=True)

# 49.a columna P5_8_2 (5.8 Â¿Reciben sin pago el servicio: 2. TV de paga y telefonÃ­a fija?)
## 1 Si, 2 No 99 blanco

In [246]:
df_copy.P5_8_2.value_counts()

1.0    20
Name: P5_8_2, dtype: int64

In [247]:
df_copy.drop('P5_8_2', 1, inplace=True)

# 50.a columna P5_9_2 (5.9 Entonces, Â¿su paquete incluye un servicio que no utiliza?: 2. TV de paga y telefonÃ­a fija?)
## 1 Si, 2 No 99 blanco

In [248]:
df_copy.P5_9_2.value_counts()

1.0    13
8.0     1
Name: P5_9_2, dtype: int64

In [249]:
df_copy.drop('P5_9_2', 1, inplace=True)

# 51.a columna P5_6_3 (5.6 De los servicios de (OPCIÃ“N DE 5.5), Â¿DÃ­game si los disponen en paquete o los reciben de manera separada?: 3. TV de paga e Internet?)
## 1 Si, 2 No 99 blanco

In [250]:
df_copy.P5_6_3.value_counts()

2.0    89331
1.0    12218
9.0      270
Name: P5_6_3, dtype: int64

In [251]:
df_copy.P5_6_3 = df_copy.P5_6_3.astype('str')
df_copy.P5_6_3.replace({'nan':'99'}, inplace=True)
df_copy.P5_6_3 = df_copy.P5_6_3.astype('float').astype('int64')

In [252]:
df_copy.P5_6_3.value_counts()

2     89331
99    33522
1     12218
9       270
Name: P5_6_3, dtype: int64

In [253]:
cont = 0
for row in df_copy.P5_6_3:
    if df_copy.P5_6_3[cont] == 9:
        df_copy.P5_6_3[cont] = 99
    cont = cont + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [254]:
df_copy.P5_6_3.value_counts()

2     89331
99    33792
1     12218
Name: P5_6_3, dtype: int64

In [255]:
df_copy.P5_6_3.value_counts().sum()

135341

# 52.a columna P5_7_3 (5.7 En el Ãºltimo mes, Â¿cuÃ¡l es el monto del pago realizado por el servicio de: 3. TV de paga e Internet?)
## 0000 No paga,0001-9998 Monto del recibo mÃ¡s reciente,9999 blanco

In [256]:
df_copy.P5_7_3.value_counts()

400.0     1244
500.0     1153
600.0      745
9999.0     707
450.0      646
300.0      466
480.0      410
350.0      410
380.0      336
550.0      287
700.0      278
0.0        219
430.0      216
420.0      181
800.0      155
650.0      152
375.0      118
200.0      114
370.0      112
540.0      111
490.0      109
360.0      109
530.0      108
560.0      107
250.0      107
520.0      102
390.0       96
389.0       96
460.0       88
399.0       84
          ...
210.0        1
434.0        1
224.0        1
30.0         1
605.0        1
218.0        1
115.0        1
232.0        1
674.0        1
444.0        1
689.0        1
87.0         1
362.0        1
332.0        1
686.0        1
845.0        1
472.0        1
587.0        1
644.0        1
896.0        1
293.0        1
945.0        1
652.0        1
583.0        1
947.0        1
728.0        1
331.0        1
474.0        1
57.0         1
294.0        1
Name: P5_7_3, Length: 490, dtype: int64

In [257]:
df_copy.P5_7_3 = df_copy.P5_7_3.astype('str')
df_copy.P5_7_3.replace({'nan':'9999'}, inplace=True)
df_copy.P5_7_3 = df_copy.P5_7_3.astype('float') #.astype('int64')

In [258]:
df_copy.P5_7_3.value_counts()

9999.0    123830
400.0       1244
500.0       1153
600.0        745
450.0        646
300.0        466
480.0        410
350.0        410
380.0        336
550.0        287
700.0        278
0.0          219
430.0        216
420.0        181
800.0        155
650.0        152
375.0        118
200.0        114
370.0        112
540.0        111
490.0        109
360.0        109
530.0        108
560.0        107
250.0        107
520.0        102
390.0         96
389.0         96
460.0         88
399.0         84
           ...
210.0          1
434.0          1
224.0          1
30.0           1
605.0          1
218.0          1
115.0          1
232.0          1
674.0          1
444.0          1
689.0          1
87.0           1
362.0          1
332.0          1
686.0          1
845.0          1
472.0          1
587.0          1
644.0          1
896.0          1
293.0          1
945.0          1
652.0          1
583.0          1
947.0          1
728.0          1
331.0          1
474.0          1
57.0           1
294.0          1
Name: P5_7_3, Length: 490, dtype: int64

In [259]:
df_copy.P5_7_3.value_counts().sum()

135341

# 53.a columna P5_8_3 (5.8 Â¿Reciben sin pago el servicio: 3. TV de paga e Internet?)
## 1 Si, 2 No,99 blanco

In [260]:
df_copy.P5_8_3.value_counts()

1.0    210
9.0      9
Name: P5_8_3, dtype: int64

In [263]:
df_copy.drop('P5_8_3', 1, inplace=True)

# 54.a columna P5_9_3 (5.9 Entonces, Â¿su paquete incluye un servicio que no utiliza?: 3. TV de paga e Internet?)
## 1 Si, 2 No,99 blanco

In [262]:
df_copy.P5_9_3.value_counts()

1.0    31
8.0     1
Name: P5_9_3, dtype: int64

In [264]:
df_copy.drop('P5_9_3', 1, inplace=True)

# 55.a columna P5_6_4 (5.6 De los servicios de (OPCIÃ“N DE 5.5), Â¿DÃ­game si los disponen en paquete o los reciben de manera separada?: 4. TelefonÃ­a fija e Internet?)
## 1 Si, 2 No,99 blanco

In [265]:
df_copy.P5_6_4.value_counts()

2.0    75337
1.0    26280
9.0      202
Name: P5_6_4, dtype: int64

In [266]:
df_copy.P5_6_4 = df_copy.P5_6_4.astype('str')
df_copy.P5_6_4.replace({'nan':'99'}, inplace=True)
df_copy.P5_6_4 = df_copy.P5_6_4.astype('float').astype('int64')

In [267]:
df_copy.P5_6_4.value_counts()

2     75337
99    33522
1     26280
9       202
Name: P5_6_4, dtype: int64

In [268]:
df_copy.P5_6_4.value_counts().sum()

135341

# 56.a columna P5_7_4 (5.7 En el Ãºltimo mes, Â¿cuÃ¡l es el monto del pago realizado por el servicio de: 4. TelefonÃ­a fija e Internet?)
## 0000 No paga,0001-9998 Monto del recibo mÃ¡s reciente,9999  blanco

In [270]:
df_copy.P5_7_4.value_counts().sum()

26280

In [272]:
df_copy.P5_7_4 = df_copy.P5_7_4.astype('str')
df_copy.P5_7_4.replace({'nan':'9999'}, inplace=True)
df_copy.P5_7_4 = df_copy.P5_7_4.astype('float') #.astype('int64')

In [273]:
df_copy.P5_7_4.value_counts().sum()

135341

# 57.a columna P5_8_4 (5.8 Â¿Reciben sin pago el servicio: 4. TelefonÃ­a fija e Internet?)
## 1 Si,2 No,99 blanco

In [274]:
df_copy.P5_8_4.value_counts()

1.0    259
9.0     12
Name: P5_8_4, dtype: int64

In [275]:
df_copy.drop('P5_8_4', 1, inplace=True)

# 58.a columna P5_9_4 (5.9 Entonces, Â¿su paquete incluye un servicio que no utiliza?: 4. TelefonÃ­a fija e Internet?)
## 1 Si,2 No,99 blanco

In [276]:
df_copy.P5_9_4.value_counts()

1.0    149
8.0      4
Name: P5_9_4, dtype: int64

In [277]:
df_copy.drop('P5_9_4', 1, inplace=True)

# 59.a columna P5_6_5 (5.6 De los servicios de (OPCIÃ“N DE 5.5), Â¿DÃ­game si los disponen en paquete o los reciben de manera separada?: 5. Solo TV de paga?)
## 1 Si,2 No,99 blanco

In [278]:
df_copy.P5_6_5.value_counts()

2.0    56521
1.0    45147
9.0      151
Name: P5_6_5, dtype: int64

In [279]:
df_copy.P5_6_5 = df_copy.P5_6_5.astype('str')
df_copy.P5_6_5.replace({'nan':'99'}, inplace=True)
df_copy.P5_6_5 = df_copy.P5_6_5.astype('float').astype('int64')

In [280]:
df_copy.P5_6_5.value_counts()

2     56521
1     45147
99    33522
9       151
Name: P5_6_5, dtype: int64

In [281]:
cont = 0
for row in df_copy.P5_6_5:
    if df_copy.P5_6_5[cont] == 9:
        df_copy.P5_6_5[cont] = 99
    cont = cont + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [282]:
df_copy.P5_6_5.value_counts()

2     56521
1     45147
99    33673
Name: P5_6_5, dtype: int64

In [283]:
df_copy.P5_6_5.value_counts().sum()

135341

# 60.a columna P5_7_5 (5.7 En el Ãºltimo mes, Â¿cuÃ¡l es el monto del pago realizado por el servicio de: 5. Solo TV de paga?)
## 0000 No paga,0001-9998 Monto del recibo mÃ¡s reciente,9999 blanco

In [284]:
df_copy.P5_7_5.value_counts().sum()

45147

In [290]:
df_copy.P5_7_5 = df_copy.P5_7_5.astype('str')
df_copy.P5_7_5.replace({'nan':'9999'}, inplace=True)
df_copy.P5_7_5 = df_copy.P5_7_5.astype('float') #.astype('int64')

In [291]:
df_copy.P5_7_5.value_counts().sum()

135341

# 61.a columna P5_8_5 (5.8 Â¿Reciben sin pago el servicio: 5. Solo TV de paga)
## 1 Si, 2 No, 99 blanco

In [287]:
df_copy.P5_8_5.value_counts()

1.0    890
9.0     26
Name: P5_8_5, dtype: int64

In [288]:
df_copy.drop('P5_8_5', 1, inplace=True)

# 62.a columna P5_6_6 (5.6 De los servicios de (OPCIÃ“N DE 5.5), Â¿DÃ­game si los disponen en paquete o los reciben de manera separada?: 6. Solo telefonÃ­a fija?)
## 1 Si, 2 No, 99 blanco

In [289]:
df_copy.P5_6_6.value_counts()

2.0    91772
1.0     9792
9.0      255
Name: P5_6_6, dtype: int64

In [292]:
df_copy.P5_6_6 = df_copy.P5_6_6.astype('str')
df_copy.P5_6_6.replace({'nan':'99'}, inplace=True)
df_copy.P5_6_6 = df_copy.P5_6_6.astype('float').astype('int64')

In [293]:
df_copy.P5_6_6.value_counts()

2     91772
99    33522
1      9792
9       255
Name: P5_6_6, dtype: int64

In [297]:
cont = 0
for row in df_copy.P5_6_6:
    if df_copy.P5_6_6[cont] == 9:
        df_copy.P5_6_6[cont] = 99
    cont = cont + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [298]:
df_copy.P5_6_6.value_counts()

2     91772
99    33777
1      9792
Name: P5_6_6, dtype: int64

In [299]:
df_copy.P5_6_6.value_counts().sum()

135341

# 63.a columna P5_7_6 (5.7 En el Ãºltimo mes, Â¿cuÃ¡l es el monto del pago realizado por el servicio de: 6. Solo telefonÃ­a fija?)
## 0000 No paga,0001-9998 Monto del recibo mÃ¡s reciente,9999 blanco)

In [301]:
df_copy.P5_7_6.value_counts().sum()

9792

In [302]:
df_copy.P5_7_6 = df_copy.P5_7_6.astype('str')
df_copy.P5_7_6.replace({'nan':'9999'}, inplace=True)
df_copy.P5_7_6 = df_copy.P5_7_6.astype('float') #.astype('int64')

In [303]:
df_copy.P5_7_6.value_counts().sum()

135341

# 64.a columna P5_8_6 (5.8 Â¿Reciben sin pago el servicio: 6. Solo telefonÃ­a fija?)
## 1 No, 2 Si, 99 blanco)

In [304]:
df_copy.P5_8_6.value_counts()

1.0    302
9.0     11
Name: P5_8_6, dtype: int64

In [305]:
df_copy.drop('P5_8_6', 1, inplace=True)

# 65.a columna P5_6_7 (5.6 De los servicios de (OPCIÃ“N DE 5.5), Â¿DÃ­game si los disponen en paquete o los reciben de manera separada?: 7. Solo Internet?)
## 1 No, 2 Si, 99 blanco)

In [306]:
df_copy.P5_6_7.value_counts()

2.0    76137
1.0    25425
9.0      257
Name: P5_6_7, dtype: int64

In [307]:
df_copy.P5_6_7 = df_copy.P5_6_7.astype('str')
df_copy.P5_6_7.replace({'nan':'99'}, inplace=True)
df_copy.P5_6_7 = df_copy.P5_6_7.astype('float').astype('int64')

In [308]:
df_copy.P5_6_7.value_counts()

2     76137
99    33522
1     25425
9       257
Name: P5_6_7, dtype: int64

In [309]:
cont = 0
for row in df_copy.P5_6_7:
    if df_copy.P5_6_7[cont] == 9:
        df_copy.P5_6_7[cont] = 99
    cont = cont + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [310]:
df_copy.P5_6_7.value_counts()

2     76137
99    33779
1     25425
Name: P5_6_7, dtype: int64

In [311]:
df_copy.P5_6_7.value_counts().sum()

135341

# 66.a columna P5_7_7 (5.7 En el Ãºltimo mes, Â¿cuÃ¡l es el monto del pago realizado por el servicio de: 7. Solo Internet?)
## 0000 No paga,0001-9998 Monto del recibo mÃ¡s reciente,9999 blanco

In [314]:
df_copy.P5_7_7.value_counts().sum()

25425

In [315]:
df_copy.P5_7_7 = df_copy.P5_7_7.astype('str')
df_copy.P5_7_7.replace({'nan':'9999'}, inplace=True)
df_copy.P5_7_7 = df_copy.P5_7_7.astype('float') #.astype('int64')

In [316]:
df_copy.P5_7_7.value_counts().sum()

135341

# 67.a columna P5_8_7 (5.8 Â¿Reciben sin pago el servicio: 7. Solo Internet?)
## 1 Si,2 No, 99 blanco

In [317]:
df_copy.P5_8_7.value_counts()

1.0    4588
9.0      58
Name: P5_8_7, dtype: int64

In [318]:
df_copy.drop('P5_8_7', 1, inplace=True)

# 68.a columna P5_10_1 (5.10 Â¿QuÃ© tan satisfecho(a) estÃ¡ con el servicio de: 1. Internet?)
## 1 Satisfecho,2 Insatisfecho,3 No cuenta con el servicio,99 blanco

In [319]:
df_copy.P5_10_1.value_counts()

1.0    57464
3.0    26818
2.0    16392
8.0     1145
Name: P5_10_1, dtype: int64

In [320]:
df_copy.P5_10_1 = df_copy.P5_10_1.astype('str')
df_copy.P5_10_1.replace({'nan':'99'}, inplace=True)
df_copy.P5_10_1 = df_copy.P5_10_1.astype('float').astype('int64')

In [321]:
df_copy.P5_10_1.value_counts()

1     57464
99    33522
3     26818
2     16392
8      1145
Name: P5_10_1, dtype: int64

In [322]:
cont = 0
for row in df_copy.P5_10_1:
    if df_copy.P5_10_1[cont] == 8:
        df_copy.P5_10_1[cont] = 99
    cont = cont + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [324]:
df_copy.P5_10_1.value_counts()

1     57464
99    34667
3     26818
2     16392
Name: P5_10_1, dtype: int64

In [325]:
df_copy.P5_10_1.value_counts().sum()

135341

# 69.a columna P5_10_2 (2. TV de paga?)
## 1 Satisfecho,2 Insatisfecho,3 No cuenta con el servicio,99 blanco

In [326]:
df_copy.P5_10_2.value_counts()

1.0    58284
3.0    29947
2.0    13267
8.0      321
Name: P5_10_2, dtype: int64

In [327]:
df_copy.P5_10_2 = df_copy.P5_10_2.astype('str')
df_copy.P5_10_2.replace({'nan':'99'}, inplace=True)
df_copy.P5_10_2 = df_copy.P5_10_2.astype('float').astype('int64')

In [328]:
cont = 0
for row in df_copy.P5_10_2:
    if df_copy.P5_10_2[cont] == 8:
        df_copy.P5_10_2[cont] = 99
    cont = cont + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [329]:
df_copy.P5_10_2.value_counts()

1     58284
99    33843
3     29947
2     13267
Name: P5_10_2, dtype: int64

In [330]:
df_copy.P5_10_2.value_counts().sum()

135341

# 70.a columna P5_10_3 (3. TelefonÃ­a fija?)
## 1 Satisfecho,2 Insatisfecho,3 No cuenta con el servicio,99 blanco

In [331]:
df_copy.P5_10_3.value_counts()

3.0    51410
1.0    44893
2.0     5135
8.0      381
Name: P5_10_3, dtype: int64

In [332]:
df_copy.P5_10_3 = df_copy.P5_10_3.astype('str')
df_copy.P5_10_3.replace({'nan':'99'}, inplace=True)
df_copy.P5_10_3 = df_copy.P5_10_3.astype('float').astype('int64')

In [333]:
cont = 0
for row in df_copy.P5_10_3:
    if df_copy.P5_10_3[cont] == 8:
        df_copy.P5_10_3[cont] = 99
    cont = cont + 1

/home/hectorceja/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [334]:
df_copy.P5_10_3.value_counts()

3     51410
1     44893
99    33903
2      5135
Name: P5_10_3, dtype: int64

In [335]:
df_copy.P5_10_3.value_counts().sum()

135341

# 71.a columna CD_ENDUTIH (Ciudad de levantamiento)
## CatÃ¡logo tc_ciudad