# Limpieza a tabla viviendas de 2015

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('TIC_2015_VIVIENDAS.csv', encoding='latin', low_memory=False)
df.head()

,Unnamed: 0,D_R,UPM,VIV_SEL,ENT,MUN,LOC,P1_1,P1_2,P1_3,...,P1_7,P1_8,P2_1,P2_2,P2_3,AREAM,TLOC,UPM_DIS,EST_DIS,FACTOR
0,0,NaN,101250,5,1,1,1,2,2,4,...,1,1,4,1,1,14,1,185,7,161
1,1,NaN,101267,1,1,1,1,3,3,4,...,1,1,7,1,1,14,1,186,7,160
2,2,NaN,101267,3,1,1,1,3,4,6,...,1,1,8,1,1,14,1,186,7,160
3,3,NaN,101267,4,1,1,1,3,3,4,...,1,1,5,1,1,14,1,186,7,160
4,4,NaN,101267,5,1,1,1,3,3,7,...,1,1,6,1,1,14,1,186,7,160

## GENERAL STATS

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78406 entries, 0 to 78405
Data columns (total 25 columns):
Unnamed: 0    78406 non-null int64
D_R           0 non-null float64
UPM           78406 non-null int64
VIV_SEL       78406 non-null int64
ENT           78406 non-null int64
MUN           78406 non-null int64
LOC           78406 non-null int64
P1_1          78406 non-null int64
P1_2          78406 non-null int64
P1_3          78406 non-null int64
P1_4          78406 non-null int64
P1_5          77837 non-null float64
P1_6_1        78406 non-null int64
P1_6_2        78406 non-null int64
P1_6_3        78406 non-null int64
P1_7          78406 non-null int64
P1_8          78406 non-null int64
P2_1          78406 non-null int64
P2_2          78406 non-null int64
P2_3          78406 non-null int64
AREAM         78406 non-null int64
TLOC          78406 non-null int64
UPM_DIS       78406 non-null int64
EST_DIS       78406 non-null int64
FACTOR        78406 non-null int64
dtypes: float64(2), int64(23)
memory usage: 15.0 MB

## FILAS

In [5]:
df.shape[0]

78406

## COLUMNAS

In [6]:
df.shape[1]

25

In [7]:
df_copy = df.copy()

# Columna 1 D_R

In [9]:
df_copy.D_R.value_counts()

Series([], Name: D_R, dtype: int64)

In [10]:
df_copy.drop('D_R', 1, inplace=True)

# Columna 2 UPM

In [15]:
df_copy.UPM.value_counts().head()

1661471    22
3160425    22
2560327    22
2260303    22
1360562    22
Name: UPM, dtype: int64

In [16]:
df_copy.isnull().UPM.any()

False

In [17]:
df_copy.UPM.value_counts().sum()

78406

## se elimina ya que es una especie de ID que no sirve para entrenamiento

In [19]:
df_copy.drop('UPM', 1, inplace=True)

## Columna 3 VIV_SEL

In [18]:
df_copy.VIV_SEL.value_counts()

3     12006
2     11958
1     11939
4     11918
5     11904
9      1266
6      1260
8      1258
7      1249
11     1248
10     1246
13     1244
14     1241
15     1237
16     1231
19     1230
18     1228
12     1226
17     1210
20     1174
21       95
22       33
23        5
Name: VIV_SEL, dtype: int64

In [20]:
df_copy.isnull().VIV_SEL.any()

False

In [21]:
df_copy.VIV_SEL.value_counts().sum()

78406

## Columna 4 ENT (Entidad)

In [22]:
df_copy.ENT.value_counts()

15    3393
11    3097
30    3001
21    2784
7     2762
20    2694
2     2663
14    2657
19    2507
32    2485
8     2427
18    2419
12    2418
28    2401
5     2399
24    2397
16    2382
4     2379
27    2351
26    2326
22    2311
1     2301
6     2283
25    2274
9     2261
10    2251
29    2205
13    2184
31    2181
17    2179
3     2073
23    1961
Name: ENT, dtype: int64

In [23]:
df_copy.VIV_SEL.value_counts().sum()

78406

## Se elimina el id general

In [25]:
df_copy.drop('Unnamed: 0',1,inplace=True)

In [26]:
df_copy.head()

,VIV_SEL,ENT,MUN,LOC,P1_1,P1_2,P1_3,P1_4,P1_5,P1_6_1,...,P1_7,P1_8,P2_1,P2_2,P2_3,AREAM,TLOC,UPM_DIS,EST_DIS,FACTOR
0,5,1,1,1,2,2,4,1,9.0,1,...,1,1,4,1,1,14,1,185,7,161
1,1,1,1,1,3,3,4,1,6.0,1,...,1,1,7,1,1,14,1,186,7,160
2,3,1,1,1,3,4,6,1,7.0,1,...,1,1,8,1,1,14,1,186,7,160
3,4,1,1,1,3,3,4,1,5.0,1,...,1,1,5,1,1,14,1,186,7,160
4,5,1,1,1,3,3,7,1,17.0,1,...,1,1,6,1,1,14,1,186,7,160

In [27]:
df_copy.drop('MUN',1,inplace=True)
df_copy.drop('LOC',1,inplace=True)

In [28]:
df_copy.head()

,VIV_SEL,ENT,P1_1,P1_2,P1_3,P1_4,P1_5,P1_6_1,P1_6_2,P1_6_3,P1_7,P1_8,P2_1,P2_2,P2_3,AREAM,TLOC,UPM_DIS,EST_DIS,FACTOR
0,5,1,2,2,4,1,9.0,1,1,2,1,1,4,1,1,14,1,185,7,161
1,1,1,3,3,4,1,6.0,1,1,1,1,1,7,1,1,14,1,186,7,160
2,3,1,3,4,6,1,7.0,1,1,1,1,1,8,1,1,14,1,186,7,160
3,4,1,3,3,4,1,5.0,1,1,1,1,1,5,1,1,14,1,186,7,160
4,5,1,3,3,7,1,17.0,1,1,1,1,1,6,1,1,14,1,186,7,160