# Limpieza a tabla residentes de 2017

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('RESIDENTES_2017.csv', encoding='latin', low_memory=False)
df.head()

,UPM_DIS,VIV_SEL,HOGAR,N_REN,PARENTESCO,SEXO,EDAD,ASISESC,NIVEL,GRADO,DIA,MES,USOCOMPU,USOINTER,USOCEL,CONDACT,VERIACT,POSOCUP,EST_DIS
0,1,1,1,1,1,1,66,2.0,2.0,6.0,NaN,NaN,2.0,2.0,2.0,1.0,NaN,3.0,3
1,1,1,1,2,2,2,62,2.0,2.0,6.0,NaN,NaN,2.0,2.0,2.0,6.0,4.0,NaN,3
2,1,1,1,3,3,1,42,2.0,3.0,3.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,3
3,1,1,1,4,3,1,34,2.0,7.0,3.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,3
4,1,2,1,1,1,1,39,2.0,8.0,3.0,NaN,NaN,2.0,2.0,1.0,1.0,NaN,3.0,3

## filas

In [7]:
df.shape[0]

481572

## columnas

In [8]:
df.shape[1]

19

# UPM_DIS Unidad primaria de muestreo

In [14]:
df.UPM_DIS.value_counts()

1291     157
1249     154
1238     138
399      137
6738     134
11814    133
1287     133
1239     131
4061     122
14070    120
4119     118
1288     116
471      114
4106     113
4116     113
15258    112
8690     110
4099     108
4135     108
18013    107
17997    107
4117     107
6854     107
6843     106
10247    106
19375    105
7993     105
451      104
15257    104
4113     103
        ...
10663      2
16191      2
18052      2
17265      2
16337      2
14321      2
5472       2
13602      2
14724      2
13393      2
18792      2
17850      2
8029       2
18520      2
13729      2
7833       2
13601      2
16139      2
3768       2
14001      1
12563      1
18527      1
5277       1
883        1
13948      1
18491      1
14132      1
13984      1
9595       1
6944       1
Name: UPM_DIS, dtype: int64

In [9]:
df.isnull().UPM_DIS.any()

False

In [6]:
df.UPM_DIS.value_counts().sum()

481572

# VIV_SEL Vivienda seleccionada

In [15]:
df.VIV_SEL.value_counts()

2     62386
1     62278
3     61927
4     61858
5     61524
7     18742
9     18741
8     18600
6     18576
10    18534
11     7929
15     7801
18     7763
14     7762
16     7759
19     7707
13     7675
12     7633
17     7582
20     7032
21      825
22      246
31       51
30       47
28       46
34       46
25       44
40       43
27       41
26       40
32       39
37       39
33       36
29       33
24       33
35       33
38       33
23       31
36       29
39       28
Name: VIV_SEL, dtype: int64

In [11]:
df.isnull().VIV_SEL.any()

False

In [13]:
df.VIV_SEL.value_counts().sum()

481572

In [16]:
df.head()

,UPM_DIS,VIV_SEL,HOGAR,N_REN,PARENTESCO,SEXO,EDAD,ASISESC,NIVEL,GRADO,DIA,MES,USOCOMPU,USOINTER,USOCEL,CONDACT,VERIACT,POSOCUP,EST_DIS
0,1,1,1,1,1,1,66,2.0,2.0,6.0,NaN,NaN,2.0,2.0,2.0,1.0,NaN,3.0,3
1,1,1,1,2,2,2,62,2.0,2.0,6.0,NaN,NaN,2.0,2.0,2.0,6.0,4.0,NaN,3
2,1,1,1,3,3,1,42,2.0,3.0,3.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,3
3,1,1,1,4,3,1,34,2.0,7.0,3.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,3
4,1,2,1,1,1,1,39,2.0,8.0,3.0,NaN,NaN,2.0,2.0,1.0,1.0,NaN,3.0,3

# HOGAR
## [1-6]

In [17]:
df.HOGAR.value_counts()

1    472835
2      7544
3       994
4       168
5        31
Name: HOGAR, dtype: int64

In [18]:
df.isnull().HOGAR.any()

False

In [19]:
df.HOGAR.value_counts().sum()

481572

# N_REN
## [01-30]

In [20]:
df.N_REN.value_counts()

1     134358
2     118530
3      94046
4      67184
5      36477
6      16479
7       7538
8       3548
9       1675
10       886
11       380
12       215
13       110
14        59
15        37
16        24
17        10
18         4
29         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
30         1
Name: N_REN, dtype: int64

In [21]:
df.isnull().N_REN.any()

False

In [22]:
df.N_REN.value_counts().sum()

481572

# PARENTESCO
### 1 Jefe(a)
### 2 Esposo(a) o compañero(a)
### 3 Hijo(a)
### 4 Nieto(a)
### 5 Otro parentesco
### 6 Sin parentesco

In [24]:
df.PARENTESCO.value_counts()

3    191069
1    134795
2     88032
4     32404
5     30505
6      4767
Name: PARENTESCO, dtype: int64

In [25]:
df.isnull().PARENTESCO.any()

False

In [26]:
df.PARENTESCO.value_counts().sum()

481572

# SEXO
### 1 Hombre, 2 Mujer

In [27]:
df.SEXO.value_counts()

2    247647
1    233925
Name: SEXO, dtype: int64

In [28]:
df.isnull().SEXO.any()

False

In [29]:
df.SEXO.value_counts().sum()

481572

In [30]:
df.head(2)

,UPM_DIS,VIV_SEL,HOGAR,N_REN,PARENTESCO,SEXO,EDAD,ASISESC,NIVEL,GRADO,DIA,MES,USOCOMPU,USOINTER,USOCEL,CONDACT,VERIACT,POSOCUP,EST_DIS
0,1,1,1,1,1,1,66,2.0,2.0,6.0,NaN,NaN,2.0,2.0,2.0,1.0,NaN,3.0,3
1,1,1,1,2,2,2,62,2.0,2.0,6.0,NaN,NaN,2.0,2.0,2.0,6.0,4.0,NaN,3

# EDAD
### 0 Menos de un año
### 1-96 Años cumplidos 
### 97  97 o más años
### 99 No sabe

In [37]:
df.EDAD.value_counts()

17    9540
18    9199
15    9170
12    9135
16    9068
8     8872
14    8784
22    8781
13    8716
10    8712
20    8692
9     8512
40    8500
23    8400
5     8385
7     8380
11    8350
25    8241
4     8216
24    8189
6     8153
30    8108
19    7990
21    7940
3     7875
42    7740
2     7564
28    7492
32    7416
38    7395
      ...
66    2624
68    2363
72    2031
69    1876
73    1815
74    1696
75    1666
71    1434
76    1428
77    1245
78    1244
80    1205
79     875
82     835
83     733
84     688
81     648
85     600
86     527
87     479
88     335
90     300
89     298
97     187
92     153
91     146
93     132
94     124
95      89
96      86
Name: EDAD, dtype: int64

In [36]:
pd.unique(df.EDAD)

array([66, 62, 42, 34, 39, 28,  2,  4, 75, 72, 21, 22, 24, 20, 86, 81, 41,
       45, 43, 23, 50, 69, 67, 37, 31, 54, 58, 26, 78, 76, 52, 40, 49, 14,
       44, 18, 27, 53, 17, 15, 13, 46, 48, 19, 11, 33,  9,  8,  1, 38, 16,
       70, 87, 10,  5, 84, 47,  6, 73, 30, 55, 85, 36, 35, 56, 61, 60, 74,
       68, 29, 57, 65,  3,  7, 25, 64, 32, 80, 51, 92, 59, 71, 91, 88, 63,
       93, 83, 79, 82, 12,  0, 77, 89, 95, 97, 90, 96, 94], dtype=int64)

In [41]:
df.isnull().EDAD.any()

False

In [42]:
df.EDAD.value_counts().sum()

481572

# ASISESC asiste actualmente a la escuela?
### 1 Si, 2 No, 99 blanco

In [43]:
df.ASISESC.value_counts()

2.0    311253
1.0    125139
Name: ASISESC, dtype: int64

In [44]:
df.isnull().ASISESC.any()

True

### remplazamos valores nulos por 99

In [46]:
df.ASISESC = df.ASISESC.astype('str')
df.ASISESC.replace({'nan':'99'}, inplace=True)

### cambiamos el tipo de dato a int

In [48]:
df.ASISESC = df.ASISESC.astype('float').astype('int64')

In [49]:
df.ASISESC.value_counts()

2     311253
1     125139
99     45180
Name: ASISESC, dtype: int64

In [50]:
df.ASISESC.value_counts().sum()

481572

In [52]:
df.head(3)

,UPM_DIS,VIV_SEL,HOGAR,N_REN,PARENTESCO,SEXO,EDAD,ASISESC,NIVEL,GRADO,DIA,MES,USOCOMPU,USOINTER,USOCEL,CONDACT,VERIACT,POSOCUP,EST_DIS
0,1,1,1,1,1,1,66,2,2.0,6.0,NaN,NaN,2.0,2.0,2.0,1.0,NaN,3.0,3
1,1,1,1,2,2,2,62,2,2.0,6.0,NaN,NaN,2.0,2.0,2.0,6.0,4.0,NaN,3
2,1,1,1,3,3,1,42,2,3.0,3.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,3

# NIVEL  ¿Hasta qué año o grado aprobó en la escuela? 
#### 0 Ninguno
#### 1 Preescolar o kínder
#### 2 Primaria
#### 3 Secundaria
#### 4 Preparatoria o bachillerato
#### 5 Normal básica
#### 6 Maestría y doctorado
#### 7 Otro (Licenciatura ,ingeniería  Especialidad, studio técnico terminal con secundaria)
#### 99 blanco

In [53]:
df.NIVEL.value_counts()

2.0     132196
3.0     115298
6.0      71808
8.0      64995
0.0      16535
1.0      10704
7.0       8690
5.0       7047
10.0      4312
99.0      1586
9.0       1424
4.0       1019
11.0       778
Name: NIVEL, dtype: int64

In [54]:
df.isnull().NIVEL.any()

True

In [59]:
df.NIVEL = df.NIVEL.astype('str')
df.NIVEL.replace({'nan':'99'}, inplace=True)

In [60]:
df.NIVEL = df.NIVEL.astype('float').astype('int64')

In [61]:
df.NIVEL.value_counts()

2     132196
3     115298
6      71808
8      64995
99     46766
0      16535
1      10704
7       8690
5       7047
10      4312
9       1424
4       1019
11       778
Name: NIVEL, dtype: int64

#### 5 --> 7 Otros( Estudio técnico terminal con secundaria)
#### 4 --> 5 Normal básica
#### 6 -->  4 Preparatoria o bachillerato
#### 8 --> 7 Otros (Licenciatura oingeniería)
#### 9 --> 7 Otros (Especialidad)
#### 10 --> 6 Maestría y Doctorado
#### 11 --> 6 Maestría y Doctorado

In [66]:
count = 0
for row in  df.NIVEL:
    if df.NIVEL[count] == 5:
        df.NIVEL[count] = 7
        
    count = count + 1

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [70]:
count = 0
for row in  df.NIVEL:
    if df.NIVEL[count] == 4:
        df.NIVEL[count] = 5
    count = count + 1

In [ ]:
count = 0
for row in  df.NIVEL:
    if df.NIVEL[count] == 6:
        df.NIVEL[count] = 4
        
    count = count + 1

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
count = 0
for row in  df.NIVEL:
    if df.NIVEL[count] == 8 or df.NIVEL[count] == 9:
        df.NIVEL[count] = 7
        
    count = count + 1

In [ ]:
count = 0
for row in  df.NIVEL:
    if df.NIVEL[count] == 10 or df.NIVEL[count] == 11:
        df.NIVEL[count] = 6
        
    count = count + 1

In [ ]:
df.NIVEL.value_counts()

In [ ]:
df.to_csv('residentas_half_clean.csv')