In [1]:
import pandas as pnd #para manejar el dataframe
import numpy as np #para abrir el csv
import matplotlib.pyplot as plt #para graficar 
import sklearn as sk #para normalizar los datos
from sklearn.cluster import KMeans

In [52]:
X = pnd.read_csv("viviendas_2015_clusters.csv")
X.head()

,Unnamed: 0,VIV_SEL,P1_1,P1_2,P1_3,P1_4,P1_5_1,P1_5_2,P2_1,P2_2,P2_3,cve_est,cve_mun,Cluster
0,0,5,2,1,1,1,1,1,4,1,1,1,1,2
1,1,1,3,1,1,1,1,1,7,1,1,1,1,2
2,2,3,3,1,1,1,1,1,8,1,1,1,1,2
3,3,4,3,1,1,1,1,1,5,1,1,1,1,2
4,4,5,3,1,1,1,1,1,6,1,1,1,1,2

In [53]:
X.drop('Unnamed: 0', 1, inplace=True)

In [54]:
X.cve_mun.value_counts()

4      4104
1      3944
5      3805
2      3546
3      2996
17     2784
30     2717
6      2709
20     2153
7      2110
10     1681
14     1653
39     1612
101    1598
53     1541
19     1524
114    1513
28     1462
48     1280
8      1255
50     1230
9      1180
11     1161
18     1130
193    1063
35      996
106     971
38      880
67      843
12      828
       ...
317      18
198      18
217      18
207      18
533      18
401      18
520      18
210      18
142      17
190      17
160      17
513      17
278      17
234      17
166      16
211      16
128      16
202      16
64       16
346      15
327      15
88       14
422      13
403      10
227       9
136       9
519       5
135       5
175       4
138       4
Name: cve_mun, Length: 213, dtype: int64

In [55]:
X.Cluster.value_counts()

3    26341
1    20369
0    20250
2    11446
Name: Cluster, dtype: int64

In [56]:
df_mun = X.groupby(['cve_est','cve_mun']).Cluster.apply(lambda x: x.mode())

In [57]:
df_mun

cve_est  cve_mun
1        1        0    2
         2        0    2
         3        0    2
         4        0    2
         5        0    2
         6        0    2
         7        0    2
         9        0    2
         10       0    2
         11       0    2
2        1        0    2
         2        0    2
         3        0    2
         4        0    2
         5        0    2
3        1        0    2
         2        0    2
         3        0    2
         8        0    2
         9        0    2
4        1        0    2
         2        0    2
         3        0    2
         4        0    2
         5        0    2
         6        0    2
         9        0    2
         10       0    2
         11       0    2
5        2        0    2
                      ..
31       106      0    3
32       5        0    1
         7        0    1
         8        0    1
         10       0    1
         14       0    1
         16       0    1
         17       0    1
         18       0    1
         20       0    1
         22       0    1
         23       0    1
         31       0    0
         33       0    0
         34       0    0
         35       0    0
         36       0    0
         37       0    0
         38       0    0
         39       0    0
         40       0    0
         42       0    0
         44       0    0
         45       0    0
         48       0    0
         49       0    0
         51       0    0
         55       0    0
         56       0    0
         57       0    0
Name: Cluster, Length: 886, dtype: int64

In [58]:
d = pnd.DataFrame(df_mun)

In [59]:
d

                   Cluster
cve_est cve_mun
1       1       0        2
        2       0        2
        3       0        2
        4       0        2
        5       0        2
        6       0        2
        7       0        2
        9       0        2
        10      0        2
        11      0        2
2       1       0        2
        2       0        2
        3       0        2
        4       0        2
        5       0        2
3       1       0        2
        2       0        2
        3       0        2
        8       0        2
        9       0        2
4       1       0        2
        2       0        2
        3       0        2
        4       0        2
        5       0        2
        6       0        2
        9       0        2
        10      0        2
        11      0        2
5       2       0        2
...                    ...
31      106     0        3
32      5       0        1
        7       0        1
        8       0        1
        10      0        1
        14      0        1
        16      0        1
        17      0        1
        18      0        1
        20      0        1
        22      0        1
        23      0        1
        31      0        0
        33      0        0
        34      0        0
        35      0        0
        36      0        0
        37      0        0
        38      0        0
        39      0        0
        40      0        0
        42      0        0
        44      0        0
        45      0        0
        48      0        0
        49      0        0
        51      0        0
        55      0        0
        56      0        0
        57      0        0

[886 rows x 1 columns]

In [60]:
d.to_csv('clusters.csv')

In [61]:
clus = pnd.read_csv('clusters.csv')
clus.head()

   cve_est  cve_mun  Unnamed: 2  Cluster
0        1        1           0        2
1        1        2           0        2
2        1        3           0        2
3        1        4           0        2
4        1        5           0        2

In [62]:
clus.drop('Unnamed: 2',1, inplace=True)

In [63]:
clus.head()

   cve_est  cve_mun  Cluster
0        1        1        2
1        1        2        2
2        1        3        2
3        1        4        2
4        1        5        2

## Leémos el dataset general

In [64]:
df_general = pnd.read_csv('incidenciaMunicipal_2015_clean_cat.csv')
df_general.head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS
0,1,1,6,15,16,4,3,0,7,4,6,4,3,4,1,4,7,43
1,1,1,6,15,17,9,10,10,11,11,6,10,18,8,3,14,14,115
2,1,1,6,15,18,4,1,5,3,0,1,1,4,2,5,6,4,32
3,1,1,6,15,19,0,0,0,0,1,0,0,0,0,0,1,0,2
4,1,1,6,15,20,34,32,46,44,49,34,49,56,34,24,49,32,449

In [65]:
df_general['VIVIENDA_ENDUTIH'] = 99

In [66]:
df_general.head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS,VIVIENDA_ENDUTIH
0,1,1,6,15,16,4,3,0,7,4,6,4,3,4,1,4,7,43,99
1,1,1,6,15,17,9,10,10,11,11,6,10,18,8,3,14,14,115,99
2,1,1,6,15,18,4,1,5,3,0,1,1,4,2,5,6,4,32,99
3,1,1,6,15,19,0,0,0,0,1,0,0,0,0,0,1,0,2,99
4,1,1,6,15,20,34,32,46,44,49,34,49,56,34,24,49,32,449,99

In [67]:
#df1 =  df_general.head(80)
clus.shape

(886, 3)

In [68]:
df_general.shape

(125004, 19)

2000

In [74]:
cont = 0
for enti,muni in zip(df_general.CVE_ENT,df_general.CVE_MUN):
    cont2 = 0
    for est,mun in zip(clus.cve_est,clus.cve_mun):
        if enti == est and muni == mun:
            df_general.VIVIENDA_ENDUTIH[cont] = clus.Cluster[cont2]
        cont2 = cont2+1 
    cont = cont+1
    if cont%1000 == 0:
        print(cont)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000

In [75]:
df_general

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS,VIVIENDA_ENDUTIH
0,1,1,6,15,16,4,3,0,7,4,6,4,3,4,1,4,7,43,2
1,1,1,6,15,17,9,10,10,11,11,6,10,18,8,3,14,14,115,2
2,1,1,6,15,18,4,1,5,3,0,1,1,4,2,5,6,4,32,2
3,1,1,6,15,19,0,0,0,0,1,0,0,0,0,0,1,0,2,2
4,1,1,6,15,20,34,32,46,44,49,34,49,56,34,24,49,32,449,2
5,1,1,6,15,10,4,2,1,2,4,4,3,4,8,1,3,5,37,2
6,1,1,6,15,6,0,0,0,0,0,0,0,0,0,0,0,0,0,2
7,1,1,6,16,16,172,151,181,155,170,182,173,168,158,144,201,171,1854,2
8,1,1,6,16,17,96,68,107,97,96,89,80,105,91,101,79,94,1007,2
9,1,1,6,16,18,114,106,122,124,138,94,89,93,126,105,152,171,1320,2
10,1,1,6,16,19,0,0,0,0,0,1,0,0,0,0,0,0,1,2
11,1,1,6,16,20,86,131,143,106,94,86,78,79,87,56,79,62,1001,2
12,1,1,6,16,10,190,206,231,188,201,177,176,186,185,203,226,235,2214,2
13,1,1,6,16,6,0,0,0,0,0,0,0,0,0,0,0,0,0,2
14,1,1,7,17,21,4,6,2,6,5,0,9,5,7,7,11,7,65,2
15,1,1,9,15,25,1,0,1,0,0,0,0,0,0,0,0,0,1,2
16,1,1,9,15,26,0,0,0,0,0,0,0,0,0,0,0,0,0,2
17,1,1,9,15,27,0,0,0,0,0,0,0,0,0,0,0,0,0,2
18,1,1,9,15,28,0,0,0,0,0,0,0,0,0,0,0,0,0,2
19,1,1,9,15,10,0,0,0,0,0,0,0,0,0,0,0,0,0,2
20,1,1,9,15,6,0,0,0,0,0,0,0,0,0,0,0,0,0,2
21,1,1,9,16,25,0,0,0,0,0,0,0,0,0,0,0,0,0,2
22,1,1,9,16,26,0,0,0,0,0,0,0,0,0,0,0,0,0,2
23,1,1,9,16,27,0,0,0,0,0,0,0,0,0,0,0,0,0,2
24,1,1,9,16,28,0,0,0,0,0,0,0,0,0,0,0,0,0,2
25,1,1,9,16,10,0,0,0,0,0,0,0,0,0,0,0,0,0,2
26,1,1,9,16,6,0,0,0,0,0,0,0,0,0,0,0,0,0,2
27,1,1,8,15,22,0,0,0,0,0,0,0,0,0,0,0,0,0,2
28,1,1,8,15,23,0,0,0,0,0,0,0,0,0,0,0,0,0,2
29,1,1,8,15,24,0,1,0,0,0,0,0,1,0,0,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124974,32,58,8,16,6,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124975,32,58,3,8,9,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124976,32,58,3,8,8,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124977,32,58,3,8,10,0,0,0,2,0,0,1,0,0,0,0,0,3,99
124978,32,58,3,8,6,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124979,32,58,3,9,9,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124980,32,58,3,9,8,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124981,32,58,3,9,10,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124982,32,58,3,9,6,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124983,32,58,2,6,8,0,0,0,0,0,1,0,0,0,0,0,0,1,99
124984,32,58,2,6,9,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124985,32,58,2,6,10,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124986,32,58,2,6,6,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124987,32,58,2,7,8,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124988,32,58,2,7,9,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124989,32,58,2,7,10,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124990,32,58,2,7,6,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124991,32,58,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,99
124992,32,58,0,1,1,0,2,0,0,0,0,0,0,0,0,0,0,2,99
124993,32,58,0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124994,32,58,0,3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124995,32,58,0,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124996,32,58,0,4,5,0,0,0,0,0,0,1,0,0,0,0,0,1,99
124997,32,58,0,4,6,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124998,32,58,5,14,15,0,0,0,0,0,0,0,0,0,0,0,0,0,99
124999,32,58,1,5,7,0,0,0,0,0,0,0,0,0,0,0,0,0,99
125000,32,58,4,10,11,0,0,0,0,0,0,0,0,0,0,0,0,0,99
125001,32,58,4,11,12,0,0,0,0,0,0,0,0,0,0,0,0,0,99
125002,32,58,4,12,13,0,0,0,0,0,0,0,0,0,0,0,0,0,99
125003,32,58,4,13,14,0,1,0,1,0,0,1,0,0,0,0,1,4,99

In [78]:
df_general.head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS,VIVIENDA_ENDUTIH
0,1,1,6,15,16,4,3,0,7,4,6,4,3,4,1,4,7,43,2
1,1,1,6,15,17,9,10,10,11,11,6,10,18,8,3,14,14,115,2
2,1,1,6,15,18,4,1,5,3,0,1,1,4,2,5,6,4,32,2
3,1,1,6,15,19,0,0,0,0,1,0,0,0,0,0,1,0,2,2
4,1,1,6,15,20,34,32,46,44,49,34,49,56,34,24,49,32,449,2

In [79]:
df_general.to_csv('incidenciaMunicipal_2015_including_vivienda.csv')

In [80]:
np.unique(df_general.VIVIENDA_ENDUTIH)

array([ 0,  1,  2,  3, 99])