In [1]:
import pandas as pnd #para manejar el dataframe
import numpy as np #para abrir el csv
import matplotlib.pyplot as plt #para graficar 
import sklearn as sk #para normalizar los datos
from sklearn.cluster import KMeans

In [5]:
X = pnd.read_csv("viviendas_2015_clusters.csv")
X.head()

,Unnamed: 0,VIV_SEL,P1_1,P1_2,P1_3,P1_4,P1_5_1,P1_5_2,P2_1,P2_2,P2_3,cve_est,cve_mun,Cluster
0,0,5,2,1,1,1,1,1,4,1,1,1,1,2
1,1,1,3,1,1,1,1,1,7,1,1,1,1,2
2,2,3,3,1,1,1,1,1,8,1,1,1,1,2
3,3,4,3,1,1,1,1,1,5,1,1,1,1,2
4,4,5,3,1,1,1,1,1,6,1,1,1,1,2

In [6]:
X.drop('Unnamed: 0', 1, inplace=True)

In [7]:
X.cve_mun.value_counts()

4      4104
1      3944
5      3805
2      3546
3      2996
17     2784
30     2717
6      2709
20     2153
7      2110
10     1681
14     1653
39     1612
101    1598
53     1541
19     1524
114    1513
28     1462
48     1280
8      1255
50     1230
9      1180
11     1161
18     1130
193    1063
35      996
106     971
38      880
67      843
12      828
       ...
317      18
198      18
217      18
207      18
533      18
401      18
520      18
210      18
142      17
190      17
160      17
513      17
278      17
234      17
166      16
211      16
128      16
202      16
64       16
346      15
327      15
88       14
422      13
403      10
227       9
136       9
519       5
135       5
175       4
138       4
Name: cve_mun, dtype: int64

In [11]:
X.Cluster.value_counts()

3    26341
1    20369
0    20250
2    11446
Name: Cluster, dtype: int64

In [60]:
df_mun = X.groupby(['cve_est','cve_mun']).Cluster.apply(lambda x: x.mode())

In [63]:
df_mun

cve_est  cve_mun
1        1        0    2
         2        0    2
         3        0    2
         4        0    2
         5        0    2
         6        0    2
         7        0    2
         9        0    2
         10       0    2
         11       0    2
2        1        0    2
         2        0    2
         3        0    2
         4        0    2
         5        0    2
3        1        0    2
         2        0    2
         3        0    2
         8        0    2
         9        0    2
4        1        0    2
         2        0    2
         3        0    2
         4        0    2
         5        0    2
         6        0    2
         9        0    2
         10       0    2
         11       0    2
5        2        0    2
                      ..
31       106      0    3
32       5        0    1
         7        0    1
         8        0    1
         10       0    1
         14       0    1
         16       0    1
         17       0    1
         18       0    1
         20       0    1
         22       0    1
         23       0    1
         31       0    0
         33       0    0
         34       0    0
         35       0    0
         36       0    0
         37       0    0
         38       0    0
         39       0    0
         40       0    0
         42       0    0
         44       0    0
         45       0    0
         48       0    0
         49       0    0
         51       0    0
         55       0    0
         56       0    0
         57       0    0
Name: Cluster, dtype: int64

In [66]:
d = pnd.DataFrame(df_mun)

In [68]:
d

                   Cluster
cve_est cve_mun
1       1       0        2
        2       0        2
        3       0        2
        4       0        2
        5       0        2
        6       0        2
        7       0        2
        9       0        2
        10      0        2
        11      0        2
2       1       0        2
        2       0        2
        3       0        2
        4       0        2
        5       0        2
3       1       0        2
        2       0        2
        3       0        2
        8       0        2
        9       0        2
4       1       0        2
        2       0        2
        3       0        2
        4       0        2
        5       0        2
        6       0        2
        9       0        2
        10      0        2
        11      0        2
5       2       0        2
...                    ...
31      106     0        3
32      5       0        1
        7       0        1
        8       0        1
        10      0        1
        14      0        1
        16      0        1
        17      0        1
        18      0        1
        20      0        1
        22      0        1
        23      0        1
        31      0        0
        33      0        0
        34      0        0
        35      0        0
        36      0        0
        37      0        0
        38      0        0
        39      0        0
        40      0        0
        42      0        0
        44      0        0
        45      0        0
        48      0        0
        49      0        0
        51      0        0
        55      0        0
        56      0        0
        57      0        0

[886 rows x 1 columns]

In [67]:
d.to_csv('clusters.csv')

In [69]:
clus = pnd.read_csv('clusters.csv')
clus.head()

   cve_est  cve_mun  Unnamed: 2  Cluster
0        1        1           0        2
1        1        2           0        2
2        1        3           0        2
3        1        4           0        2
4        1        5           0        2

In [70]:
clus.drop('Unnamed: 2',1, inplace=True)

In [71]:
clus.head()

   cve_est  cve_mun  Cluster
0        1        1        2
1        1        2        2
2        1        3        2
3        1        4        2
4        1        5        2

## Leémos el dataset general

In [77]:
df_general = pnd.read_csv('incidenciaMunicipal_2015_clean_cat.csv')
df_general.head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS
0,1,1,6,15,16,4,3,0,7,4,6,4,3,4,1,4,7,43
1,1,1,6,15,17,9,10,10,11,11,6,10,18,8,3,14,14,115
2,1,1,6,15,18,4,1,5,3,0,1,1,4,2,5,6,4,32
3,1,1,6,15,19,0,0,0,0,1,0,0,0,0,0,1,0,2
4,1,1,6,15,20,34,32,46,44,49,34,49,56,34,24,49,32,449

In [116]:
df_general['VIVIENDA_ENDITUH'] = 99

In [117]:
df_general.head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS,VIVIENDA_ENDUTIH,VIVIENDA_ENDITUH
0,1,1,6,15,16,4,3,0,7,4,6,4,3,4,1,4,7,43,2,99
1,1,1,6,15,17,9,10,10,11,11,6,10,18,8,3,14,14,115,2,99
2,1,1,6,15,18,4,1,5,3,0,1,1,4,2,5,6,4,32,2,99
3,1,1,6,15,19,0,0,0,0,1,0,0,0,0,0,1,0,2,2,99
4,1,1,6,15,20,34,32,46,44,49,34,49,56,34,24,49,32,449,2,99

In [118]:
df1 =  df_general[['CVE_ENT','CVE_MUN','VIVIENDA_ENDITUH']]

In [125]:
cont = 0
for row in df1.iterrows():
    cont2 = 0
    for row2 in clus.iterrows():
        if df1.CVE_ENT[cont] == clus.cve_est[cont2] and df1.CVE_MUN[cont] == clus.cve_mun[cont2]:
            df1.VIVIENDA_ENDITUH[cont] = clus.Cluster[cont2]
        cont2 = cont2+1
    cont = cont+1
    print(cont2)
print(cont)

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

125004
20

In [120]:
df1

        CVE_ENT  CVE_MUN  VIVIENDA_ENDITUH
0             1        1                 2
1             1        1                 2
2             1        1                 2
3             1        1                 2
4             1        1                 2
5             1        1                 2
6             1        1                 2
7             1        1                 2
8             1        1                 2
9             1        1                 2
10            1        1                 2
11            1        1                 2
12            1        1                 2
13            1        1                 2
14            1        1                 2
15            1        1                 2
16            1        1                 2
17            1        1                 2
18            1        1                 2
19            1        1                 2
20            1        1                 2
21            1        1                 2
22            1        1                 2
23            1        1                 2
24            1        1                 2
25            1        1                 2
26            1        1                 2
27            1        1                 2
28            1        1                 2
29            1        1                 2
...         ...      ...               ...
124974       32       58                99
124975       32       58                99
124976       32       58                99
124977       32       58                99
124978       32       58                99
124979       32       58                99
124980       32       58                99
124981       32       58                99
124982       32       58                99
124983       32       58                99
124984       32       58                99
124985       32       58                99
124986       32       58                99
124987       32       58                99
124988       32       58                99
124989       32       58                99
124990       32       58                99
124991       32       58                99
124992       32       58                99
124993       32       58                99
124994       32       58                99
124995       32       58                99
124996       32       58                99
124997       32       58                99
124998       32       58                99
124999       32       58                99
125000       32       58                99
125001       32       58                99
125002       32       58                99
125003       32       58                99

[125004 rows x 3 columns]

In [121]:
df_general['VIVIENDA_ENDUTIH'] = df1.VIVIENDA_ENDITUH

In [122]:
df_general.drop('VIVIENDA_ENDITUH',1,inplace=True)

In [123]:
df_general.head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS,VIVIENDA_ENDUTIH
0,1,1,6,15,16,4,3,0,7,4,6,4,3,4,1,4,7,43,2
1,1,1,6,15,17,9,10,10,11,11,6,10,18,8,3,14,14,115,2
2,1,1,6,15,18,4,1,5,3,0,1,1,4,2,5,6,4,32,2
3,1,1,6,15,19,0,0,0,0,1,0,0,0,0,0,1,0,2,2
4,1,1,6,15,20,34,32,46,44,49,34,49,56,34,24,49,32,449,2

In [114]:
df_general.to_csv('asdfasdf.csv')

In [124]:
np.unique(df_general.VIVIENDA_ENDUTIH)

array([ 2, 99], dtype=int64)