In [1]:
import pandas as pnd #para manejar el dataframe
import numpy as np #para abrir el csv
import matplotlib.pyplot as plt #para graficar 
import sklearn as sk #para normalizar los datos
from sklearn.cluster import KMeans

In [2]:
X = pnd.read_csv("viviendas_2015_clusters.csv")
X.head()

,Unnamed: 0,VIV_SEL,P1_1,P1_2,P1_3,P1_4,P1_5_1,P1_5_2,P2_1,P2_2,P2_3,cve_est,cve_mun,Cluster
0,0,5,2,1,1,1,1,1,4,1,1,1,1,1
1,1,1,3,1,1,1,1,1,7,1,1,1,1,2
2,2,3,3,1,1,1,1,1,8,1,1,1,1,2
3,3,4,3,1,1,1,1,1,5,1,1,1,1,2
4,4,5,3,1,1,1,1,1,6,1,1,1,1,2

In [3]:
X.drop('Unnamed: 0', 1, inplace=True)

In [4]:
X.cve_mun.value_counts()

15    3393
11    3097
30    3001
21    2784
7     2762
20    2694
2     2663
14    2657
19    2507
32    2485
8     2427
18    2419
12    2418
28    2401
5     2399
24    2397
16    2382
4     2379
27    2351
26    2326
22    2311
1     2301
6     2283
25    2274
9     2261
10    2251
29    2205
13    2184
31    2181
17    2179
3     2073
23    1961
Name: cve_mun, dtype: int64