# Eliminando columnas no categoricas

In [66]:
import pandas as pd
import numpy as np

In [67]:
df = pd.read_csv('tr_hogar_clean.csv', encoding='latin', low_memory=False)
df.head()

,Unnamed: 0,UPM,VIV_SEL,HOGAR,N_INF,P4_1_1,P4_1_2,P4_1_3,P4_1_4,P4_1_5,...,P5_6_7,P5_7_7,P5_10_1,P5_10_2,P5_10_3,CD_ENDUTIH,ENT,FAC_HOG,UPM_DIS,EST_DIS
0,0,100008,1,1,2,1,1,1,1,1,...,2,9999.0,1,2,1,14,1,144,1,3
1,1,100008,2,1,1,2,1,2,1,1,...,1,200.0,1,1,3,14,1,144,1,3
2,2,100008,3,1,1,1,1,1,1,1,...,2,9999.0,1,2,1,14,1,144,1,3
3,3,100008,4,1,1,2,2,2,2,1,...,1,400.0,1,3,3,14,1,144,1,3
4,4,100008,4,2,1,2,2,2,2,1,...,1,0.0,1,3,3,14,1,144,1,3

In [68]:
df.columns

Index(['Unnamed: 0', 'UPM', 'VIV_SEL', 'HOGAR', 'N_INF', 'P4_1_1', 'P4_1_2',
       'P4_1_3', 'P4_1_4', 'P4_1_5', 'P4_1_6', 'P4_2_1', 'P4_2_2', 'P4_2_3',
       'P4_3', 'P4_4', 'P4_5', 'P4_6_1', 'P4_6_2', 'P4_6_3', 'P4_6_4',
       'P4_6_5', 'P4_6_6', 'P4_7_1', 'P4_7_2', 'P4_7_3', 'P4_7_4', 'P4_7_5',
       'P4_8', 'P5_1', 'P5_2_1', 'P5_2_2', 'P5_3', 'P5_4', 'P5_5_1', 'P5_5_2',
       'P5_5_3', 'P5_5_4', 'P5_6_1', 'P5_7_1', 'P5_6_2', 'P5_6_3', 'P5_7_3',
       'P5_6_4', 'P5_7_4', 'P5_6_5', 'P5_7_5', 'P5_6_6', 'P5_7_6', 'P5_6_7',
       'P5_7_7', 'P5_10_1', 'P5_10_2', 'P5_10_3', 'CD_ENDUTIH', 'ENT',
       'FAC_HOG', 'UPM_DIS', 'EST_DIS'],
      dtype='object')

In [69]:
df.drop('Unnamed: 0', 1, inplace=True)

In [70]:
df.drop('UPM', 1, inplace=True)

In [71]:
df.head()

,VIV_SEL,HOGAR,N_INF,P4_1_1,P4_1_2,P4_1_3,P4_1_4,P4_1_5,P4_1_6,P4_2_1,...,P5_6_7,P5_7_7,P5_10_1,P5_10_2,P5_10_3,CD_ENDUTIH,ENT,FAC_HOG,UPM_DIS,EST_DIS
0,1,1,2,1,1,1,1,1,2,1,...,2,9999.0,1,2,1,14,1,144,1,3
1,2,1,1,2,1,2,1,1,2,2,...,1,200.0,1,1,3,14,1,144,1,3
2,3,1,1,1,1,1,1,1,1,2,...,2,9999.0,1,2,1,14,1,144,1,3
3,4,1,1,2,2,2,2,1,2,2,...,1,400.0,1,3,3,14,1,144,1,3
4,4,2,1,2,2,2,2,1,2,2,...,1,0.0,1,3,3,14,1,144,1,3

In [72]:
df.dtypes

VIV_SEL         int64
HOGAR           int64
N_INF           int64
P4_1_1          int64
P4_1_2          int64
P4_1_3          int64
P4_1_4          int64
P4_1_5          int64
P4_1_6          int64
P4_2_1          int64
P4_2_2          int64
P4_2_3          int64
P4_3            int64
P4_4            int64
P4_5            int64
P4_6_1          int64
P4_6_2          int64
P4_6_3          int64
P4_6_4          int64
P4_6_5          int64
P4_6_6          int64
P4_7_1          int64
P4_7_2          int64
P4_7_3          int64
P4_7_4          int64
P4_7_5          int64
P4_8            int64
P5_1            int64
P5_2_1          int64
P5_2_2          int64
P5_3            int64
P5_4            int64
P5_5_1          int64
P5_5_2          int64
P5_5_3          int64
P5_5_4          int64
P5_6_1          int64
P5_7_1        float64
P5_6_2          int64
P5_6_3          int64
P5_7_3        float64
P5_6_4          int64
P5_7_4        float64
P5_6_5          int64
P5_7_5        float64
P5_6_6          int64
P5_7_6        float64
P5_6_7          int64
P5_7_7        float64
P5_10_1         int64
P5_10_2         int64
P5_10_3         int64
CD_ENDUTIH      int64
ENT             int64
FAC_HOG         int64
UPM_DIS         int64
EST_DIS         int64
dtype: object

## eliminamos todas las columnas de precios ya que mas de 85% no contestÃ³

In [73]:
df.P5_7_1
df.P5_7_3
df.P5_7_4
df.P5_7_5
df.P5_7_6
df.P5_7_7.head(3)

0    9999.0
1     200.0
2    9999.0
Name: P5_7_7, dtype: float64

In [74]:
df.drop('P5_7_1',1, inplace=True)
df.drop('P5_7_3',1, inplace=True)
df.drop('P5_7_4',1, inplace=True)
df.drop('P5_7_5',1, inplace=True)
df.drop('P5_7_6',1, inplace=True)
df.drop('P5_7_7',1, inplace=True)

In [75]:
df.head()

,VIV_SEL,HOGAR,N_INF,P4_1_1,P4_1_2,P4_1_3,P4_1_4,P4_1_5,P4_1_6,P4_2_1,...,P5_6_6,P5_6_7,P5_10_1,P5_10_2,P5_10_3,CD_ENDUTIH,ENT,FAC_HOG,UPM_DIS,EST_DIS
0,1,1,2,1,1,1,1,1,2,1,...,2,2,1,2,1,14,1,144,1,3
1,2,1,1,2,1,2,1,1,2,2,...,2,1,1,1,3,14,1,144,1,3
2,3,1,1,1,1,1,1,1,1,2,...,2,2,1,2,1,14,1,144,1,3
3,4,1,1,2,2,2,2,1,2,2,...,2,1,1,3,3,14,1,144,1,3
4,4,2,1,2,2,2,2,1,2,2,...,2,1,1,3,3,14,1,144,1,3

In [76]:
df.FAC_HOG.value_counts().head()

56    1034
64    1019
54    1019
44    1017
42    1008
Name: FAC_HOG, dtype: int64

In [77]:
n = df.columns.values.tolist()

In [78]:
m = round(df.shape[0]*.50)
m

67670

In [79]:
df.N_INF.value_counts().get(99)

In [80]:
l = []
for i in n:

    if df[i].value_counts().get(99) is not None:
        val =  df[i].value_counts().get(99)
        if m < val:
            print('columna '+str(i)+ '  mitad '+str(m)+ '   totalnul '+str(val))
            l.append(i)
            df.drop(i, 1, inplace=True)

columna P4_6_1  mitad 67670   totalnul 74670
columna P4_6_2  mitad 67670   totalnul 74670
columna P4_6_3  mitad 67670   totalnul 74670
columna P4_6_4  mitad 67670   totalnul 74670
columna P4_6_5  mitad 67670   totalnul 74670
columna P4_6_6  mitad 67670   totalnul 74670
columna P4_7_1  mitad 67670   totalnul 94270
columna P4_7_2  mitad 67670   totalnul 94270
columna P4_7_3  mitad 67670   totalnul 94270
columna P4_7_4  mitad 67670   totalnul 94270
columna P4_7_5  mitad 67670   totalnul 94270
columna P4_8  mitad 67670   totalnul 75033
columna P5_3  mitad 67670   totalnul 71872

In [81]:
df.head()

,VIV_SEL,HOGAR,N_INF,P4_1_1,P4_1_2,P4_1_3,P4_1_4,P4_1_5,P4_1_6,P4_2_1,...,P5_6_6,P5_6_7,P5_10_1,P5_10_2,P5_10_3,CD_ENDUTIH,ENT,FAC_HOG,UPM_DIS,EST_DIS
0,1,1,2,1,1,1,1,1,2,1,...,2,2,1,2,1,14,1,144,1,3
1,2,1,1,2,1,2,1,1,2,2,...,2,1,1,1,3,14,1,144,1,3
2,3,1,1,1,1,1,1,1,1,2,...,2,2,1,2,1,14,1,144,1,3
3,4,1,1,2,2,2,2,1,2,2,...,2,1,1,3,3,14,1,144,1,3
4,4,2,1,2,2,2,2,1,2,2,...,2,1,1,3,3,14,1,144,1,3

In [22]:
#df.to_csv('tr_hogar_clean2.csv')

In [82]:
df_copy = df.copy()

In [83]:
df_copy.HOGAR.value_counts()

1    132266
2      2593
3       383
4        81
5        18
Name: HOGAR, dtype: int64

In [84]:
df_copy.VIV_SEL.value_counts()

2     17763
3     17741
1     17642
4     17631
5     17587
8      5226
9      5215
7      5189
6      5187
10     5177
11     2105
12     2085
16     2075
15     2072
17     2072
13     2054
14     2047
18     2044
19     2036
20     1899
21      224
22       68
23       13
26       13
30       12
38       12
37       12
28       12
31       12
32       11
35       11
34       11
40       11
29       11
27       11
24       11
33       10
36       10
25       10
39        9
Name: VIV_SEL, dtype: int64

In [86]:
df_copy.N_INF.value_counts()

1     64503
2     53517
3      9758
4      4585
5      1862
6       692
7       245
8        96
9        36
10       20
11       14
12        7
13        4
21        1
16        1
Name: N_INF, dtype: int64

In [87]:
df_copy.head()

,VIV_SEL,HOGAR,N_INF,P4_1_1,P4_1_2,P4_1_3,P4_1_4,P4_1_5,P4_1_6,P4_2_1,...,P5_6_6,P5_6_7,P5_10_1,P5_10_2,P5_10_3,CD_ENDUTIH,ENT,FAC_HOG,UPM_DIS,EST_DIS
0,1,1,2,1,1,1,1,1,2,1,...,2,2,1,2,1,14,1,144,1,3
1,2,1,1,2,1,2,1,1,2,2,...,2,1,1,1,3,14,1,144,1,3
2,3,1,1,1,1,1,1,1,1,2,...,2,2,1,2,1,14,1,144,1,3
3,4,1,1,2,2,2,2,1,2,2,...,2,1,1,3,3,14,1,144,1,3
4,4,2,1,2,2,2,2,1,2,2,...,2,1,1,3,3,14,1,144,1,3

In [88]:
df.P4_1_1.value_counts()

1    77498
2    57843
Name: P4_1_1, dtype: int64

In [89]:
df.P4_1_2.value_counts()

2    71858
1    63483
Name: P4_1_2, dtype: int64

In [90]:
df.P4_1_3.value_counts()

1    95652
2    39689
Name: P4_1_3, dtype: int64

In [91]:
df.P4_1_4.value_counts()

2    114864
1     20477
Name: P4_1_4, dtype: int64

In [92]:
df.P4_1_5.value_counts()

1    123412
2     11929
Name: P4_1_5, dtype: int64

In [93]:
df.P4_1_6.value_counts()

2    118148
1     17193
Name: P4_1_6, dtype: int64

In [94]:
df.columns.values.tolist()

['VIV_SEL',
 'HOGAR',
 'N_INF',
 'P4_1_1',
 'P4_1_2',
 'P4_1_3',
 'P4_1_4',
 'P4_1_5',
 'P4_1_6',
 'P4_2_1',
 'P4_2_2',
 'P4_2_3',
 'P4_3',
 'P4_4',
 'P4_5',
 'P5_1',
 'P5_2_1',
 'P5_2_2',
 'P5_4',
 'P5_5_1',
 'P5_5_2',
 'P5_5_3',
 'P5_5_4',
 'P5_6_1',
 'P5_6_2',
 'P5_6_3',
 'P5_6_4',
 'P5_6_5',
 'P5_6_6',
 'P5_6_7',
 'P5_10_1',
 'P5_10_2',
 'P5_10_3',
 'CD_ENDUTIH',
 'ENT',
 'FAC_HOG',
 'UPM_DIS',
 'EST_DIS']

In [95]:
df_copy.P4_2_1.value_counts()

2    113113
1     22228
Name: P4_2_1, dtype: int64

In [96]:
df_copy.P4_2_2.value_counts()

2    90541
1    44800
Name: P4_2_2, dtype: int64

In [97]:
df_copy.P4_2_3.value_counts()

2    102663
1     32678
Name: P4_2_3, dtype: int64

## cambiar 99 a valor pequeÃ±o para evitar dispersiÃ³n grande

## serÃ¡ 6 el valor para nulos o no responden

In [98]:
df_copy.P4_3.value_counts()

99    65052
1     39329
2     13652
3     10003
4      4287
5      3018
Name: P4_3, dtype: int64

In [104]:
df_copy.P4_3 = df_copy.P4_3.astype('str')
df_copy.P4_3.replace({'99':'6'}, inplace=True)

In [105]:
df_copy.P4_3 = df_copy.P4_3.astype('float').astype('int64')

In [106]:
df_copy.P4_3.value_counts()

6    65052
1    39329
2    13652
3    10003
4     4287
5     3018
Name: P4_3, dtype: int64

In [107]:
df_copy.P4_4.value_counts()

1    75001
2    60340
Name: P4_4, dtype: int64

In [108]:
df_copy.P4_5.value_counts()

99    60467
1     33803
3     26868
2     14203
Name: P4_5, dtype: int64

In [109]:
df_copy.P4_5 = df_copy.P4_5.astype('str')
df_copy.P4_5.replace({'99':'4'}, inplace=True)
df_copy.P4_5 = df_copy.P4_5.astype('float').astype('int64')

In [110]:
df_copy.P4_5.value_counts()

4    60467
1    33803
3    26868
2    14203
Name: P4_5, dtype: int64

In [111]:
df_copy.P5_1.value_counts()

1    71872
2    63469
Name: P5_1, dtype: int64

In [113]:
df_copy.columns

Index(['VIV_SEL', 'HOGAR', 'N_INF', 'P4_1_1', 'P4_1_2', 'P4_1_3', 'P4_1_4',
       'P4_1_5', 'P4_1_6', 'P4_2_1', 'P4_2_2', 'P4_2_3', 'P4_3', 'P4_4',
       'P4_5', 'P5_1', 'P5_2_1', 'P5_2_2', 'P5_4', 'P5_5_1', 'P5_5_2',
       'P5_5_3', 'P5_5_4', 'P5_6_1', 'P5_6_2', 'P5_6_3', 'P5_6_4', 'P5_6_5',
       'P5_6_6', 'P5_6_7', 'P5_10_1', 'P5_10_2', 'P5_10_3', 'CD_ENDUTIH',
       'ENT', 'FAC_HOG', 'UPM_DIS', 'EST_DIS'],
      dtype='object')

In [114]:
df_copy.P5_2_1.value_counts()

99    63469
1     44437
2     27435
Name: P5_2_1, dtype: int64

In [115]:
df_copy.P5_2_1 = df_copy.P5_2_1.astype('str')
df_copy.P5_2_1.replace({'99':'3'}, inplace=True)
df_copy.P5_2_1 = df_copy.P5_2_1.astype('float').astype('int64')

In [116]:
df_copy.P5_2_1.value_counts()

3    63469
1    44437
2    27435
Name: P5_2_1, dtype: int64

In [117]:
df_copy.P5_2_2.value_counts()

99    63469
2     44139
1     27733
Name: P5_2_2, dtype: int64

In [118]:
df_copy.P5_2_2 = df_copy.P5_2_2.astype('str')
df_copy.P5_2_2.replace({'99':'3'}, inplace=True)
df_copy.P5_2_2 = df_copy.P5_2_2.astype('float').astype('int64')

In [119]:
df_copy.P5_2_2.value_counts()

3    63469
2    44139
1    27733
Name: P5_2_2, dtype: int64

In [120]:
df_copy.P5_4.value_counts()

2    84932
1    50409
Name: P5_4, dtype: int64

In [121]:
df_copy.P5_5_1.value_counts()

1    75001
2    60340
Name: P5_5_1, dtype: int64

In [122]:
df_copy.P5_5_2.value_counts()

1    71872
2    63469
Name: P5_5_2, dtype: int64

In [123]:
df_copy.P5_5_3.value_counts()

2    84932
1    50409
Name: P5_5_3, dtype: int64

In [124]:
df_copy.columns

Index(['VIV_SEL', 'HOGAR', 'N_INF', 'P4_1_1', 'P4_1_2', 'P4_1_3', 'P4_1_4',
       'P4_1_5', 'P4_1_6', 'P4_2_1', 'P4_2_2', 'P4_2_3', 'P4_3', 'P4_4',
       'P4_5', 'P5_1', 'P5_2_1', 'P5_2_2', 'P5_4', 'P5_5_1', 'P5_5_2',
       'P5_5_3', 'P5_5_4', 'P5_6_1', 'P5_6_2', 'P5_6_3', 'P5_6_4', 'P5_6_5',
       'P5_6_6', 'P5_6_7', 'P5_10_1', 'P5_10_2', 'P5_10_3', 'CD_ENDUTIH',
       'ENT', 'FAC_HOG', 'UPM_DIS', 'EST_DIS'],
      dtype='object')

In [125]:
df_copy.P5_5_4.value_counts()

2    101819
1     33522
Name: P5_5_4, dtype: int64

In [126]:
df_copy.P5_6_1.value_counts()

2     87586
99    33812
1     13943
Name: P5_6_1, dtype: int64

In [127]:
df_copy.P5_6_1 = df_copy.P5_6_1.astype('str')
df_copy.P5_6_1.replace({'99':'3'}, inplace=True)
df_copy.P5_6_1 = df_copy.P5_6_1.astype('float').astype('int64')

In [128]:
df_copy.P5_6_1.value_counts()

2    87586
3    33812
1    13943
Name: P5_6_1, dtype: int64

In [129]:
df_copy.P5_6_2.value_counts()

2     100692
99     33827
1        822
Name: P5_6_2, dtype: int64

In [130]:
df_copy.P5_6_2 = df_copy.P5_6_2.astype('str')
df_copy.P5_6_2.replace({'99':'3'}, inplace=True)
df_copy.P5_6_2 = df_copy.P5_6_2.astype('float').astype('int64')

In [131]:
df_copy.P5_6_2.value_counts()

2    100692
3     33827
1       822
Name: P5_6_2, dtype: int64

In [132]:
df_copy.P5_6_3.value_counts()

2     89331
99    33792
1     12218
Name: P5_6_3, dtype: int64

In [133]:
df_copy.P5_6_3 = df_copy.P5_6_3.astype('str')
df_copy.P5_6_3.replace({'99':'3'}, inplace=True)
df_copy.P5_6_3 = df_copy.P5_6_3.astype('float').astype('int64')
df_copy.P5_6_3.value_counts()

2    89331
3    33792
1    12218
Name: P5_6_3, dtype: int64

In [134]:
df_copy.P5_6_4.value_counts()

2     75337
99    33724
1     26280
Name: P5_6_4, dtype: int64

In [135]:
df_copy.P5_6_4 = df_copy.P5_6_4.astype('str')
df_copy.P5_6_4.replace({'99':'3'}, inplace=True)
df_copy.P5_6_4 = df_copy.P5_6_4.astype('float').astype('int64')
df_copy.P5_6_4.value_counts()

2    75337
3    33724
1    26280
Name: P5_6_4, dtype: int64

In [136]:
df_copy.P5_6_5.value_counts()

2     56521
1     45147
99    33673
Name: P5_6_5, dtype: int64

In [137]:
df_copy.P5_6_5 = df_copy.P5_6_5.astype('str')
df_copy.P5_6_5.replace({'99':'3'}, inplace=True)
df_copy.P5_6_5 = df_copy.P5_6_5.astype('float').astype('int64')
df_copy.P5_6_5.value_counts()

2    56521
1    45147
3    33673
Name: P5_6_5, dtype: int64

In [138]:
df_copy.columns

Index(['VIV_SEL', 'HOGAR', 'N_INF', 'P4_1_1', 'P4_1_2', 'P4_1_3', 'P4_1_4',
       'P4_1_5', 'P4_1_6', 'P4_2_1', 'P4_2_2', 'P4_2_3', 'P4_3', 'P4_4',
       'P4_5', 'P5_1', 'P5_2_1', 'P5_2_2', 'P5_4', 'P5_5_1', 'P5_5_2',
       'P5_5_3', 'P5_5_4', 'P5_6_1', 'P5_6_2', 'P5_6_3', 'P5_6_4', 'P5_6_5',
       'P5_6_6', 'P5_6_7', 'P5_10_1', 'P5_10_2', 'P5_10_3', 'CD_ENDUTIH',
       'ENT', 'FAC_HOG', 'UPM_DIS', 'EST_DIS'],
      dtype='object')

In [139]:
df_copy.P5_6_6.value_counts()

2     91772
99    33777
1      9792
Name: P5_6_6, dtype: int64

In [140]:
df_copy.P5_6_6 = df_copy.P5_6_6.astype('str')
df_copy.P5_6_6.replace({'99':'3'}, inplace=True)
df_copy.P5_6_6 = df_copy.P5_6_6.astype('float').astype('int64')
df_copy.P5_6_6.value_counts()

2    91772
3    33777
1     9792
Name: P5_6_6, dtype: int64

In [141]:
df_copy.P5_6_7.value_counts()

2     76137
99    33779
1     25425
Name: P5_6_7, dtype: int64

In [142]:
df_copy.P5_6_7 = df_copy.P5_6_7.astype('str')
df_copy.P5_6_7.replace({'99':'3'}, inplace=True)
df_copy.P5_6_7 = df_copy.P5_6_7.astype('float').astype('int64')
df_copy.P5_6_7.value_counts()

2    76137
3    33779
1    25425
Name: P5_6_7, dtype: int64

In [143]:
df_copy.P5_10_1.value_counts()

1     57464
99    34667
3     26818
2     16392
Name: P5_10_1, dtype: int64

In [144]:
df_copy.P5_10_1 = df_copy.P5_10_1.astype('str')
df_copy.P5_10_1.replace({'99':'4'}, inplace=True)
df_copy.P5_10_1 = df_copy.P5_10_1.astype('float').astype('int64')
df_copy.P5_10_1.value_counts()

1    57464
4    34667
3    26818
2    16392
Name: P5_10_1, dtype: int64

In [145]:
df_copy.columns

Index(['VIV_SEL', 'HOGAR', 'N_INF', 'P4_1_1', 'P4_1_2', 'P4_1_3', 'P4_1_4',
       'P4_1_5', 'P4_1_6', 'P4_2_1', 'P4_2_2', 'P4_2_3', 'P4_3', 'P4_4',
       'P4_5', 'P5_1', 'P5_2_1', 'P5_2_2', 'P5_4', 'P5_5_1', 'P5_5_2',
       'P5_5_3', 'P5_5_4', 'P5_6_1', 'P5_6_2', 'P5_6_3', 'P5_6_4', 'P5_6_5',
       'P5_6_6', 'P5_6_7', 'P5_10_1', 'P5_10_2', 'P5_10_3', 'CD_ENDUTIH',
       'ENT', 'FAC_HOG', 'UPM_DIS', 'EST_DIS'],
      dtype='object')

In [146]:
df_copy.P5_10_2.value_counts()

1     58284
99    33843
3     29947
2     13267
Name: P5_10_2, dtype: int64

In [147]:
df_copy.P5_10_2 = df_copy.P5_10_2.astype('str')
df_copy.P5_10_2.replace({'99':'4'}, inplace=True)
df_copy.P5_10_2 = df_copy.P5_10_2.astype('float').astype('int64')
df_copy.P5_10_2.value_counts()

1    58284
4    33843
3    29947
2    13267
Name: P5_10_2, dtype: int64

In [148]:
df_copy.P5_10_3.value_counts()

3     51410
1     44893
99    33903
2      5135
Name: P5_10_3, dtype: int64

In [149]:
df_copy.P5_10_3 = df_copy.P5_10_3.astype('str')
df_copy.P5_10_3.replace({'99':'4'}, inplace=True)
df_copy.P5_10_3 = df_copy.P5_10_3.astype('float').astype('int64')
df_copy.P5_10_3.value_counts()

3    51410
1    44893
4    33903
2     5135
Name: P5_10_3, dtype: int64

In [150]:
df_copy.CD_ENDUTIH.value_counts()

99    44381
1      4533
3      2711
2      2701
38     1934
5      1904
59     1900
14     1881
31     1876
27     1855
28     1843
20     1831
25     1822
37     1810
36     1810
6      1798
24     1798
16     1796
32     1791
39     1788
62     1786
19     1785
15     1780
52     1779
17     1773
8      1767
33     1765
65     1763
26     1757
49     1748
40     1747
67     1746
4      1743
55     1728
7      1724
44     1722
23     1720
18     1717
70     1715
9      1704
10     1699
21     1697
29     1689
13     1677
43     1671
22     1667
30     1661
41     1634
46     1631
12     1583
Name: CD_ENDUTIH, dtype: int64

In [151]:
df_copy.CD_ENDUTIH = df_copy.CD_ENDUTIH.astype('str')
df_copy.CD_ENDUTIH.replace({'99':'71'}, inplace=True)
df_copy.CD_ENDUTIH = df_copy.CD_ENDUTIH.astype('float').astype('int64')
df_copy.CD_ENDUTIH.value_counts()

71    44381
1      4533
3      2711
2      2701
38     1934
5      1904
59     1900
14     1881
31     1876
27     1855
28     1843
20     1831
25     1822
37     1810
36     1810
6      1798
24     1798
16     1796
32     1791
39     1788
62     1786
19     1785
15     1780
52     1779
17     1773
8      1767
33     1765
65     1763
26     1757
49     1748
40     1747
67     1746
4      1743
55     1728
7      1724
44     1722
23     1720
18     1717
70     1715
9      1704
10     1699
21     1697
29     1689
13     1677
43     1671
22     1667
30     1661
41     1634
46     1631
12     1583
Name: CD_ENDUTIH, dtype: int64

In [154]:
df_copy.ENT.value_counts()

28    7989
11    7094
2     6693
30    6499
16    5228
26    5040
21    5031
7     5020
25    4986
15    4917
8     4775
12    4625
5     4361
14    4226
19    4213
10    3648
31    3381
3     3354
6     3314
29    3300
1     3285
4     3243
20    3241
18    3238
32    3189
22    3152
17    3144
27    3127
23    3086
13    3044
24    3043
9     2855
Name: ENT, dtype: int64

In [155]:
df_copy.columns

Index(['VIV_SEL', 'HOGAR', 'N_INF', 'P4_1_1', 'P4_1_2', 'P4_1_3', 'P4_1_4',
       'P4_1_5', 'P4_1_6', 'P4_2_1', 'P4_2_2', 'P4_2_3', 'P4_3', 'P4_4',
       'P4_5', 'P5_1', 'P5_2_1', 'P5_2_2', 'P5_4', 'P5_5_1', 'P5_5_2',
       'P5_5_3', 'P5_5_4', 'P5_6_1', 'P5_6_2', 'P5_6_3', 'P5_6_4', 'P5_6_5',
       'P5_6_6', 'P5_6_7', 'P5_10_1', 'P5_10_2', 'P5_10_3', 'CD_ENDUTIH',
       'ENT', 'FAC_HOG', 'UPM_DIS', 'EST_DIS'],
      dtype='object')

In [156]:
df_copy.FAC_HOG.value_counts()

56      1034
64      1019
54      1019
44      1017
42      1008
57       964
37       953
71       930
58       926
39       924
66       897
63       880
50       878
68       873
41       872
52       860
55       860
49       848
65       847
46       841
62       827
43       824
47       809
61       800
127      798
67       797
60       797
51       794
38       770
53       770
        ...
2077       3
1750       3
1988       3
1732       3
1648       3
1880       3
1522       3
3186       3
2480       2
591        2
1432       2
1555       2
1687       2
1413       2
1925       2
587        2
2481       2
2214       2
2529       2
3064       2
1882       2
839        2
1799       2
2053       1
1472       1
2063       1
1232       1
783        1
1013       1
1252       1
Name: FAC_HOG, dtype: int64

In [157]:
df_copy.to_csv('hogares-clean-no-99.csv')